[2018-01-03 19:49] edwardh5 commented on #345
Forgot about the HTTPS protocol. That was exactly it! Thanks!

[2018-01-05 08:01] burakadam commented on #299
I fix it with "react-native link".

[2018-01-06 11:44] 7kfpun opened #360 "It would be great if we could set callback for sendTags onSuccess and onFailure"
https://github.com/geektimecoil/react-native-onesignal/blob/88f00a6f30bbf2986a570f908cff877b8ef71883/ios/RCTOneSignal/RCTOneSignal.m#L237-L242

[2018-01-06 20:27] HananeAlSamrout commented on #334
@ccoeder  make sure also to set onesignal in xcode AppDelegate as follows:
[code]
  and
[code]

[2018-01-06 20:28] HananeAlSamrout commented on #334
@natterstefan true, only for ios devices, i am also facing this issue on android i didn't find a solution yet

[2018-01-08 21:38] lucianomlima opened #361 "getPermissionSubscriptionState don't works"
react v16.0.0
react-native v0.50.4
react-native-onesignal v3.0.7

I'm try to get the status os subscription but I can't see nothing.
[code]

What is the problem?

[2018-01-09 09:09] minhmera commented on #161
anyone fix this bug ? i am facing on RN 0.51 and react-native-onesignal ^3.0.5

[2018-01-10 19:15] varmais opened #362 "[iOS] Build fails due to ARC restrictions"
Hello and huge thanks for all contributors for this library. I've managed to install it for Android and it's up and running well, but I'm having slight problems with iOS installation.

Errors I'm having:
- Implicit declaration of function 'RCTRunningInAppExtension' is invalid in C99 (RCTOneSignal.m line 117)
- Implicit declaration of function 'RCTSharedApplication' is invalid in C99 (RCTOneSignal.

[2018-01-11 21:12] jpmazza commented on #4
I cannot get the playerId.
I tried with `OneSignal.idsAvailable` but is not a function. Also tried with `OneSignal.getUserId` and it display the error "is not a function".

How can I get the player id? I have installed the version 3.0.7.

Thanks in advance!

[2018-01-12 17:52] ghost commented on #259
Thanks very much @negativetwelve

That solved my problem - I followed the guide over on Medium https://medium.com/differential/react-native-push-notifications-with-onesignal-9db6a7d75e1e which was incredibly helpful, it saved me a tonne of time - I'll add a comment on there to report of this, looking at the guide it seems that Pod isn't required either now.

Thanks for your help!

[2018-01-12 21:46] FrenchBully opened #363 "Push notifications disappear"
I have everything wired and working AFAIK.  The issue I'm running into is when a push notification comes through and I ignore it by not clicking on it. The notification will eventually disappear from my notification history after several minutes. Testing on iOS, and not for android.

[2018-01-13 04:19] jkasten2 commented on #363
@FrenchBully Are you setting badges? If so badges will be cleared by the OneSignal SDK when the app is opened / resumed. When the app's badges are cleared iOS will automatically remove all notifications for your app from the notification center.

To disable the badge clearing done by the OneSignal SDK follow the guide below.
https://documentation.onesignal.com/docs/appearance#section-setting-and-c

[2018-01-13 04:46] jkasten2 commented on #359
@shukerullah Android does not display the notification directly like iOS does. The app or the SDK in this case needs to parse the payload received from GCM / FCM and generate a notification. The payload format sent from the Firebase panel or from other services won't be in the format the OneSignal SDK is expecting.

[2018-01-13 16:33] varmais commented on #362
Alright, this was happening due to this library installing React Native 0.11.0 via Pods. In case anyone wonders how to circumvent that, you have to follow this guide: https://facebook.github.io/react-native/docs/integration-with-existing-apps.html and your Podfile should include these dependencies:

[code]

[2018-01-13 16:33] #362 closed, assigned to nobody

[2018-01-14 00:10] ziadalame opened #364 "Notification action buttons not appearing"
I'm trying to send notifications with action buttons. The notifications arrive and work perfectly - however actions do not appear on either android (7.0) or iOS (11.2.1)

I am sending this body with the post request to https://onesignal.com/api/v1/notifications | I even tried the OS UI dashboard tool and nothing worked.
[code]

Any thoughts or suggestions on how to solve or debug this?

[2018-01-14 17:43] ziadalame commented on #364
### UPDATE

Android is now working after updating the payload of the ```buttons``` object in the POST request.
iOS still no thing.
[code]

any ideas?

[2018-01-14 20:14] arindam89 commented on #363
I am also having the same issue and I am not setting the badge count.  Sometimes even the app also does not open up.

[2018-01-15 11:19] shukerullah commented on #359
Thanks for the response.

[2018-01-15 21:38] #359 closed, assigned to nobody

[2018-01-15 21:39] Nightsd01 commented on #364
Hi @ziadalame in iOS you need to set up the OneSignalNotificationServiceExtension in order for buttons (as well as images, etc) to appear in push notifications.

You can open the iOS Xcode Project and follow the following guide to create this extension:

https://github.com/Nightsd01/react-native-onesignal#add-notification-service-extension

[2018-01-15 21:59] Nightsd01 commented on #360
The iOS SDK has this functionality, however the Android SDK is a little bit more complex since calling the sendTags function doesn't directly trigger an HTTP request and instead it just updates a property that gets synchronized at a later time with OneSignal

This is definitely a good idea though and we will make a note of it, thank you

[2018-01-15 22:01] Nightsd01 commented on #356
Can you please post the stack trace, what version you are using, and so on?

[2018-01-15 22:20] Nightsd01 commented on #335
Here is the problem, the `postNotification()` function takes four parameters, you can't just provide the JSON body of the entire notification.

Here is the definition of the `postNotification()` function:

```    static postNotification(contents, data, player_id, otherParameters)```

Sending in all four parameters will resolve this particular issue.

[2018-01-16 13:34] ziadalame commented on #364
Fantastic works like a charm.

[2018-01-16 13:34] #364 closed, assigned to nobody

[2018-01-16 21:33] FrenchBully commented on #363
I actually found the issue, thanks. A colleague was clearing the notification else where in the code, which I was eventually able to track down.

[2018-01-17 12:22] jslok commented on #315
Same issue. Can someone please share the solution?

[2018-01-17 18:49] michael-lianto opened #365 "package com.geektime.rnonesignalandroid does not exist"
Hi, I've been trying to install onesignal to my detached expokit project.
i've been following this guide https://github.com/geektimecoil/react-native-onesignal#android-installation
but, it gave me error

[code]

here's my android/gradle/wrapper/gradle-wrapper.properties
[code]
here's my setting.gradle
[code]
here's my android/build.gradle

[code]
here is my android/app/build.gradle
[code]
And last

[2018-01-18 02:39] #335 closed, assigned to nobody

[2018-01-18 02:41] Nightsd01 commented on #351
@harish-rw  Sorry to hear about this problem, whenever you are experiencing an issue like this you should post the stack-trace so we can see what happened.

I am closing this issue due to inactivity, but if you are still experiencing this issue please feel free to let me know and I will re-open.

[2018-01-18 02:41] #351 closed, assigned to nobody

[2018-01-18 13:08] leoskyrocker commented on #262
@jkasten2 are you aware of anyone working on adding options to this? It seems like a missing piece to reach full-parity.

[2018-01-18 13:11] leoskyrocker commented on #261
'zh-Hant' is working for me when I also have a 'en' message (I haven't tried whether it works without 'en')

Try the following:
[code]

[2018-01-18 13:34] leoskyrocker commented on #262
seems like an overlook. someone added this feature here: https://github.com/geektimecoil/react-native-onesignal/pull/266.
Currently I cannot get it working yet though but it looks like what I was expecting.

[2018-01-18 14:02] leoskyrocker commented on #262
Confirmed that this is working for me! (My use case was to set small_icon & large_icon)
The way I passed the params is as follow:
```OneSignal.postNotification(contents, {}, onesignalPlayerId, {small_icon: 'ic_stat_name', large_icon: 'ic_launcher'})```

I'll try to see if I have time to update the docs in the next few days. yay!

[2018-01-18 14:05] leoskyrocker commented on #253
Hi @joshuaalpuerto @neo125874, extra options can be passed into the function like this:
```OneSignal.postNotification(contents, data, playerId, {subtitle: 'subtitle', headings: {"en": "English Title", "es": "Spanish Title"}})```

It is undocumented and implemented since v3.0.5 by https://github.com/geektimecoil/react-native-onesignal/pull/266

[2018-01-18 14:13] leoskyrocker commented on #295
change
[code]
to
[code]

[2018-01-18 14:15] leoskyrocker opened #367 "Document how to pass options to postNotification"
I came across a few unresolved issues related to how to pass additional options to postNotification.
It is undocumented currently but actually implemented since v3.0.5 via https://github.com/geektimecoil/react-native-onesignal/pull/266.
It is now possible to call postNotification like this:
[code]
where otherParameters is anything options supported by [create-notification](https://documentation.on

[2018-01-18 14:19] leoskyrocker commented on #110
It's now possible. See https://github.com/geektimecoil/react-native-onesignal/issues/367 and https://github.com/geektimecoil/react-native-onesignal/pull/266

[2018-01-18 15:18] michael-lianto commented on #365
nvm, forgot to compile the react-native-onesignal..

[2018-01-18 15:18] #365 closed, assigned to nobody

[2018-01-18 21:09] Nightsd01 commented on #349
@EasonLex  closing this issue due to inactivity. If you are still experiencing this issue, please make sure to post the full stack trace and feel free to reply, thanks.

[2018-01-18 21:09] #349 closed, assigned to nobody

[2018-01-18 21:27] Nightsd01 commented on #358
Hi @kesiena115 , I am unable to reproduce this issue. If you are still encountering this problem with duplicates, could you send me an example of the JSON you're sending to OneSignal to create the notification? Or if you are sending the notification via the web dashboard, can you tell me some of the settings you are using?

[2018-01-18 21:28] Nightsd01 commented on #356
@AbdelhalimAhmed closing due to inactivity, please feel free to reply if you are still encountering this issue and make sure to post a stack trace.

[2018-01-18 21:28] #356 closed, assigned to nobody

[2018-01-18 21:51] Nightsd01 commented on #326
Hi @rh389 , I am unable to reproduce this issue but I've seen similar behavior in older versions of React. Are you still having this issue? I will close this issue due to inactivity however if you are still encountering this problem, please feel free to respond and I'll reopen the issue.

[2018-01-18 21:51] #326 closed, assigned to nobody

[2018-01-18 21:54] Nightsd01 commented on #346
Hi @dogcity , are you still having this issue? Normally you should use npm to install the OneSignal dependency in React Native, not cocoapods. Closing issue due to inactivity, please feel free to respond if you are still encountering this issue.

[2018-01-18 21:54] #346 closed, assigned to nobody

[2018-01-18 22:00] robhogan commented on #326
I’ll double check when I get chance, but I don’t think this has been addressed yet. I’ll ask for a reopen later if so.

[2018-01-19 02:01] Nightsd01 commented on #337
Hi @nickpedersen , sorry for the long delay, I've recently started working on OneSignal and I'd like to help you if you're still seeing these crashes.

The `configure()` function calls the `idsAvailable:` method in the iOS SDK, which eventually causes the `ids` event to be called in React providing the userId and push token. If you are still seeing crashes could you send me a stack trace?

Due to

[2018-01-19 02:01] #337 closed, assigned to nobody

[2018-01-19 07:15] andreechristian commented on #127
@HananeAlSamrout solution works for me! Thanks

[2018-01-20 23:53] Amurmurmur opened #368 "objc-class-ref in libRCTOneSignal.a(RCTOneSignalExtensionService.o)"
Upgraded to react-native-onesignal 3.0.8 started to get this error on iOS
[code]

[2018-01-21 01:04] Nightsd01 commented on #368
It looks like this is due to selecting the simulator as your run target (not a real iOS device which is x86_64)

Since push notifications are not available in simulator, onesignal push notifications won’t work. However that should not stop you from running the simulator entirely, since you should be able to test the rest of your application in the simulator.

Sorry about this issue. I will go ahea

[2018-01-21 02:11] Amurmurmur commented on #368
@Nightsd01 Thank you very much for such a quick response!
Im looking forward for the coming updates 👍

[2018-01-22 02:12] ujwal-setlur commented on #368
Ahh, I am running into this too. Simulator build fails. Device build is fine. I will stick with 3.0.7 until this is fixed.

[2018-01-22 03:06] leoskyrocker commented on #367
Closing as it got documented in https://github.com/geektimecoil/react-native-onesignal/pull/366/commits/5b69508d6b405ccfd3a6f1a0bb4f208f8a0141ad.

Thanks @Nightsd01!

[2018-01-22 03:06] #367 closed, assigned to nobody

[2018-01-22 03:09] leoskyrocker commented on #367
@avishayil you could probably close all the other issues too =)

[2018-01-22 04:40] Doko-Demo-Doa opened #369 "Undefined symbols for architecture x86_64: Symbol: _kOSSettingsKeyAutoPrompt"
I was using 3.0.7. After upgrading to 3.0.8, I encountered this error.

[code]

[2018-01-22 08:35] #262 closed, assigned to nobody

[2018-01-22 08:35] #261 closed, assigned to nobody

[2018-01-22 08:35] #253 closed, assigned to nobody

[2018-01-22 08:35] #142 closed, assigned to avishayil

[2018-01-22 08:35] #295 closed, assigned to nobody

[2018-01-22 08:36] #363 closed, assigned to nobody

[2018-01-22 08:38] avishayil commented on #350
Hi, that doesn't seem like an error with this library, but with google-signin library. Can you open a repository with the bug reproduced for extra checks?

[2018-01-22 08:38] #345 closed, assigned to nobody

[2018-01-22 08:39] avishayil commented on #344
You're right, we'll try to do it from now on.

[2018-01-22 08:39] #339 closed, assigned to nobody

[2018-01-22 08:41] avishayil commented on #325
We'll do it in the near future.

[2018-01-22 08:42] #312 closed, assigned to nobody

[2018-01-22 08:42] avishayil commented on #311
You're right. Thanks for the heads-up.

[2018-01-22 08:42] #311 closed, assigned to nobody

[2018-01-22 08:43] #310 closed, assigned to nobody

[2018-01-22 08:44] avishayil commented on #352
Please make sure that you don't have multiple permission declarations in your Manifest.

[2018-01-22 08:44] #352 closed, assigned to nobody

[2018-01-22 08:45] avishayil commented on #303
I'm not sure how to handle this. @jkasten2 @Nightsd01

[2018-01-22 08:45] #307 closed, assigned to nobody

[2018-01-22 08:47] #279 closed, assigned to nobody

[2018-01-22 09:34] #298 closed, assigned to nobody

[2018-01-22 09:34] #302 closed, assigned to nobody

[2018-01-22 09:35] #288 closed, assigned to nobody

[2018-01-22 09:36] #259 closed, assigned to nobody

[2018-01-22 09:36] #267 closed, assigned to nobody

[2018-01-22 09:36] #276 closed, assigned to nobody

[2018-01-22 09:37] #260 closed, assigned to nobody

[2018-01-22 09:37] #226 closed, assigned to nobody

[2018-01-22 09:38] #255 closed, assigned to nobody

[2018-01-22 09:38] #257 closed, assigned to nobody

[2018-01-22 19:02] Nightsd01 commented on #369
Closing because duplicate of #368, will resolve this today, thank you for reporting it @Doko-Demo-Doa

[2018-01-22 19:02] #369 closed, assigned to nobody

[2018-01-23 02:20] Nightsd01 commented on #368
This issue has been addressed in #370 , thank you for reporting it!

[2018-01-23 07:10] #368 closed, assigned to nobody

[2018-01-23 07:27] ntnamag opened #371 "How to stop SyncService on Android app?"
SyncService usage large memory. How to disable it. I only use remote notification for user click and open the app.

[2018-01-23 19:30] ghost opened #372 "Push Notifications not always caught"
Hello,

Yes so I've recently implemented one signal into my app which is fantastic, although I have found that push notifications aren't always caught so that they're temperamental.

Essentially I have a map-based application, and different push notifications come in and then determine which screen to navigate too and this works most of the time but not always.

In my main Application file

I have

[2018-01-23 19:46] ghost commented on #237
Thanks, I opened up another issue before I came across this ... sorry but was just concerned as to why the event listeners weren't consistently being fired.

https://github.com/geektimecoil/react-native-onesignal/issues/372

[2018-01-23 19:55] ghost commented on #372
Sorry ... duplicate of issue https://github.com/geektimecoil/react-native-onesignal/issues/237, and already resolved in https://github.com/geektimecoil/react-native-onesignal/pull/355

[2018-01-23 19:55] #372 closed, assigned to nobody

[2018-01-23 21:08] avishayil commented on #342
Please reopen this if the issue still persist.

[2018-01-23 21:08] #342 closed, assigned to nobody

[2018-01-25 00:01] robhogan commented on #344
There's no reason the tags couldn't be added retrospectively. IMO, it's most useful for seeing which release first contained a particular commit, eg:

![image](https://user-images.githubusercontent.com/2590098/35363477-149b32c6-0162-11e8-8be7-fe14c98be303.png)

That comes in handy when you need to know which version to fall back to, or whether something you're watching has landed in a release yet.

[2018-01-25 01:51] sunweiyang opened #373 "Android: OneSignal AppId format is invalid -- java.lang.String.split(java.lang.String) on a null object reference"
I believe this invalid app ID issue is different from #135.

Observed on RN 0.50.4 - 0.52.1, on Android 7.0 - 8.0 (on both Pixel emulator and Samsung Galaxy Note 5); this issue is not necessarily limited to these versions/platforms.

I'm using react-native-onesignal for both my Android and iOS versions of my app. The iOS version works fine, but Android is having an issue with initializing OneSigna

[2018-01-25 07:12] faustoct1 opened #374 "iOS getPermissionSubscriptionState gives null token"
Try to get a token through OneSignal.getPermissionSubscriptionState(...) but  `status.token` is null. Testing on simulator.

[2018-01-25 16:54] rcorrie opened #375 "Multiple OneSignal apps"
Is it possible to register to more than one OneSignal apps (particularly, on android)?

Thank you for such a great library!

[2018-01-25 21:51] wprater commented on #157
this now works on the latest SDK

[2018-01-26 02:57] jumaediahsan commented on #262
so how to make button on pushnotification ,, any tutorials ?

[2018-01-26 07:06] leoskyrocker commented on #262
By no means a complete example nor tested.. but something along the line:

Define Handler on action taken:
[code]

Setup to listen to open event (which is also triggered when action taken) wherever you start your app:
[code]

Then if you're sending a P2P notification with postNotification, you would do:
[code]

[2018-01-26 17:12] digitaldavenyc commented on #368
@Nightsd01 I am getting this issue building to a real device (iPhone X). I have been trying to get this to build for a few hours with no luck. I installed the repo directly from the master branch. Still no dice. Would appreciate any help.

[code]

[2018-01-26 17:19] digitaldavenyc commented on #368
@Nightsd01 nvm I needed to re-import the xcode.project for the repo and add `libRCTOneSignal.a` to Linked Libraries again... Build is working on native device.

[2018-01-28 23:34] Nightsd01 commented on #375
Yes, you can have multiple OneSignal apps with their own unique App ID's. Please feel free to ask if you have any other questions

[2018-01-28 23:34] #375 closed, assigned to nobody

[2018-01-29 00:44] rcorrie commented on #375
@Nightsd01 Thanks, is there any documentation on how to set that up?

[2018-01-29 07:37] booker-laputa opened #376 "Amazon ADM support?"
I would like to ask if Amazon FDM supported?

[2018-01-29 10:11] avishayil commented on #376
I think it's a platform that competes with OneSignal, doesn't it?

[2018-01-29 10:15] avishayil commented on #374
Of course, you're not getting push token while you're using iOS simulator. Only on a real device.

[2018-01-29 10:15] #374 closed, assigned to nobody

[2018-01-29 10:15] avishayil commented on #361
Are you using real device or simulator?

[2018-01-29 10:19] avishayil commented on #358
@Nightsd01 I'm experiencing this issue as well.

[code]

[2018-01-29 10:20] #350 closed, assigned to nobody

[2018-01-29 10:21] avishayil commented on #332
@wkoutre Could you set up a PR with updates to the Readme file that includes this workaround for redux?

[2018-01-29 11:28] jkasten2 commented on #376
@booker-laputa Do you mean Amazon ADM to support Kindle Fire devices? You can follow the additional steps below to add support.
https://documentation.onesignal.com/docs/amazon-sdk-setup

[2018-01-29 11:49] mtt87 commented on #331
@avishayil are you closing this because it's fixed or another reason? Thank you

[2018-01-29 11:51] avishayil commented on #331
@mtt87 you found the solution yourself. It does expecting a string, so sending `false` as a boolean will not be accepted.

[2018-01-29 11:51] avishayil commented on #373
Make sure you're using the correct app id format by copying the app id from your account.
For the project number, please use "REMOTE", as the official documentation indicates.

[2018-01-29 11:51] #373 closed, assigned to nobody

[2018-01-29 11:53] avishayil commented on #344
These tags now been added.

[2018-01-29 11:53] #344 closed, assigned to nobody

[2018-01-29 11:53] mtt87 commented on #331
Yes but this behaviour is not correct because it should be either a `boolean` or a `string`.
On Android it works fine and it sends a boolean.

If you think it should only allow strings, then the Android implementation is wrong.

Do you see my point here?

[2018-01-29 11:54] avishayil commented on #331
I see. Let's hear what @Nightsd01 has to say on this, leaving this open.

[2018-01-29 11:54] avishayil commented on #334
It's now fixed on the latest release.

[2018-01-29 11:54] #334 closed, assigned to nobody

[2018-01-29 11:55] avishayil commented on #324
Please make sure you're using the latest version. Does this happens again?

[2018-01-29 11:56] #306 closed, assigned to nobody

[2018-01-29 11:56] avishayil commented on #291
https://documentation.onesignal.com/docs/customize-notification-sounds

[2018-01-29 11:56] #291 closed, assigned to nobody

[2018-01-29 11:58] #268 closed, assigned to nobody

[2018-01-29 11:58] #265 closed, assigned to nobody

[2018-01-29 11:59] #282 closed, assigned to nobody

[2018-01-29 12:01] mtt87 commented on #331
Given that the Android implementation works fine and can handle `boolean` values, and also OneSignal itself can handle `boolean` values, I would say that it's the iOS implementation that is wrong.

Unfortunately I don't know obj-c to be able to help myself but looks like a simple check "if it's a string or boolean" could work.

Thank you 😄

[2018-01-29 14:54] SamiChab commented on #4
Apparently it has now changed. According to the docs you have to add an event listener:
[code]

[2018-01-29 19:13] Nightsd01 commented on #331
Hello @mtt87 , thank you for reporting this issue.

I just tested this out. It looks like the `sendTag:value:` method will indeed expect only string values. However, the `sendTags:` method expects a dictionary. As long as you send the booleans with the `sendTags:` method, it works just fine.

For example, in react-native, sending the following values with the SDK works just fine. If you have probl

[2018-01-29 19:13] #331 closed, assigned to nobody

[2018-01-29 22:36] #182 closed, assigned to avishayil

[2018-01-29 22:37] #200 closed, assigned to nobody

[2018-01-29 22:37] #218 closed, assigned to nobody

[2018-01-29 22:38] #235 closed, assigned to nobody

[2018-01-29 22:38] #237 closed, assigned to nobody

[2018-01-29 22:39] #243 closed, assigned to nobody

[2018-01-29 22:39] #250 closed, assigned to nobody

[2018-01-29 22:40] avishayil commented on #258
This is not relevant with the latest SDK.

[2018-01-29 22:40] #258 closed, assigned to nobody

[2018-01-29 22:40] #263 closed, assigned to nobody

[2018-01-29 22:40] #285 closed, assigned to nobody

[2018-01-29 22:41] avishayil commented on #338
https://documentation.onesignal.com/docs/silent-notifications

[2018-01-29 22:41] #338 closed, assigned to nobody

[2018-01-31 13:40] colinramsay opened #377 "Notification Service Extension Issue"
With v3.0.9, having followed the instructions in the readme:

[code]

[2018-01-31 15:35] wkoutre commented on #332
@avishayil Sure thing. I’ll get to it by this evening

[2018-01-31 19:54] Nightsd01 commented on #377
@colinramsay When do you get this error, you are attempting to compile the primary App target for simulator I assume?

How did you include RCTOneSignal as a dependency in your project?

[2018-01-31 19:58] colinramsay commented on #377
This happens for simulator and device. We included as per the reader with the caveat that RN link didn’t work properly so we had to drag the xcproj into Xcode. That might be the source of the problem in that there’s another step we need to manually perform.

[2018-01-31 20:01] Nightsd01 commented on #377
@colinramsay when you say the RN link didn't work properly, what was the problem?

Are you saying you dragged RCTOneSignal.xcodeproj as a subproject of your Xcode project?

[2018-01-31 20:05] Nightsd01 commented on #377
When you look in your Xcode project settings (both for the app and the extension targets), do you see ***libRCTOneSignal.a*** as a framework in the ***Linked Frameworks and Libraries*** section?

<img width="1554" alt="ss_xcode" src="https://user-images.githubusercontent.com/8186991/35644795-d5843e62-067e-11e8-999a-3c27424cd9f3.png">

[2018-01-31 20:08] colinramsay commented on #377
We added that in build phases as per the readme so I think so; I’m not at a computer now to check.

The odd thing is that the errors we see refer to things in RN itself that it seems cannot be found.

[2018-01-31 20:25] Nightsd01 commented on #377
@colinramsay  This specifically started happening after you added the extension service? You were successfully able to run the app for both simulator & real iOS device before adding the extension?

[2018-01-31 20:30] colinramsay commented on #377
I’ll have to check on that but it does look like the source of the errors is the extension.

[2018-02-01 13:29] colinramsay commented on #377
Confirming that we do have libRCTOneSignal.a as a framework in the Linked Frameworks and Libraries section.

If I remove extension service target then the build succeeds.

[2018-02-01 16:57] wkoutre commented on #332
@avishayil PR made.

[2018-02-01 18:53] #332 closed, assigned to nobody

[2018-02-01 18:53] #361 closed, assigned to nobody

[2018-02-01 19:05] Nightsd01 commented on #377
Just to confirm, you have ***libRCTOneSignal.a*** in the Linked Frameworks and Libraries in _both_ the Extension _and_ the primary App's target, right?

[2018-02-01 19:06] colinramsay commented on #377
That's correct.

[2018-02-01 19:10] Nightsd01 commented on #377
Is your notification extension service in Swift or Objective-C?

[2018-02-01 19:10] colinramsay commented on #377
Swift, and I've added the bridging header as per the readme.

[2018-02-01 19:26] Nightsd01 commented on #377
This is probably the issue.

When you select the Extension target, go to ***Build Settings***, and look for the ***Objective-C Bridging Header*** setting, what is the value?

[2018-02-01 19:48] Nightsd01 commented on #270
Fixed in a recent update (3.0.9), you can now use the `setInFocusDisplayType:` from react-native and it should work correctly for both Android and iOS

[2018-02-01 19:48] #270 closed, assigned to nobody

[2018-02-01 20:29] Nightsd01 commented on #358
@jkasten2 I have been unable to reproduce this issue, perhaps you have an idea here?

[2018-02-01 22:00] Nightsd01 opened #379 "Rich Notifications in iOS 10/11"
It appears that a recent update has broken rich push notifications in iOS 10 & 11.

The push notifications are delivered however the image is not shown correctly. It appears that the push notification extension service is not launching correctly.

This is resolved by compiling the universal ***libOneSignal.a*** framework using an older version of Xcode (8.3.3) which appears to resolve the problem.

[2018-02-02 00:39] lucianomlima commented on #361
Real device

[2018-02-02 05:11] SamiChab commented on #200
I don't have any problem on Android, the event fires up without any problem.
But I struggle on iOS, where I don't, never, come into the `onIds()` function...
Adding `OneSignal.configure()` before or after the event listeners and before or after the rehydratation was completed (yes, I'm using `redux-persist`) didn't helped.
Has anyone an idea?

[2018-02-02 10:35] colinramsay commented on #377
I think you're probably right, but we've managed to get this working on our CI build so I think it was also related to something local to my computer. I guess expanding the docs to include exact instructions for the Obj-C Bridging Header might help for future issues. Thanks very much for spending time on this, it is appreciated.

[2018-02-02 10:43] colinramsay opened #380 "App freezes/hangs when pressing push notification if the app is closed"
We stripped our app back to bare bones and upgraded to the latest version of `react-native-onesignal` and were still seeing this. The app was unresponsive to use input, but there was nothing in any log that pointed at the problem.

This was fixed in a flash of genius by one of our developers who added:

[code]

Before our app is started with `AppRegistry.registerComponent`. This isn't specifically

[2018-02-02 13:55] kesiena115 commented on #358
@Nightsd01 you can re-create this issue by setting `android_group` in the JSON or by setting `Group Key` in the web dashboard. You simply need to set these fields to any value. In my case, it always vibrates and play the sound twice whenever I set that field. I experience this only on Android and I experience it constantly. This was not happening in the past. I only started noticing it few days be

[2018-02-02 17:25] nilaybrahmbhatt opened #381 "App crashes when notification arrives in opened application"
when application is opened then notification is displayed on application and then app crash.
is there any option to not displayed notification in alert when app opened ?

[2018-02-02 18:37] Nightsd01 commented on #381
Can you post a stack trace of the crash? Are you talking about Android or iOS...?

If you don't want an in-app alert to be displayed, you can call OneSignal.inFocusDisplaying(0) to set it to not display an alert (the OS will handle it)

[2018-02-02 18:37] #381 closed, assigned to nobody

[2018-02-03 22:33] kesiena115 commented on #358
@Nightsd01  and @jkasten2 I have done a few more tests with multiple devices and emulators. I noticed this problem exists only in the latest Android OS, so I guess it started happening after I updated my phone OS. I don't know the earliest Android OS that introduces this problem. However, I know this problem **exists in Android 8.1.0** but it **does not exist in Android 5.0.2**.

It's perhaps wort

[2018-02-05 05:55] LEEY19 opened #382 "Android methods are not called"
This is a really weird issue as I have been using OneSignal on android without issues. At one point I realised my Android phones are not receiving notifications. After debugging, I found out that `OneSignal.configure({})` is probably not working. To verify, I tried this
[code]
on iOS, the console displays the tags, but nothing appears when I tried on Android.

I tried removing the package and do `

[2018-02-05 20:32] isacoskun commented on #297
Hello, I have such a problem. How could I fix it?

https://stackoverflow.com/questions/48630943/when-i-want-to-create-apk-in-the-android-studio-i-get-this-error

[2018-02-05 20:35] isacoskun commented on #20
Hello, I have such a problem. How could I solve it?

https://stackoverflow.com/questions/48630943/when-i-want-to-create-apk-in-the-android-studio-i-get-this-error

[2018-02-05 23:54] JakeRawr commented on #329
I'm just got this error when upgrading to 3.0.9

[2018-02-05 23:58] adouceur commented on #382
Same here. I've been using One Signal before with no issues but on my latest app with latest package version it's impossible for me to get anything to happen on Android and the device doesn't register.

[2018-02-06 08:51] natterstefan commented on #334
@avishayil Sounds great, but only for iOS right?

[2018-02-06 09:28] avishayil commented on #334
Nope, also android.

[2018-02-07 07:11] nilaybrahmbhatt opened #383 "Notification Recieved but app stopped"
When received notification it displayed in the notification bar but after that app stopped working.

react-native : 0.52.0
react-native-onesignal: 3.0.8

![](https://im.ezgif.com/tmp/ezgif-1-4dec264ef6.gif)

[2018-02-07 10:14] el-lsan commented on #380
I was facing the same issue and adding `OneSignal.configure({})` solved the issue.
Thanks!

P.S: As you mentioned, probably this should be on readme ( if not a bug ).

[2018-02-07 14:53] matheusnpenna opened #384 "removeEventListeners and clearListeners not work"
I'm trying to removeListeners when the user does logout, but if I use `removeEventListeners` and make login again, the `addEventListeners` method isn't fired.

But if the app is installed on the first time, the `addEventListeners` is fired normaly.

        for(var i = 0; i < _eventNames.length; i++) {
            _listeners[_eventNames].remove();
        }
    }

Anyone can help me?

[2018-02-07 21:03] keenjoe007 opened #385 "do not show permission alert in ipa by archived action"
do not show permission alert in .ipa file created by archived action.

from xcode build to my iPhone, working well.
there are same profile and archive mode is debug.

why?
please resolve way...

react-native v0.50.4
react-native-onesignal v3.0.9

[2018-02-08 01:20] invisal commented on #384
I will look into this problem. Do you use `clearListeners()` combining with `removeEventListener` or you only use `removeEventListeners` ?

[2018-02-08 05:45] lucianomlima commented on #361
Having problem on iOS with onIds listener too.
[code]

Testing in an iPad with iOS 11.3

[2018-02-08 07:01] WilliamAnputra opened #386 "TypeError: Cannot read property 'configure' of undefined"
I've noticed this error only when the app is in background, it works fine when app is in focus. I've tried #380 solution.

This is the error **before** trying #380 solution:

![screenshot_20180208-135355](https://user-images.githubusercontent.com/14292510/35959451-46cfad22-0cd8-11e8-9d2d-5fbbdb61e832.png)

This is the stacktrace from remote debugger:
<img width="1007" alt="screen shot 2018-02-08 a

[2018-02-08 14:41] ospfranco commented on #373
I'm experiencing the same problem, my app_id and the project_number were correctly configured, at it seemed to be working fine, until yesterday we received a crash report, and today (after changing some gradle configuration) the app won't start when running on device

[2018-02-08 16:02] LuckyLuky opened #387 "Google Play Services Library Error"
Hi,

I can't seem to connect my app to OneSignal. App compiled successfully, but it doesn't receive notifications.

When I go `Users/All Users` in administration, I see a connection, but with an error stating `Google Play services library initialization error. Check for conflicting plugins and make sure "com.google.android.gms.version" is in your AndroidManifest.xml. Check the logcat for more deta

[2018-02-09 02:08] sunweiyang commented on #373
@ospfranco I found out what caused my problem. It came from OneSignal's official troubleshooting docs:
https://documentation.onesignal.com/docs/troubleshooting-android

In that page's "ERROR: AppId format is invalid" section, it says:
[code]
I found out that my error happened because I have used `tools:node="replace"` in my AndroidManifest.xml (to work around an issue with a different RN 3rd party

[2018-02-09 04:11] WilliamAnputra commented on #387
Is your device shown on OneSignal's dashboard?

[2018-02-09 08:46] LuckyLuky commented on #387
Yes, it is. I'm providing screenshots.

![image](https://user-images.githubusercontent.com/13261271/36018993-017c0bac-0d7e-11e8-8a05-c26c937afa49.png)

![image](https://user-images.githubusercontent.com/13261271/36019001-09b98268-0d7e-11e8-9210-4109d81959f1.png)

[2018-02-09 09:31] ospfranco commented on #373
ah that makes sense... now that is a pickle, we need the replace tools tag for another library... thanks for the help!

P.S. I actually got around the problem by not using the manifest placeholder option and just putting the appId in the manifest file, but haven't tested in production yet, so...

[2018-02-09 12:04] matheusnpenna commented on #384
No. I tried to use `removeEventListener` and after I tried to use `clearListeners`

[2018-02-09 13:09] Gys opened #388 "'silent notifications' without user consent for notifications should be possible ?"
I want to update my app in the background using silent notifications. The way I understand it, iOS does not require the notifications permission for receiving silent notifications. At least not according to this link:
https://www.urbanairship.com/blog/watch-list-ios-8-opt-in-changes

I tried to test this, but found that `onRegistered(notifData) {}` is not fired if I disallow notifications. So my a

[2018-02-09 14:28] invisal commented on #384
I will try to reproduce the problem and get back to you. ^^

[2018-02-09 18:45] UberMC opened #389 "NullPointException getPermissionSubscriptionState"
React-native
Android
(2% Crash Rate)
Android 6.0
armeabi-v7a

Calltab2GB10.1" (Calltab2GB10) | 1 | 33.3%
GT-810 (rolex) | 1 | 33.3%
P8 Lite (hwALE-H)

`at com.geektime.rnonesignalandroid.RNOneSignal.getPermissionSubscriptionState (RNOneSignal.java:118)
  at java.lang.reflect.Method.invoke (Native Method)
  at com.facebook.react.bridge.JavaMethodWrapper.invoke (JavaMethodWrapper.java:374)
  at com.

[2018-02-10 09:00] joyo43 opened #390 "onRegistered method not working"
`  onRegistered(notifData) {
    console.log("Device had been registered for push notifications!", notifData);
  }`
i want to store player id into my database  when user registers for the push notification .

[2018-02-10 19:34] naytun commented on #18
In my case I had to add the following line in `podfile` and run `pod install` again. Then run `Clean` and build again.
  **pod 'react-native-onesignal', :path => '../node_modules/react-native-onesignal'**

[2018-02-11 11:17] OdaiTu opened #391 "Is thie library working with react native EXPO ?"
im using EXPO for my application and i want to know if this library supported for expo ?
if yes can you explain if there are some differs
thanks

[2018-02-12 06:45] WilliamAnputra commented on #386
My bad, i put the deep link code on the wrong <activity> block in manifest.xml. fixed

[2018-02-12 06:45] #386 closed, assigned to nobody

[2018-02-12 08:29] zsajjad opened #392 "Delay in launchURL"
I am sending the launchURL from notification and waiting for `Linking.getInitialURL()` before my navigator starts. Currently when user opens the app from notification the app doesn't launches with the launchURL rather it launches normally and listener runs after a little delay at that point  `Linking.getInitialURL()` returns the launchURL i sent in notification. This will require me to update/rest

[2018-02-12 10:46] WilliamAnputra opened #393 "Android: tapping notification re-opens app"
my app reopens the app only when the notification is tapped when the app is in background. i've followed solutions from #81, it didn't work

[2018-02-12 18:08] seeksort commented on #196
I had this same issue with OneSignal being undefined; the link function didn't update my `MainApplication.java` and I had to do it manually by following the example app config.

I will note that when I first ran the link function, it failed to work because react-native link thought that my Java files were in an intermediate folder, e.g. "could not find `/android/app/src/main/java/com/MY_APP_NAME/A

[2018-02-12 19:04] Nightsd01 commented on #391
Hi @OdaiTu , since Expo seems to just be a package on top of the standard react-native environment, I don't think you should have a problem using our SDK. Please let us know if you encounter any issues with it and we'll be happy to reopen.

[2018-02-12 19:04] #391 closed, assigned to nobody

[2018-02-13 11:57] fatihkahveci commented on #379
@Nightsd01 we are getting same issue. When we try send "ios_attachments" notification delivered but image is not. We try https or not http as well but we are getting same error any idea?

[2018-02-13 12:55] LuckyLuky commented on #387
Problem solved. I wasn't aware that the app has to be built for release. Is there any way to test this in debug release?

[2018-02-13 22:14] Nightsd01 commented on #379
Hi @fatihkahveci

Have you added the `OneSignalNotificationServiceExtension` to your iOS application? [Here are the steps](https://github.com/geektimecoil/react-native-onesignal#add-notification-service-extension) to add the extension service to your iOS app.

Also, what kind of attachments are you sending, just plain images? JPEG's or PNG's? Can you look at an example of one of the images that is

[2018-02-13 22:17] Nightsd01 commented on #379
Also, if you did correctly add the extension service and your images aren't broken/too large, then you are likely experiencing the issue I described above. This will be fixed relatively soon with a new `react-native-onesignal` update. I apologize it's been 12 days, we've been working on a relatively large feature and the fix for this issue will be shipped along with it.

[2018-02-14 06:35] fatihkahveci commented on #379
@Nightsd01

Yes we add OneSignalNotificationServiceExtension correctly. Also we test jpg and png images and this images very small less then 100 kb. Thanks for quick response i think we need to weed new update :punch:

[2018-02-14 12:27] MoOx commented on #318
See https://stackoverflow.com/a/46678210/988941

[2018-02-14 13:26] LuckyLuky commented on #387
Update - I've found out that the real reason was that I didn't have permission to receive notifications. So for anyone experiencing the same issue, make sure you have this line in your `AndroidManifest.xml`:

`<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>`

[2018-02-14 13:26] #387 closed, assigned to nobody

[2018-02-15 13:47] MelissaWeng opened #394 "Both IOS and Android work perfectly in development environment, but not work in production environment"
Both IOS and Android work perfectly in development environment (push notification can be received wonderfully), but not work in production environment.

IOS in production environment shows the following screen when loading the app:
![image](https://user-images.githubusercontent.com/34234560/36259304-7c596d5a-1266-11e8-822b-8daf1bd0a7bd.png)
But when I comment the usage codes and comment `import On

[2018-02-15 13:57] MelissaWeng commented on #382
Same here. Push notification works perfectly in development environment, but nothing happens in production environment.
I use ExpoKit (ejected from Expo).

[2018-02-17 20:41] yevhenjl opened #396 "Android version doesn't work with react-native-device-info"
On Android 'react-native-onesignal' doesn't work together with react-native-device-info.
Does not even register users.

`
"react-native-onesignal": "^3.0.9",
"react-native-device-info": "^0.14.0",
`

[2018-02-18 11:28] nimeetshah0 commented on #382
I'm having a similar problem. Package version 3.0.9, everything seems ok on iOS but on Android no listeners are fired and the device doesn't register.

[2018-02-18 17:06] BatDroid commented on #200
@jkasten2  i have the same issue that @junedomingo mentioned here about on ids listener. i put log outside and inside  this method
[code]

it responds after 30  seconds!
do you have any idea/solution?

[2018-02-18 18:56] muratdogan17 opened #397 "I can not manage to recieve notification"
Hi, I've set up all the things as it has been written on readme. I get a confirm pop up to allow notifications. I see the device which I have allowed on OneSignal's site. when I try to make a push notification, it fails. Nothing happens on my device which I debug my app. What should I do and where should I check?

"dependencies": {
		"react": "16.0.0",
		"react-native": "0.50.1",
		"react-native-o

[2018-02-18 21:01] lfaz commented on #397
I am facing somehow same issue but only after publishing the app, for me in debug mode it works perfectly fone for both android and ios when using exp start --lan, but when I publish the app using exp publish then I am no longer able to receive push notifcation.

[2018-02-18 22:20] Nightsd01 commented on #397
@lulzimfazlija this would not be an sdk issue if it works in development but not production, that would be a certificate issue.

https://documentation.onesignal.com/docs/generate-an-ios-push-certificate

[2018-02-18 22:22] Nightsd01 commented on #397
@muratdogan17 can you provide some more details? When you say “it fails”, what do you mean? How are you sending the push notification, through the onesignal dashboard?

Also, what kind of device are you testing on, android or iOS? Simulator or a real device?

[2018-02-18 22:24] Nightsd01 commented on #396
I’m not sure what you mean when you say it “does not work”...?

[2018-02-19 06:26] muratdogan17 commented on #397
@Nightsd01 I mean it says Invalid when I try to send push. I'm sending through the onesignal dashboard.

I'm testing on real device, ios iphone 7. I'm trying both debugging on xcode using real device and testflight with new version.

[2018-02-19 07:55] yevhenjl commented on #396
I mean, after installing "react-native-device-info" Android version doesn't register device, even no any messages in console (I took code from example). On iOS all fine.
Without "react-native-device-info" in both OS all work.

[2018-02-19 08:31] Nightsd01 commented on #397
@muratdogan17 Can you copy+paste the message you’re getting?

[2018-02-19 09:25] muratdogan17 commented on #397
@Nightsd01 actually, I do not have any meaningful software error message it just says Invalid under the Delivery Statistics and list 3 possible reasons which are :

[2018-02-19 09:33] lfaz commented on #397
@Nightsd01 I have already done that part, i mean i followed the link you have providen, still does not work! quite weird, also it is the same case for android! all works perfectly fine on debug mode both, but both not working on production!

[2018-02-20 19:06] Nightsd01 commented on #397
@lulzimfazlija the SDK doesn't know/care if it is debug or dev. @muratdogan17 that is definitely an app settings issue and wouldn't be caused by the SDK. This would definitely be a certificate error in both of your cases. I would suggest contacting OneSignal support by going to https://www.onesignal.com and clicking the ? button at the top right.

[2018-02-20 19:06] #397 closed, assigned to nobody

[2018-02-20 20:43] yevhenjl commented on #396
In addition, if AndroidManifest.xml has the option `tools:node="replace"`, OneSignal in Android does not work either. I just deleted this line and "react-native-device-info" and it all worked.

[2018-02-20 20:43] #396 closed, assigned to nobody

[2018-02-21 08:11] muratdogan17 opened #399 "How to handle push notification in WebView?"
Hi, I have a RN app which has a webview. I want to change the state to change openingPage. I couldn't find any example code or maybe I couldn't recognize  :/
Here is the WebView component :

`source={{ uri: this.state.openingPage }}`

[2018-02-21 12:30] sujay-bidchat opened #400 "iOS Request Permission callback not present"
In OneSignal.requestPermissions(reqPermissions); callback is not present

[2018-02-21 16:54] Nightsd01 commented on #399
@muratdogan17 this issues page is for bugs in the SDK. The question you are asking seems more appropriate for stack overflow.

I’d be glad to help you if you can post more details but I’m not sure what you’re asking/having a problem with.

[2018-02-21 16:54] #399 closed, assigned to nobody

[2018-02-21 19:44] Nightsd01 commented on #400
I'm sorry @sujay-bidchat but I am closing this issue due to a complete lack of detail/explanation. Please add some more details/ask a question.

[2018-02-21 19:44] #400 closed, assigned to nobody

[2018-02-23 04:45] gasipari commented on #329
I have the same error on 3.0.9. Any idea how to fix? Thanks

[2018-02-23 08:25] lfaz commented on #397
@Nightsd01 it works if I am building the apk from Android Studio Signed APK. thnx!

[2018-02-23 20:40] phil-andrews opened #401 "react-native link is not adding libraries to project - Mach-O linker error"
I had to go in and manually add and link libraries after trying to `react-native link` multiple times. It's worth nothing that this resulted in the infamous `Mach-O linker` error being thrown.

[2018-02-23 22:30] christianversloot commented on #382
Did anyone find a fix? Seems to happen here too. @geektimecoil

[2018-02-23 22:43] christianversloot commented on #396
Thanks a lot @yevhenjl this solved my problem!

[2018-02-23 22:44] christianversloot commented on #382
.... found a fix! In #396

It's this (copy/pasted from there, all thanks to @yevhenjl):

In addition, if AndroidManifest.xml has the option tools:node="replace", OneSignal in Android does not work either. I just deleted this line and "react-native-device-info" and it all worked.

My manifest contained tools:node="replace", removing it worked!

[2018-02-24 09:24] LEEY19 commented on #382
Yes, confirmed that @christianversloot solution works, thanks!

[2018-02-24 09:24] #382 closed, assigned to nobody

[2018-02-24 21:08] dancherb opened #403 "No Sound On iOS Notification (Only Vibration)"
I'm trying to use a custom sound for push notifications with OneSignal on my React Native app. It works wonderfully for Android, but I'm only getting a vibration for iOS.

I'm using this line on my server:

`ios_sound: "synthring.aiff"`

And have added the file to my root folder as shown in the image (all black blocks are my app name): https://i.stack.imgur.com/GUBAk.png

I'm following this doc: h

[2018-02-24 21:14] Nightsd01 commented on #403
@dancherb  It sounds like you either have the mute switch on the device set to mute, or you have the alert ringer volume set too low.

Just tested the latest version of the react native onesignal SDK in iOS and the sound seems to work fine. I would suggest looking at the mute switch or alert volume.

[2018-02-25 02:35] sunweiyang commented on #390
The `onRegistered` event has been removed, as of 8acf1b89ed4cb0456c62254fa0728f4abf4c4c5f by @Nightsd01. It looks like if we want to use `onRegistered`, we'll have to roll back to `react-native-onesignal@3.0.9` or earlier.

@Nightsd01: @joyo43 and I (and probably others) need `onRegistered` for our apps -- if we can't use `onRegistered` anymore, what is now your recommended way to get OneSignal us

[2018-02-25 04:06] dancherb commented on #403
Jesus yeah that was it, bought an iPhone for work and no-one told me there was a hardware mute switch, cheers for that heads up!

Custom sounds all working well, but I noticed that on iOS the notification "fades out" after a few seconds and the sound stops. Is there any way to make it stick? (I'm trying to set up a phone call kind-of notification). I'll close the issue for now!

[2018-02-25 04:06] #403 closed, assigned to nobody

[2018-02-25 04:23] Nightsd01 commented on #403
This is an iOS limitation. If you’re trying to make a phone call type of notification, you might look into using PushKit VOIP notifications. The OneSignal SDK doesnt currently support it at the current time however.

[2018-02-25 04:26] Nightsd01 commented on #394
Hi @MelissaWeng this indicates that the OneSignal library isn’t being loaded correctly. Can you run using Xcode with a release profile and see if you get any errors printed to the console?

[2018-02-25 04:45] dancherb commented on #403
I've found that the notification does stick around and ring properly if on the lock screen, which I'm happy with... last q: if the notification pops up while in the app on iOS, pressing "close" doesn't stop the custom sound - it still goes on for 30 seconds (on Android it stops right away, as if we tapped the notification from anywhere else). Do you know of any workarounds for this - maybe a way t

[2018-02-26 07:09] natterstefan commented on #334
Just for the record, it looks like it's working fine on Android.

[2018-02-26 14:07] MelissaWeng commented on #394
@Nightsd01 Oh yes, actually it's the profile problem. The app was in the store before I installed the oneSignal Library and there was no appropriate certificates for push notification. I generated new signed APK and uploaded to Play Store for Android, and made a new build for App Review for IOS, and did updates in the real phones (so certificates installed). Now it works!

I'm closing this issue.

[2018-02-26 14:07] #394 closed, assigned to nobody

[2018-02-27 00:17] Nightsd01 commented on #401
Can you add some more details please @phil-andrews ?

For example, can you copy and paste the compiler error you are getting in Xcode? How did you manually add the library? What errors were you seeing when you ran `react-native link`...? It is very difficult to fix/help with an issue with such little detail. Thanks.

[2018-02-27 00:20] Nightsd01 commented on #393
@WilliamAnputra Please add a bit more detail to your bug report.

 Could you show me a JSON example of the push notification you are sending?

What version of the OneSignal RN SDK are you using, how did you add it to your project, and what environment are you using (standard React Native, expo, etc).

I am closing this issue until more information is provided. I would be happy to reopen the issue

[2018-02-27 00:20] #393 closed, assigned to nobody

[2018-02-27 09:21] harshrajk commented on #340
Hi @pmogollons, were you able to resolve this issue ?

[2018-02-27 10:46] BorregoIgnacio2 commented on #306
@martinezguillaume @kirkness Hey guys, I am developing an app using ExpoKit and after getting the above error, I tried your solution. I unlinked react-native-onesignal and installed it manually via cocoapods, then followed the onesignal docs (https://github.com/geektimecoil/react-native-onesignal/). I now obtain this error:

`llplatform/node_modules/react-native-onesignal/ios/RCTOneSignal/RCTOneSi

[2018-02-27 12:01] martinezguillaume commented on #306
Hey @BorregoIgnacio2, are you sure u unlinked it totally ? Like, remove react-native-onesignal lib from Libraries folder (in xCode), and remove it from Header Search Path

I had this problem and that was because I forgot to remove it from Header Search Path

[2018-02-27 15:45] faustoct1 opened #405 "OneSignal.h file not found"
Getting this error on xcode `OneSignal.h file not found`. I have expo detached and everything was working fine suddenly it stopped maybe an unexpected update or smth.

Sometimes I get an error `OSEmailSubscription`.

Any ideia what's going on? how to fix it?

[2018-02-27 18:54] Nightsd01 commented on #405
@faustoct this was fixed in a recent PR (#404) which has now been included in update 3.1.1

[2018-02-27 18:54] #405 closed, assigned to nobody

[2018-02-27 19:24] faustoct1 commented on #405
@Nightsd01 tks will test let u know.. tks for replying me as soon as possible..

[2018-02-27 19:40] faustoct1 commented on #405
@Nightsd01  worked ! thanks

[2018-02-27 19:45] Nightsd01 commented on #390
@joyo43 @sunweiyang

The reason it was removed was because, as far as I could tell, it was never called under any circumstances. In fact, if I looked back through the history of the SDK, I could _never_ see any code that triggered this event.

Currently, whenever the user's subscription status changes, the `onIds()` event gets called. I would suggest using this event instead,

[2018-02-27 19:51] #390 closed, assigned to nobody

[2018-02-27 19:53] Nightsd01 commented on #392
@zsajjad out of curiosity, why don't you use the Linking event listener and listen in on the `url` event?

From what I can see of the react-native deep linking guide, it appears you'd want to hook in to this event instead of the `onOpened` event.

[2018-02-27 20:32] Nightsd01 commented on #388
OneSignal does not support silent notifications if the user is not subscribed to push notifications. We may considering allowing this in the future but at the present time it is not allowed.

It is allowed by iOS, however, so if you want to use silent notifications without registering the user for push notifications you certainly can. You just can't do it with onesignal, sorry.

[2018-02-27 20:32] #388 closed, assigned to nobody

[2018-02-27 21:04] Nightsd01 commented on #385
@keenjoe007 You're saying that when you archive your application as a .ipa file, your app doesn't show a prompt for permission to send push notifications?

Does this issue still occur with react-native-onesignal 3.1.1?

Closing due to inactivity but feel free to add more details/information and I will be happy to reopen the issue.

[2018-02-27 21:04] #385 closed, assigned to nobody

[2018-02-27 21:08] Nightsd01 commented on #384
@matheusnpenna `addEventListener()` is a function that your application calls. I am not sure what you mean when you say it doesn't fire.

Are you saying that your application calls `RNOneSignal.addEventListener('opened', this.onOpened)` but nothing happens?

I am closing this issue due to inactivity/lack of detail. Please feel free to respond and add more information if you are still encountering

[2018-02-27 21:08] #384 closed, assigned to nobody

[2018-02-27 21:09] Nightsd01 commented on #383
I am closing this issue due to both inactivity & a complete lack of detail. I have literally no idea what "app stopped working" means.

Please feel free to respond and _add more details_ if you are still encountering this issue and I will be happy to reopen it.

[2018-02-27 21:09] #383 closed, assigned to nobody

[2018-02-27 21:11] Nightsd01 commented on #379
@fatihkahveci  this issue has been resolved in 3.1.0.

Please feel free to respond if you are still encountering any issues.

[2018-02-27 21:11] #379 closed, assigned to nobody

[2018-02-27 21:11] #377 closed, assigned to nobody

[2018-02-27 21:13] Nightsd01 commented on #348
Closing this issue due to inactivity. If you are still encountering this issue @nschurmann please feel free to respond and we will reopen the problem and investigate.

If you are still encountering this issue, _please add more details_ such as what version of the SDK you are using, what troubleshooting steps you've tried, and so on.

[2018-02-27 21:13] #348 closed, assigned to nobody

[2018-02-27 21:14] Nightsd01 commented on #336
Closed as duplicate of #332. Please feel free to respond if you are still encountering this issue @mukeshkamboj

[2018-02-27 21:14] #336 closed, assigned to nobody

[2018-02-27 21:14] #376 closed, assigned to nobody

[2018-02-27 21:16] Nightsd01 commented on #389
@UberMC Are you still encountering this issue?

If so, _please_ add more details. What version of the react-native-onesignal SDK are you using...? Do you have any steps to reproduce the issue...? And so on.

I am closing the issue due to inactivity but if you are still encountering this issue please feel free to respond and I will re-open and investigate.

[2018-02-27 21:16] #389 closed, assigned to nobody

[2018-02-27 21:34] Nightsd01 commented on #324
@dgruseck closing due to inactivity. Please feel free to respond if you are still encountering this issue and I'll be happy to reopen it.

[2018-02-27 21:34] #324 closed, assigned to nobody

[2018-02-27 21:35] Nightsd01 commented on #320
@caciobanita closing due to inactivity. Please feel free to respond if you are still encountering this issue and I'll be happy to reopen it.

[2018-02-27 21:35] #320 closed, assigned to nobody

[2018-02-27 21:42] Nightsd01 commented on #371
@ntnamag The Android profiler will show that SyncService uses the same amount of memory as your application, however, this is a bit misleading. The SyncService isn't actually using this much memory - it simply shows that it is using the same amount of memory as the application itself.

In reality the sync service doesn't use much memory.

I would suggest troubleshooting your own application to rel

[2018-02-27 21:42] #371 closed, assigned to nobody

[2018-02-27 21:45] Nightsd01 commented on #319
@Univac1107 This is a good point, it looks like the `NotificationNotDisplayingExtender` is not being used in the SDK and will be removed in a future release. Thanks for pointing this out!

[2018-02-27 21:48] Nightsd01 commented on #309
@jjdp closing this issue due to inactivity.

You can control this behavior using the `OneSignal_disable_badge_clearing` boolean setting in `Info.plist`.

Please feel free to respond if you are still encountering this issue and I will be happy to reopen and investigate.

[2018-02-27 21:48] #309 closed, assigned to nobody

[2018-02-27 21:51] Nightsd01 commented on #286
@yaronlevi sorry no one ever responded to this.

For future reference, you should not be directly initializing the OneSignal iOS SDK in the AppDelegate.

Instead, you should initialize the React-Native OneSignal SDK using `RCTOneSignal.init(...)`.

Closing due to inactivity, please feel free to respond if you are still encountering this issue.

[2018-02-27 21:51] #286 closed, assigned to nobody

[2018-02-27 21:53] Nightsd01 commented on #314
@martinchristov sorry no one ever responded to this issue. This doesn't look like an issue with the react-native-onesignal SDK in any case.

Closing due to inactivity. Please feel free to respond if you are still dealing with this issue and I will be happy to reopen and investigate.

[2018-02-27 21:53] #314 closed, assigned to nobody

[2018-02-27 21:58] Nightsd01 commented on #303
@rfmejia This was fixed in the 3.6.2 OneSignal Android SDK. Sorry for the delayed response!

[2018-02-27 21:58] #303 closed, assigned to nobody

[2018-02-27 22:01] Nightsd01 commented on #245
@thierryfornetti Closing this issue due to inactivity. Apologies for the delayed response. I have seen this error with just react-native itself (not using web sockets in my own application).

If you are still encountering this issue, please feel free to respond and I would be happy to reopen and investigate the problem.

[2018-02-27 22:01] #245 closed, assigned to nobody

[2018-02-27 22:01] #319 closed, assigned to nobody

[2018-02-27 22:03] Nightsd01 commented on #264
@LEEY19 I am closing this issue due to inactivity.

We have recently made some changes in recent releases for how the `onReceived` and `onOpened` events are handled so I think this issue is likely resolved at this point.

If you (or anyone else) is still encountering this issue please respond and I will be happy to reopen and investigate the problem.

[2018-02-27 22:03] #264 closed, assigned to nobody

[2018-02-27 22:05] Nightsd01 commented on #233
@jjhesk I am closing this issue due to inactivity. This is a very vague error and could really be caused by anything. I don't know if this issue is related to the OneSignal React-Native SDK or not.

If you are still encountering this issue, please feel free to respond and I will be happy to reopen and investigate the issue.

[2018-02-27 22:05] #233 closed, assigned to nobody

[2018-02-27 22:13] Nightsd01 commented on #63
For future reference, the OneSignal SDK will not touch the badge count unless:

Your push notification contains `ios_badgeCount` and `ios_badgeType` parameters.

Your info.plist file contains `OneSignal_disable_badge_clearing` key. This controls how the OneSignal SDK will handle clearing badge count when the user opens the app. If set to `false`, the SDK will not touch the badge count and it is up

[2018-02-27 22:13] #63 closed, assigned to nobody

[2018-02-27 22:33] Nightsd01 commented on #148
@jsappme This doesn't appear to be an issue with the react-native-onesignal sdk but it is possibly an API issue.

I would suggest trying different key values for `createdAt` and `updatedAt`. Perhaps you can try renaming them to `timeCreated` or something like that.

Closing this issue due to inactivity, please feel to reopen the issue if you are still dealing with it and I'd be happy to reopen and

[2018-02-27 22:33] #148 closed, assigned to avishayil

[2018-02-27 22:44] Nightsd01 commented on #149
@pabloppp apologies for the delay, I just tested this issue and it appears to be resolved in the SDK now, `OneSignal.cancelNotification(id)` appears to work without problems. Closing issue, please feel free to respond if you encounter further issues and I'll be happy to reopen.

[2018-02-27 22:44] #149 closed, assigned to avishayil

[2018-02-27 23:00] Nightsd01 commented on #228
@luisguilhermemsalmeida I am closing this issue due to inactivity - please feel free to respond if you are still encountering this issue and I would be happy to reopen and investigate.

[2018-02-27 23:00] #228 closed, assigned to nobody

[2018-02-27 23:02] Nightsd01 commented on #229
I've updated the example project and this error should no longer occur.

If anyone encounters this issue again please feel free to respond and I will reopen the issue.

[2018-02-27 23:02] #229 closed, assigned to avishayil

[2018-02-27 23:05] #325 closed, assigned to nobody

[2018-02-27 23:32] Nightsd01 commented on #239
I would also agree that this is a good idea @dwilt . Thank you for the excellent proposal.

In our next major release (4.0) we will likely move to this model.

[2018-02-28 00:38] danielkcz commented on #320
Well, I've mostly given up on OneSignal because of this issue seeing there was no activity. It doesn't matter now.

[2018-02-28 04:30] nilaybrahmbhatt commented on #383
See this image.
when app receive notification on notification panel suddently app stoped working.

![2018-02-07-12-26-45](https://user-images.githubusercontent.com/6310631/36770035-fea496fc-1c6d-11e8-9a7a-b18479d7001d.gif)

[2018-02-28 08:47] goldengecko commented on #108
They have changed the API and now you have to pass a dictionary instead:

[code]

[2018-02-28 16:00] DarkXelus opened #406 "Problem send notification"
Hello,
I can not send a notification from a button in my application.
i try with the code next for send a notification:

`   let contents = {
     'en': 'You got notification from user'
   }
   OneSignal.postNotification(contents, token);`

This returns me the following error : JSON value ' ' of type NSString cannot be converted to
NSDictionary

Someone can help me?
Thank

[2018-02-28 22:28] Nightsd01 commented on #406
@DarkXelus this isn't a bug with the SDK, you should have more than two arguments when calling `postNotification`.

For example:

[code]

The user ID is required (so OneSignal knows who it needs to send this push notification to).

However, the `additionalData` and `otherParameters` fields are optional, so you can just write this instead of you want:

[code]

[2018-02-28 22:28] #406 closed, assigned to nobody

[2018-02-28 22:37] Nightsd01 commented on #401
@phil-andrews Closing this issue due to inactivity. Please feel free to add more details otherwise I can't do much to help you. I'd be happy to reopen the issue and investigate if you do.

[2018-02-28 22:37] #401 closed, assigned to nobody

[2018-03-01 00:52] phil-andrews commented on #401
I'm sorry, been grinding on a project. I can't remember what the error was aside from the basic overarching Mach-O category. However, I can point out that the only part of the`react-native link` process that did not work was in adding `libRCTOneSignal.a`. I had to go in and add that manually. Aside from that everything else was as it should be, header search paths were correct, files were added, e

[2018-03-01 08:15] fatihkahveci commented on #379
Unfortunately issue is continue our case.

Firstly we added 3.1.0 version our package.json.

![package](https://cdn.pbrd.co/images/H9QWfIj.png)

And after that we add OneSignalNotificationServiceExtension and NotificationService.m file.

![service](https://cdn.pbrd.co/images/H9QXprj.png)

![service2](https://cdn.pbrd.co/images/H9QXOXu.png)

And this is NotificationService.m file

![servicefile](ht

[2018-03-01 17:20] sandropoluan opened #407 "Could not download OneSignal.aar (com.onesignal:OneSignal:3.8.1)"
[code]

My android/build.gradle
[code]

I try to access the url `https://jcenter.bintray.com/com/onesignal/OneSignal/3.8.1/OneSignal-3.8.1.aar` on the browser, this is I get.
![capture](https://user-images.githubusercontent.com/11922251/36858825-6734389a-1db7-11e8-8d4b-58e3feea5234.PNG)

I have disable Antivirus and firewall but it's not help.

[2018-03-01 23:26] Nightsd01 commented on #407
@sandropoluan It appears jcenter may have been down earlier. Have you tried it now? I tried the URL and it downloads correctly.

[2018-03-02 03:02] sandropoluan commented on #407
This must be something to do with my Internet provider proxy or whatever. Because I solved this by using VPN.

[2018-03-02 03:03] #407 closed, assigned to nobody

[2018-03-02 09:34] DarkXelus opened #409 "How to send notification a precise date?"
Hello,
I would like send a notification on a certain dates i try with this code but he doesn't work can you help me.

`let contents = {
      'en': Notification send'
}
OneSignal.postNotification(contents, {}, token, {send_after: date})`
a variable date matches a date want to send

[2018-03-02 13:00] fatihkahveci opened #410 "Ios Media Attachment Issue"
Hello,

When we try to send notification with ios_attachment notification appears but image is not. Our settings here;

Firstly we added 3.1.0 version our package.json.

![package](https://cdn.pbrd.co/images/H9QWfIj.png)

And after that we add OneSignalNotificationServiceExtension and NotificationService.m file.

![service](https://cdn.pbrd.co/images/H9QXprj.png)

![service2](https://cdn.pbrd.co/i

[2018-03-02 13:08] lucasharada opened #411 "Notification not received on Android when application is dead"
I made a custom notification when a specific kind of data arrives from server, but it only works when the application is alive (be it foreground or background). For this, I tested setting `OneSignal.inFocusDisplaying(0);` and `OneSignal.inFocusDisplaying(2);`.

When in foreground, everything runs smooth: the notification is received, the data is processed and a modal is shown to the user.

When in

[2018-03-02 19:19] Nightsd01 commented on #411
@lucasharada this is quite unusual.

Silly question, but are you sure you don't have Do-Not-Disturb enabled on the device?

Here are the different types of notification display modes:
0: ** None** It is up to your application to show the notification when the application is open. Whenever your application is closed or in the background, however, the system should still show the notification.
1: **

[2018-03-02 19:32] Nightsd01 commented on #410
@fatihkahveci Can you send me your `info.plist`?

In my own testing with the react-native SDK, HTTP image url's will not load unless you make an App Transport Security exception in your info.plist.

[2018-03-02 19:40] Nightsd01 commented on #409
@DarkXelus This would not be an issue with the SDK.

You need to send the date as an ISO formatted date string. For example: `Thu Sep 24 2015 14:00:00 GMT-0700 (PDT)` or `September 24th 2015, 2:00:00 pm UTC-07:00` are examples that would both work.

Please let me know if you have any further issues and I'd be happy to help.

[2018-03-02 19:40] #409 closed, assigned to nobody

[2018-03-02 19:42] lucasharada commented on #411
@Nightsd01 Do-Not-Disturb is disabled. I already tested this on 2 devices, but the output is the same. The notification is only received when the application is alive.

Based on your explanation, the display mode I need is the **None** (0), so I can threat it when the application is open, but let the system handle it when application is dead.

Here is the piece of code related to the OneSignal fea

[2018-03-02 20:48] lucasharada commented on #411
@Nightsd01 Got to work! Seems like I had some trouble with cache. The steps I took to fix were:

1. npm cache clean --force
2. cd android && ./gradlew clean
3. cd .. && react-native run-android

[2018-03-02 20:48] #411 closed, assigned to nobody

[2018-03-02 21:14] fatihkahveci commented on #410
@Nightsd01

![service](https://cdn.pbrd.co/images/Ha5vaVP.jpg)

This settings true since we begin to develop app. Also we test image with https. I can send you info.plist file with email if you want?

[2018-03-03 00:17] Nightsd01 commented on #410
@fatihkahveci Can you tell me what happens when, instead of trying to attach images to the push notification, you attach buttons instead? Do the buttons show up correctly or is the notification still blank?

[2018-03-03 12:34] Dexwell commented on #53
Would really like to see Promise functionality for `registerForPushNotifications`. Anyone? 🙏🏼

[2018-03-04 17:07] calanti commented on #393
I am experiencing the same thing, launchMode="singleTop" too. My project is a detached Expo (ExpoKit) app.

    "react-native-onesignal": "^3.1.1",
    "react": "16.0.0",
    "expo": "^24.0.0",
    "react-native": "https://github.com/expo/react-native/archive/sdk-24.0.0.tar.gz",

[2018-03-05 06:45] fatihkahveci commented on #410
@Nightsd01 Still same. When we try to send button, notification appears but button not.

[2018-03-05 08:51] DarkXelus commented on #409
@Nightsd01 I tried with the following code but it returns me an error:
`OneSignal.postNotification(contents, {}, token, 'Mon Mar 5 2018, 9:49:00 GMT-0100')`

He send a notification now instead of the specified date.

error: JSON value  'Mon Mar 5 2018, 9:49:00 GMT-0100' of NSString cannot be converted to NSDictionary
How to appear the badge?
Do you have an example to help me?

Thank

[2018-03-05 19:06] Nightsd01 commented on #410
@fatihkahveci if buttons also aren't being attached, that indicates that the OneSignalNotificationServiceExtension is never being launched, or is crashing.

Do you have some crash reporter, such as Crashlytics, installed in your application? Are you seeing any crash reports involving the OneSignalNotificationServiceExtension?

[2018-03-05 19:17] Nightsd01 commented on #410
By the way, how exactly are you running your app? You're just using the generated xcodeproj to launch it right?

[2018-03-05 20:39] Nightsd01 commented on #392
@zsajjad closing this issue due to inactivity, I am assuming you were able to resolve your issue...? If not please feel free to respond and I'll be happy to reopen the issue and investigate.

[2018-03-05 20:39] #392 closed, assigned to nobody

[2018-03-05 21:00] fatihkahveci commented on #410
@Nightsd01

Yes we are using Crashlytics. But not any error in OneSignalNotificationServiceExtension. And yes we lunch xcodeproj but also we try to send testflight for testing other devices but still same. Notification appears but image or button not :(  . This is so wierd

[2018-03-05 21:11] Nightsd01 commented on #410
@fatihkahveci Would it be possible for you to PM me a link to a zip of your project to make this investigation a bit easier?

If not, can you answer some questions:

1. Is your project using any Swift?

2. When you attempted the test to use buttons, did you also attach an image with that same notification? If so, can you please test with ONLY a button and no image and tell me if the button still d

[2018-03-05 21:31] fatihkahveci commented on #410
@Nightsd01

Good news its work when we try  iPhone9,3 (11.2.2) with ssl image. But when we try this not ssl image its not show.

[2018-03-05 21:39] Nightsd01 commented on #410
@fatihkahveci I am not sure what you mean...? Are you talking about an HTTPS image working but HTTP images do not work?

[2018-03-05 21:40] fatihkahveci commented on #410
@Nightsd01
Yes https image working but http image not.

[2018-03-05 21:43] Nightsd01 commented on #410
@fatihkahveci Can you give me an example of one of the HTTP image url's that does not work?

[2018-03-05 21:43] Nightsd01 commented on #410
This would definitely be an issue with app transport security settings, not the OneSignal SDK

[2018-03-05 21:48] fatihkahveci commented on #410
@Nightsd01 I think so too but its weird we give App Transport Security permission for this. I think we need to get ssl for our cdn.

HTTP : http://cdn.fatchapp.com/images/users/135055/photo_QRV0KIWteU.jpeg
HTTPS : https://pbs.twimg.com/profile_images/873942556526211075/6w0LNT9D_400x400.jpg

[2018-03-05 21:54] Nightsd01 commented on #410
Yeah. Unfortunately we have no control over what App Transport Security blocks.

I would suggest setting your domain as an exception so that ATS doesn't block it. You can do this by modifying your `info.plist` file like this:

[code]

[2018-03-05 21:54] #410 closed, assigned to nobody

[2018-03-06 12:01] zsajjad commented on #392
React native navigation starts react context after the launch of navigator and one has to listen to event on screen. Its fixed at my end! Thanks for response and apologies for not responding on time!

[2018-03-06 12:54] aldinag commented on #361
+1 same issue

[2018-03-06 19:22] hiteshagja opened #412 "Firebase phone-auth stopped working"
@avishayil

Strange behavior of this package when it is used along with firebase phone auth.

From last 2 days I am trying to figure out why onesignal stopped working with firebase phone-auth service in ios, but I could find any solution.

**Case:**
As per firebase phone auth official page https://firebase.google.com/docs/auth/ios/phone-auth, ios service based on silent notification feature to rec

[2018-03-07 06:26] #412 closed, assigned to nobody

[2018-03-07 06:26] hiteshagja commented on #412
Install p8 certificate in firebase cloud-messaging section.

[2018-03-07 08:52] DarkXelus opened #413 "Example to send a data precise"
Hi,
Having no answer for #409  I raise here hoping someone can help me

I can not send on a specific date yet I tried the following code without success.
OneSignal.postNotification(contents, {}, token, 'Mon Mar 5 2018, 9:49:00 GMT-0100')

He send a notification now instead of the specified date and return a error

error: JSON value 'Mon Mar 5 2018, 9:49:00 GMT-0100' of NSString cannot be converted

[2018-03-07 10:59] 25matt12 commented on #127
@HananeAlSamrout worked for me too! :)

Thanks

[2018-03-11 10:59] dinukasal commented on #181
This works! :smile:

[2018-03-12 13:38] victorbadila commented on #214
The **Running Example project** part of README.md does not mention this part, wasted some hours on it. Would it help to also get the documentation on how to run it updated?

[2018-03-12 14:30] victorbadila commented on #296
I'm using version 3.1.1 and I have this issue.
`console.log(OneSignal.getPermissionSubscriptionState);` yields `undefined`.

[2018-03-12 14:36] JoshStaff commented on #296
Victor, if you need this I have a fork where I correctly expose the subscription state. You could try that?

[2018-03-12 14:38] victorbadila commented on #296
Thanks, I will try it :)

However I think the issue should be reopened.

[2018-03-12 21:31] Nightsd01 commented on #413
@DarkXelus please make sure to read the readme before posting a question like this....

The Readme shows that the last parameter of `postNotification()` is an ***object***, not a string.

You would want to send the notification like this:

[code]

Closing because this is a duplicate of #409. Apologies for not responding to you sooner.

[2018-03-12 21:31] #413 closed, assigned to nobody

[2018-03-13 06:40] KianooshSoleimani opened #415 "problem in huawei notification"
i use this version of react-native
"react": "16.0.0-beta.5",
		"react-native": "0.49.0",
		"react-native-onesignal": "^3.1.1",

but notification not working for me in hawei android 7

[2018-03-13 16:41] MayeuldP opened #416 "Dependency "react-native-onesignal" has no shared framework schemes"
I got this message
`Dependency "react-native-onesignal" has no shared framework schemes
`
when I run in my project `carthage update --platform iOS`....
Any ideas ?

Concerning my config :

[code]

[2018-03-13 22:58] Nightsd01 commented on #416
@MayeuldP Why are you using Carthage? The OneSignal RN SDK is distributed through npm. Are you using Carthage for some other dependency?

[2018-03-13 23:10] MayeuldP commented on #416
Yeap ! That's it !
So currently I got a redScreen with this one : ` this._nativeModule.addListener is not a function ... this._nativeModule.addListener is undefined`...it's indeed because of RNOneSignal, because it's the corresponding file of the error, that's why I think it could come from the carthage update because it's the only place where I have troubles with OpenSignal setup...

[2018-03-13 23:25] Nightsd01 commented on #416
@MayeuldP  I still don't quite understand what you are doing with Carthage. Can you send me your Cartfile?

[2018-03-13 23:29] MayeuldP commented on #416
Here it is (in my Cartfile) :
[code]
I can't right now try it, but so should I try to remove it from the cartfile, and try to setting up correctly with npm and react-native link ?

Thank a lot for trying to help me by the way 👍

[2018-03-13 23:31] Nightsd01 commented on #416
@MayeuldP  Yes, you will want to remove it from Carthage and install it via npm. Please make sure to read the readme, this will resolve your problem, please feel free to ask if you encounter any further issues.

[2018-03-13 23:31] #416 closed, assigned to nobody

[2018-03-13 23:36] Nightsd01 commented on #415
I am closing this issue due to a total lack of detail....

Please add some more information and I'll be happy to reopen your issue.

Here are some examples of information you will want to add...

0. Do you mean it works on other android devices, just not Huawei devices?
1. Does it work in iOS?
2. Did it suddenly stop working or did it never work?
3. Have you carefully followed the readme instructi

[2018-03-13 23:36] #415 closed, assigned to nobody

[2018-03-14 15:16] kasperbe opened #418 "Time to Live"
Hey!

I noticed in the Interface of OneSignal's administration interface there's a TTL property.
I tried settings this to for examples 10 seconds, however it has no effect.

Is this something we have to manually handle?

[2018-03-14 22:07] Nightsd01 commented on #418
@kasperbe The TTL property determines how long the notification will be valid (shown to the user) when the device is offline. So if you set the TTL to be 10 minutes and the device is offline (undeliverable) for 11 minutes, they will not see the notification. By default this property is set to 3 days with OneSignal.

Most developers/companies never need to mess with the TTL property but it's there

[2018-03-14 22:07] #418 closed, assigned to nobody

[2018-03-15 11:09] kasperbe commented on #418
So by offline, it doesn't actually mean unread? I expected this to mean if the message has not been read within TTL it will get removed. Did I misunderstand?

[2018-03-15 16:10] hmenzagh opened #419 "calling getPermissionSubscriptionState does not register the device with Onesignal"
Hi,

as said in the title calling getPermissionSubscriptionState does not register the device with Onesignal, i need to restart the app and that it gets properly registered ..

here is my code :

[code]

Thanks

[2018-03-15 19:22] Nightsd01 commented on #419
Are you saying that in your app devices never get registered? What is the root issue?

`getPermissionSubscription()` state is simply a getter method, it doesn't register the device with OneSignal. Device registration happens automatically, usually after around 5-15 seconds.

[2018-03-15 22:00] arrygoo opened #420 "App freezes on importing onesignal."
We've had an app that's been in production for few months. Without changing anything, now our ios app freezes on splash screen with the following error.

I opened this issue because it seems like it's more react-native related than ios.

We're currently on version ` "react-native-onesignal": "^3.0.5",` , but upgrading onesignal to the latest version didn't fix or change the behaviour of issue eith

[2018-03-16 03:47] suupham2506 opened #421 "No known class method for selector 'didReceiveRemoteNotification:'"
![screen shot 2018-03-16 at 10 46 40 am](https://user-images.githubusercontent.com/28852565/37502771-56761306-2907-11e8-906c-efb1c56faca5.png)

[2018-03-16 15:05] hmenzagh commented on #419
Thanks for your answer,
Then the issue is that the device does not get registered automatically i need to restart the app, and then it instantly gets registered ! I have waited around 2-3mn with no results ..

[2018-03-17 00:11] jonkarlbiere commented on #421
same here
is there any other solution?

[2018-03-17 00:18] jkasten2 commented on #421
@suupham2506 @zootopia106 This was removed from the setup instructions a while ago as it is now handled automatic in the SDK. You can safely remove the 4 lines (42 to 45) in this case.
[code]

[2018-03-17 15:41] ghost commented on #420
@arrygoo same here.

[2018-03-17 16:26] arrygoo commented on #420
@kytwb
My issue turned out to be that I had one signal added to package.json like `^3.0.5` instead of `~3.0.5`.

Looks like there's a native change `3.1.0`, so having `^3.0.5` will make your javascript out of sync with native.

[2018-03-18 03:12] ghost commented on #420
_**Edit:**_ Working now with `"react-native-onesignal": "^3.1.2"`.

[2018-03-19 10:49] Kisepro opened #422 "error: package com.geektime.rnonesignalandroid does not exist"
Hello,

I already saw this issue referenced and I tried the solutions proposed but it's still not working for me.
It's working on a empty project when install it but not working on my main project, so I'm wondering what could be the problem ?

However I can find the correct com.geektime.rnonesignalandroid package in node_modules\react-native-onesignal\android\src\main\java\com\geektime\rnonesignal

[2018-03-19 18:20] Kisepro commented on #422
I don't know why but the "react-native link" was not adding the line "compile project(':react-native-onesignal')"  I did it manually and it's now working

Another minor problem is that the link action add each times the following lines
[code]

The issue can be closed

[2018-03-19 21:52] Nightsd01 commented on #422
@Kisepro I'm unable to reproduce this issue. In my attempt, I created a completely new react-native project and manually added the react-native-onesignal SDK following the instructions in the readme.

Did you follow the guidance in the readme precisely to the letter? If not, how did you do it?

[2018-03-19 22:17] Nightsd01 commented on #421
@suupham2506 @zootopia106  This has also been updated in the demo project as well.

[2018-03-19 22:17] #421 closed, assigned to nobody

[2018-03-19 22:18] #420 closed, assigned to nobody

[2018-03-19 22:20] Nightsd01 commented on #419
@hmenzagh please provide some more details. Is this only occurring in iOS or Android? When you say the app "does not register", what precisely do you mean? How do you know the app is not getting registered?

I am closing this issue until more detail is provided, as of right now I am not sure what to make of this issue, but I will be happy to reopen and investigate once you provide more information

[2018-03-19 22:20] #419 closed, assigned to nobody

[2018-03-19 23:54] gaboelnuevo opened #423 "Support run onReceived event in JS, even when the app isn't running at all"
See: https://github.com/zo0r/react-native-push-notification/pull/220/

[2018-03-20 06:21] Kisepro commented on #422
@Nightsd01 Yes I followed it precisely, and doing it on a completly new react-native project it works also for me.

It's really specific to my project I think and I managed to make it works when I understood why so I guess you shouldn't lose your time on that issue.

I suspect this could be because of "react-native-push-notification" linking, I had another conflict with i this package like this co

[2018-03-20 10:32] ScreamZ opened #424 "Unable to compile"
Hello,

I'm getting this error when I try to compile on android

com.android.builder.testing.api.DeviceException: com.android.ddmlib.InstallException: -26: Package com.biogen new target SDK 22 doesn't support runtime permissions but the old target SDK 26 does.

[code]

Why ?

Best regards

[2018-03-20 14:51] hmenzagh commented on #419
Details: based on the device tracking on OneSignal, we cannot send any notifications or see the device unless the app has been restarted (only on iOS).

Update: since we integrated deep-links (the only one signal related edit) this is no longer an issue, I don't know if this is related or not ... so the issue may stay closed ! Thanks

[2018-03-20 15:32] pmogollons opened #425 "Android cold start notification not triggering opened event listener"
Im having an issue with the opened event listener that is not getting triggered all times on cold start. Almost 30% of the times we open a notification the listener event is not getting called.

We have already checked that there are related issues and that this was fixed, previous to this fix we were not able to get android to trigger the listener at all, but the issue still persist.

We are usin

[2018-03-21 11:36] harikanammi opened #427 "Execution failed for task ':react-native-onesignal:processReleaseResources'."
I am using this module. In iOS it's working fine. But in android i m getting this error.
version :-   react-native-onesignal: "^3.0.7"
[code]

[2018-03-21 12:54] tpedersen123 commented on #427
Seems to be hitting everyone in the RN space right now:
https://github.com/facebook/react-native/issues/18479

#PlayServicesGate

[2018-03-21 13:01] jstheoriginal commented on #427
Indeed. This specific comment worked for me.

https://github.com/facebook/react-native/issues/18479#issuecomment-374849967

[2018-03-21 15:05] tpedersen123 commented on #427
Also for me :-)

[2018-03-21 20:15] #427 closed, assigned to nobody

[2018-03-21 22:00] ogeeThilook opened #428 "IOS: Cannot find protocol declaration for 'OSSubscriptionObserver'"
It's not possible to build IOS version.
There is closed case:
https://github.com/geektimecoil/react-native-onesignal/issues/329

**Packages Version**
"react": "^16.3.0-alpha.1"
"react-native": "0.54.0"
"react-native-onesignal": "^3.1.1"

The error is triggered in **RCTOneSignal.h**

[code]

[2018-03-21 22:23] ehtasham89 opened #429 "Error: more than one library with package name 'com.google.android.gms.license'"
We are getting following error due to latest google play services version.

[code]

I fixed manually this problem with adding version change in **build.gradle** file but it need to be fix in your package.

[code]

[2018-03-21 22:46] steve-abrams commented on #429
It seems this is a recent issue not specific to one library and is being addressed in a React-Native thread https://github.com/facebook/react-native/issues/18479

[2018-03-21 23:20] ehtasham89 commented on #429
@sabrams86 Thanks!
I fixed it with the help of above issue you referred.
I put the following changes in my app android/build.gradle file:

**Before**
[code]

**After**
[code]

Now working fine. :)

[2018-03-21 23:20] #429 closed, assigned to nobody

[2018-03-21 23:31] Nightsd01 commented on #428
@ogeeThilook Can you verify if this issue still occurs in the latest version `3.1.2`...?

Are you sure you followed the readme instructions carefully and added the `Header Search Paths` to your Xcode project's build settings?

Lastly, can you explain how you added the OneSignal SDK to your project? You are not using Cocoapods, correct?

[2018-03-21 23:37] Nightsd01 commented on #425
@pmogollons I am not able to reproduce your problem. Can you tell me if this issue still occurs in version `3.1.2` of the react-native-onesignal SDK?

Also, how do you know that the `opened` event is not being called? Can you remove everything from the function, and only add a single `console.log` statement to make sure that none of your code could be causing the issue?

Lastly, if that doesn't wo

[2018-03-21 23:39] Nightsd01 commented on #424
@ScreamZ I am not sure what makes you think this is related to the OneSignal SDK....?

I am closing this issue due to a total lack of details. Please add more information (ie. a list of your project's dependencies, what triggered this issue, and so on) and I will be happy to reopen it.

[2018-03-21 23:39] #424 closed, assigned to nobody

[2018-03-22 01:43] Nightsd01 commented on #422
I am glad to hear that resolved your issue.

We have a onesignal grade plugin that can resolve issues similar to this. It needs to be placed at the ***top*** of the App gradle file:

[code]

[2018-03-22 01:43] #422 closed, assigned to nobody

[2018-03-22 02:01] vadermemo commented on #127
work! Even when is to candidate release
Thanks @HananeAlSamrout

[2018-03-22 04:23] pencilcheck opened #430 "Error:Execution failed for task ':react-native-onesignal:processReleaseResources'. > Error: more than one library with package name 'com.google.android.gms.license'"
Looks like the new gms breaks a lot of lib since "+" is now on the later version however it breaks the project.

Please if possible to support the ability to change the dependencies version for GCM: `https://github.com/facebook/react-native/issues/18479

If possible if someone can create a PR similar to what @christocracy to the react-native-maps that would be awesome.
Example: https://github.com/

[2018-03-22 07:14] ivan133 commented on #430
https://github.com/BlackTies/react-native-onesignal/commit/7ecedccf20a26fc9ce8a5d9ff44c7fb57bfd2e17

[2018-03-22 11:29] christocracy commented on #430
Looks good @ivan133

[2018-03-22 11:31] ivan133 commented on #430
It's not mine ;)
I just found someone already did it I've switched to this fork and it works.

[2018-03-22 14:21] mstf0ta-app commented on #415
i have same problem
in emulator and galaxy everything is good
but when i use huawei the app not received notifications when app in background or killed
but it received when the app is in foreground

[2018-03-22 14:29] sators commented on #430
+1

[2018-03-22 14:48] duytq94 opened #432 "One Signal can't register my device"
Hi all, I have a issue but don't know how to fix it.
Most device (even emulator) can be register with one signal and receive notification but my device (Asus Z00AD Zenfone 2 ZE551ML) does not receive notification at all. Then I check the value of param "device" on function onIds() and know that pushToken has null value. And list users in onesignal website don't have my device too.
I don't know why

[2018-03-22 15:37] devladinci opened #433 "Invalid response for blob on ids"
`OneSignal.addEventListener("ids", this._handleIDs);`  when called app throws error `Invalid response for blob`. Issue is always reproducible.

## Steps to reproduce

#### Dependencies

React Native Version: __0.54.2__
One Signal Version: __3.1.2__

1. Add `OneSignal.addEventListener("ids", this._handleIDs);` in `componentDidMount()`
2. Launch the app

## Screenshot

![simulator screen shot - ipho

[2018-03-22 18:29] Nightsd01 commented on #430
To fix this issue for now, I would recommend adding this grade plugin to the _very_ top of your `app/build.gradle` file:

[code]

In the longer term, we will be fixing this issue in a cleaner way with an update to how the SDK handles dependencies. We will probably be releasing it in the next day or two.

[2018-03-22 18:29] #430 closed, assigned to nobody

[2018-03-22 18:42] Nightsd01 commented on #433
@devladinci I am unable to reproduce your issue, `OneSignal.addEventListener('ids', this.handleIds)` appears to work just fine in my own applications.

Would it be possible for you to reproduce this issue in our example project in `/examples/RNOneSignal/`?

[2018-03-22 18:45] Nightsd01 commented on #432
@duytq94 This is a very vague issue. Are you seeing any errors printed to logcat? Can you set OneSignal log level = verbose?

[2018-03-23 11:23] hjJunior opened #434 "setLocationShared is not a function"
I have cloned example repository to get started, when I build I'm getting this error

[code]

I've see #370 pull request merge, but even with this, I got this error, what should I do do solve the problem

### Details
Running on iOS simulator

[2018-03-23 15:39] duytq94 commented on #432
@Nightsd01
![image](https://user-images.githubusercontent.com/24253421/37838599-eb8a0194-2eea-11e8-9b49-655189e5d1f5.png)
This is the info when I log in verbose.
I don't get anything more info than that in log.

[2018-03-25 05:27] policz commented on #20
This is the issue,  when i run react-native run-android after configuring firebase to my react-native
project. And also please find the attachments below.

[android-app-build.gradle.txt](https://github.com/geektimecoil/react-native-onesignal/files/1845043/android-app-build.gradle.txt)
[android-build.gradle.txt](https://github.com/geektimecoil/react-native-onesignal/files/1845044/android-build.grad

[2018-03-26 06:39] s123121 commented on #430
@Nightsd01 I did add those options in my `app/build.gradle` but the problem still persist.

[2018-03-26 07:28] aliy321 commented on #428
im also having this issue, using Cocoapods.

[2018-03-26 10:08] martinosmartinos opened #436 "Switching back from setSubscription(false) to setSubscription(true)"
It looks like once you unsubscribe user with setSubscription(false) and later on subscribe back with setSubscription(true) -- it  stays on false at least onesignal dashboard shows user as opted out.
Any trick here to overcome named issue?

[2018-03-26 10:20] deepakverma4 commented on #280
+1

[2018-03-26 18:47] Nightsd01 commented on #428
@aliy321 what do you mean you’re using cocoa pods?

All you need is npm to install react-native-onesignal

[2018-03-26 22:03] Nightsd01 commented on #436
@martinosmartinos I am not able to replicate your behavior. When I use `setSubscription(false)` and then go back to `setSubscription(true)`, the dashboard correctly shows the user as being subscribed again.

Are you seeing any errors printed to the log when you do `setSubscription(true)`? Are you sure the user was subscribed before your app ever calls `setSubscription(false)`...?

[2018-03-26 22:07] Nightsd01 commented on #434
@hjJunior Why are you using `_reactNativeOnesignal.default`...? What is the 'default' property?

The example project does not include this line anywhere.

Are you sure you are downloading the most recent example project, and that npm is installing the most recent version of the `react-native-onesignal` dependency?

[2018-03-26 22:08] Nightsd01 commented on #433
I am closing this issue due to inactivity. Please feel free to reply if you're still seeing this problem and I'll be happy to reopen and investigate.

[2018-03-26 22:08] #433 closed, assigned to nobody

[2018-03-26 22:11] Nightsd01 commented on #432
@duytq94 If the SDK works fine on all devices except for one particular device, it could be multiple issues. Does the device use Google Play services, or does it get push notifications through some other provider?

In any case, since it's only happening with one particular device, it wouldn't be an issue with the react-native-onesignal SDK, I would recommend that you contact OneSignal support at h

[2018-03-26 22:11] #432 closed, assigned to nobody

[2018-03-26 22:34] hjJunior commented on #434
Sorry, I've cloned the repository, so I'll close now, because when I install by npm its everything okay 👍

[2018-03-26 22:34] #434 closed, assigned to nobody

[2018-03-27 00:25] ogeeThilook commented on #428
Hello @Nightsd01 thank you for your quick reply. For some reason, the one-signal was appearing inside PodFile automatically and was trying to be installed via cocoa pods. After removing the node modules folder and install one-signal as the first dependency (After react-native and react) I was able to resolve the issue.

[2018-03-27 00:25] #428 closed, assigned to nobody

[2018-03-27 00:48] Nightsd01 commented on #425
Closing due to no response....

If you are still encountering this issue @pmogollons please feel free to respond with the questions I asked above and I'll be happy to reopen & investigate.

[2018-03-27 00:48] #425 closed, assigned to nobody

[2018-03-27 00:57] Nightsd01 commented on #423
We currently have no plans to add JS background events.

You _can_ use the `content-available` flag, if the app is still running (but in the background) it will correctly call the `onReceived` JS event.

However if the app is completely terminated (either intentionally or due to being closed by iOS), the only way to do background processing is by using a Notification Service Extension (we have ins

[2018-03-27 00:57] #423 closed, assigned to nobody

[2018-03-27 08:01] martinosmartinos commented on #436
Actually I was wrong and everything works fine while switching setSubscription. Problem was my code itself so I am closing this issue. Thanks for reply and putting me on a right path, appreciate!

[2018-03-27 08:01] #436 closed, assigned to nobody

[2018-03-27 22:40] pencilcheck commented on #430
Cool, I hope the changes can be merged asap. Really appreciate for the short turnaround. Thanks.

[2018-03-28 03:11] VBarzionov opened #438 "IOS setup step missed in Docs"
Hi,
It seems that setup steps for IOS verision missed part about inserting ONE_SIGNAL_APP_ID.
I try this package first time, and not very confident is this step is nessesary.
However untill I did modification in AppDelegate.m - pushes did not work.
I found info here https://github.com/OneSignal/react-native-onesignal
![image](https://user-images.githubusercontent.com/33849682/38006818-37c4df2c-324

[2018-03-28 03:23] Nightsd01 commented on #438
@VBarzionov I’m not sure what you mean? The readme is very clear about where to put the OneSignal App ID, both for iOS and Android...?

[2018-03-28 03:23] #438 closed, assigned to nobody

[2018-03-28 03:32] VBarzionov commented on #438
There is no information about set APP_ID for IOS on this page https://github.com/geektimecoil/react-native-onesignal

[2018-03-28 03:35] Nightsd01 commented on #438
@VBarzionov yes, there is. The readme says where to put the code and also says to replace with your own App ID.

[code]

[2018-03-28 03:47] VBarzionov commented on #438
You are right.
After you point I could finally find the code inside collapsed block.

[2018-03-28 16:35] gaboelnuevo commented on #423
I think that load a headless task will be nice. Thanks you.

[2018-03-28 19:03] nilaybrahmbhatt opened #439 "Invalid bitcode version Xcode"
I got this err while generating build

[code]

[2018-03-28 19:44] faustoct1 opened #440 "React-native + expo + onesignal crashes the app on intialization (Android)"
Any related bug ? The app just crashes when add onesignal.

got this error from logcat not sure if it means anything

[code]

[2018-03-28 20:15] jkasten2 commented on #440
@faustoct It doesn't look related, I don't see OneSignal in the stack trace or the message. Do you get this error when opening a notification or just each time the app is opened normally?

[2018-03-28 20:19] jkasten2 commented on #20
@policz Can you add the following to the very top (line 1) of your `android/app/build.gradle`?
[code]

This plugin will align all gms versions in your project to match which will fix any related `Multiple dex files define` errors.

[2018-03-28 20:49] faustoct1 commented on #440
@jkasten2 just each time the app is opened normally. Without onesignal it works when add it crashes.

[2018-03-28 21:04] faustoct1 commented on #440
@jkasten2 I have no idea what to try next. Please, a little help my friend..

[2018-03-28 21:31] jkasten2 commented on #440
@faustoct Can you provide an example project reproducing the issue? Either a link to a zip or a public github repo will be helpful

[2018-03-28 21:44] faustoct1 commented on #440
@jkasten2 ok.. i'm gonna push the project so you can run locally..

[2018-03-28 22:02] faustoct1 commented on #440
@jkasten2 u can run from here https://github.com/faustoct/onesignaltest

[2018-03-28 22:03] haabnaseem commented on #379
hi @fatihkahveci were you able to find a solution ?

[2018-03-28 22:19] ehtasham89 opened #441 "OneSignal only supports `received`, `opened`, and `ids` events"
I am getting following error on start of error in development.
[code]

[2018-03-28 22:21] ehtasham89 commented on #441
In ReduxWrapper following event called:
[code]

[2018-03-28 22:53] faustoct1 commented on #440
@jkasten2 maybe it can show more details

[code]

[2018-03-28 22:58] faustoct1 commented on #440
@jkasten2 hi man just worked had to add the follow line to AndroidManifest.xml

`<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />`

[2018-03-28 23:03] jkasten2 commented on #440
@faustoct That might fix the crash but your still going to have issues with OneSignal and most other Android SDKs / plugins due to another issue in your project.

After looking at your project I found `tools:node="replace"` in your `<application>` tag in your `android/app/src/main/AndroidManifest.xml`. This means any xml tags that plugins / SDK require will be omitted which will cause them not to

[2018-03-29 00:01] faustoct1 commented on #440
@jkasten2  got it.. can't remove otherwise the project does not compile..
I got the error
[code]

is there another way to solve it?

[2018-03-29 01:10] jkasten2 commented on #440
I don't see `react-native-fetch-blob` in your repo. Also it looks like you have `buildToolsVersion` set to `26.0.1`.
https://github.com/faustoct/onesignaltest/blob/master/android/app/build.gradle#L20

Is this error from the same project? If not you should be able to just update `buildToolsVersion` to `25.0.0` or newer in your `android/app/build.gradle`. `27.0.3` is the newest which is recommend.

[2018-03-29 01:48] Nightsd01 commented on #379
@fatihkahveci @haabnaseem Are you saying you are still unable to see rich push notifications?

This will not fix your problem, but it will help me understand what the problem is. Try this and let me know if the button shows up or not on the push notification.

Try sending a push notification through the OneSignal dashboard. Do ***NOT*** add images to this push notification. Instead, add two button

[2018-03-29 06:10] fatihkahveci commented on #379
@haabnaseem @Nightsd01

Hello, our problem has been solved. You need do three things for that.

1- Get lastest version.
2- You need to send rich media notification with https protocol.
3- Rich media notification only work on iOS 10+ (We don't test button notification on iOS 10 device.)

[2018-03-29 07:07] faustoct1 commented on #440
@jkasten2 it seems to work.. will test the app and check it has a broken stuff. let u know. Will try ur suggestion.. thank you let u know soon..

[2018-03-29 07:23] Kisepro opened #442 "Updating version from 3.1.2 to 3.1.3 : Could not resolve all dependencies for configuration"
Hello,

Since I updated the version to 3.1.3 I'm not able anymore to compile, I get this error message

I'm using :
compileSdkVersion : 23
buildToolsVersion 23.0.1

I tried also to install the sdk tools 26.0.0 & 27.2.0 but it does not work.
![image](https://user-images.githubusercontent.com/7433141/38075466-acd01288-335c-11e8-806e-731e952a398b.png)

I would like to not have to upgrade my compileSd

[2018-03-29 09:01] HessiPard commented on #442
Same Issue here

[2018-03-29 09:06] HessiPard commented on #442
i think its because of this commit :
[https://github.com/geektimecoil/react-native-onesignal/commit/2d94cfe65913c96ecb0548beb85d6fae6020e3c0](https://github.com/geektimecoil/react-native-onesignal/commit/2d94cfe65913c96ecb0548beb85d6fae6020e3c0)
the minimum sdk version has been changed!

[2018-03-29 09:27] jkasten2 commented on #442
@Kisepro Thanks for reporting, we were too aggressive on updating the `build.gradle` setting in the 3.1.3 SDK update, as you noted @HessiPard.

I just created a new react project with `react-native init` found it to be defaulting to some extremely old `build.gradle` settings!
`compileSdkVersion 23`, `BuildToolsVersion "23.0.1"`,  and `targetSdkVersion 22`
Even with the latest `react-native-cli: 2.

[2018-03-29 19:09] Nightsd01 commented on #441
We removed the `registered` event since it isn't (and never was) used

Thank you for posting your solution to it!

[2018-03-29 19:09] #441 closed, assigned to nobody

[2018-03-29 20:59] faustoct1 commented on #440
@jkasten2 I didn't add react-native-fetch-blob to the example.. Doing my way got this error
[code]

[2018-03-29 22:39] jdestremps commented on #68
The new gradle does not seem to allow programmatic setting of manifestPlaceholders in the build loop, and if you have two dimensions, and need to differentiate between apps and environments, then this is quite a limitation.  Let's say you have two dimensions, app and env, and you have app A and B, and env PreProd and Prod.  Then you have four variants.  We want a separate app ID for each one.  Not

[2018-03-29 23:18] faustoct1 commented on #440
@jkasten2 Worked! I had to edit the app/build.gradle and add
[code]

[2018-03-29 23:18] #440 closed, assigned to nobody

[2018-03-30 03:30] tranvannhat commented on #280
Thanks @arma7x <3

[2018-03-30 04:47] jkasten2 commented on #440
@faustoct Good to hear, glad I was able to help!

[2018-03-30 06:49] nikasvan commented on #442
When is fix planned to be merged? Can not open the React Native app on android because of this! Please fix!

[2018-03-30 07:23] HessiPard commented on #442
@nikasvan you can temporarily restrict the react-native-onesignal version in package.json to 3.1.2.

[2018-03-30 16:12] tlloydukdev commented on #127
I had to comment out the podfile entry for onesignal to get this to work

[2018-03-30 20:02] Nightsd01 commented on #439
I am closing this issue due to a lack of details.....

If you can provide some more information I would be happy to reopen and investigate the issue.

Can you tell me:

1. Why do you think this issue is related to the OneSignal react native SDK?
2. What version of the SDK are you using?
3. Did you make a change that caused this issue to occur?

[2018-03-30 20:02] #439 closed, assigned to nobody

[2018-03-30 23:45] #442 closed, assigned to nobody

[2018-03-31 00:32] jkasten2 commented on #442
@Kisepro @HessiPard @nikasvan We have released version 3.1.4 with a fix for this. https://github.com/geektimecoil/react-native-onesignal/releases

[2018-03-31 06:32] zen0wu opened #445 "Fails to pin version of gcm services"
Apologize if this is the wrong place to ask, it might be problem with onesignal-android-sdk itself.

I added the following in build.gradle

[code]

It seems that react-native-onesignal's dependency declaration forces gradle to upgrade the gms version to 12.0.1, but I couldn't figure it out since the OneSignal 3.8.3's POM says it's ok with all versions between `[10.2.1, 12.1.0)`

http://central.mav

[2018-03-31 11:43] vgeorge commented on #196
Seems like `react-native link react-native-onesignal` does not update `MainApplication.java` in all cases, it didn't for me too. I suggest reopening this issue until the docs show how to link this library manually.

[2018-03-31 16:35] ilyakar opened #447 "Android notifications register without prompt?"
Sorry if it’s a silly question, I’m not too familiar with Android workings. So Android users don’t get a prompt for getting notifications, they are just automatically subscribed?

[2018-04-01 00:04] cihadturhan commented on #340
I can confirm it happens android 8.0 or above.
I followed exactly what's written in in readme.

I'm using v3.1.2 and I'll update to v3.1.4 if it matters.

[2018-04-02 09:15] vgeorge opened #448 "Network failure on OneSignal.logoutEmail()"
I've successfully registered an user e-mail after login using `OneSignal.setEmail(email, callback)`, but when I call OneSignal.logoutEmail(callback) the following error is returned: `Failed due to network failure. Will retry on next sync.`. It doesn't seem to exist a network problem, otherwise `.setEmail()` wouldn't work. I'm using the following versions:

[code]

[2018-04-02 16:10] faustoct1 opened #449 "iOS build fails"
Getting this error when build ios
[code]

[code]

Any help to get it working ?

[2018-04-02 16:29] faustoct1 commented on #449
had to add to `AppDelegate.h`

[code]

[2018-04-02 16:30] #449 closed, assigned to nobody

[2018-04-02 16:30] faustoct1 commented on #449
by the way it should be documented that I have to edit both files `AppDelegate.h` and `AppDelegate.m`.

[2018-04-02 16:33] Nightsd01 commented on #449
@faustoct the readme does discuss both the header (.h) and implementation (.m) files:

[code]

[2018-04-02 16:48] djalmaaraujo commented on #447
@ilyakar I might be wrong, but after buildTools 25, the user accepts to receive notifications before installing the app. :)

[2018-04-02 19:06] Abhiteshkr commented on #297
I have similar problem, for fixing it i modified "./platforms/android/build.gradle" file by editing it in VIM editor. But once i am building my app fro android all my changes in "./platforms/android/build.gradle" file are reverted back. And i got the same error. How to fix this ?
<br>
https://stackoverflow.com/questions/49585333/build-gradle-restore-to-old-config-after-ionic-cordova-build

[2018-04-02 19:27] jkasten2 commented on #447
@ilyakar @djalmaaraujo Android does not have a system prompt for notification permissions like iOS does, they are enabled by default. Android 6.0 (API Level 23) did add runtime permission prompts however notifications were not one of them.

If you wish to not auto subscribe your users you may call `OneSignal.setSubscription(false);` after init on the first app start. Then when you prompt and they

[2018-04-02 19:31] ilyakar commented on #447
Thank you for explaining, Josh. That’s what I was hoping for.

Kind regards,
Ilya

[2018-04-02 19:44] #447 closed, assigned to nobody

[2018-04-02 20:09] isacoskun commented on #297
Do you still make a mistake?

2 Nis 2018 22:06 tarihinde Abhiteshkr <notifications@github.com> yazdı:

I have similar problem, for fixing it i modified "./platforms/android/build.gradle" file by editing it in VIM editor. But once i am building my app fro android all my changes in "./platforms/android/build.gradle" file are reverted back. And i got the same error. How to fix this ?

https://stackov

[2018-04-02 20:14] nilaybrahmbhatt opened #450 "Xcode deployment Error "minimum OS too low""
Xcode version 8.2.1
one signal version : latest
react-native version  : 0.50.3

![](https://lh3.googleusercontent.com/-NlEfraGCPds/WsKFg57vouI/AAAAAAAACXI/1HaV-mCt2D01Vex9azcgncfAbPYkdeKSwCL0BGAYYCw/h408/2018-04-02.png)

[2018-04-02 21:05] Andriiklymiuk commented on #373
So, have someone solved this issue?

[2018-04-02 21:09] djalmaaraujo opened #451 "I am not receiving IOS notifications"
So, I have all my stuff setup. I am a but confuse HOW the OneSignal setup in the dashboard links to the react-native application. I am running the app from XCODE like this:

![image](https://user-images.githubusercontent.com/3402/38216266-2d6e1c92-36c2-11e8-97cf-071d78fefcd7.png)

The code is setup in my application and I CAN RECEIVE ANDROID NOTIFICATIONS, so the issue I think it's more like confi

[2018-04-02 21:13] Nightsd01 commented on #451
It is **not** possible to receive push notifications in the iOS simulator, so you would need to use a real iOS device.

If your issue occurs on a real iOS device, please contact OneSignal support so we can get more information from you. There could be many potential causes. @djalmaaraujo You can contact OneSignal support by going to https://www.onesignal.com and clicking the ? button.

[2018-04-02 21:13] #451 closed, assigned to nobody

[2018-04-02 21:15] djalmaaraujo commented on #451
@Nightsd01 THANKS, I will test

[2018-04-02 21:15] jkasten2 commented on #373
@Andriiklymiuk Can you confirm that the `<application>` tag in your `AndroidManifest.xml` does not have `tools:node="replace"`? This is the most common cause of this specific error.

If not I recommend sharing your root `build.gradle`, `app/build.gradle`, and your `AndroidManifest.xml` so we can check for any other possible issues. Or if are able to reproduce the issue with a new project with a sp

[2018-04-02 21:16] jkasten2 commented on #448
@vgeorge Is this an issue with iOS or Android or both? Are using the latest 3.1.4 OneSignal React Native SDK?

[2018-04-02 21:16] djalmaaraujo opened #452 "Add a readme explanation that you can't test OneSignal using IOS Simulator"
This would save me at least 2 hours debugging the code! It works for andrioid, but not IOS

[2018-04-02 21:17] Nightsd01 commented on #450
@nilaybrahmbhatt This is not an issue with the OneSignal SDK...this is an issue with your deployment target.

https://stackoverflow.com/questions/27169179/minimum-os-version-mismatch

[2018-04-02 21:17] #450 closed, assigned to nobody

[2018-04-02 21:17] #452 closed, assigned to nobody

[2018-04-02 21:18] Nightsd01 commented on #452
This is not a OneSignal restriction - it's an iOS restriction. We will add a note in the readme

[2018-04-02 21:19] Nightsd01 commented on #451
Please, please stop opening multiple issues in our SDK.

[2018-04-02 21:25] Andriiklymiuk commented on #440
I have the same issue and placing my applicationId in appAuthRedirectScheme doesn't help either. Maybe someone solved the issue?

[2018-04-02 21:39] faustoct1 commented on #440
@Andriiklymiuk have u tried the steps described here? I mean
1) install react-native-onesignal (`yarn add react-native-onesignal`) + link (`react-native link react-native-onesignal`)
2) add `<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />` to AndroidManifest.xml
3) `update buildToolsVersion to 27.0.3 in your android/app/build.gradle

[2018-04-02 23:44] djalmaaraujo commented on #451
@Nightsd01 I am not sure if the issue is with the OneSignal, since I can use Android perfectly. I followed every little step from the tutorial, but I am trying to see a new user registered and it's simply not working for IOS. You don't think I should open an issue to this repo?

[2018-04-03 00:06] Nightsd01 commented on #451
@djalmaaraujo Did you test it on a real iOS device?

[2018-04-03 00:25] djalmaaraujo commented on #451
I was able to make it work thanks. I was using an incorrect app id.

[2018-04-03 05:26] nilaybrahmbhatt commented on #450
@Nightsd01  i know that but what's the minimum OS required for OneSignal SDK ?

[2018-04-03 05:53] Andriiklymiuk commented on #373
@jkasten2 Yes, I have tools:node="replace" and without it project doesn't work.

[2018-04-03 06:17] Andriiklymiuk commented on #440
@faustoct Thanks) These suggestions solved several problems in our project, but not all.
So I found workaround to the problem, which works for our project:

1. `tools:node="replace"` -- deleted in AndroidManifest
2. added in build.gradle (app)
[code]

[2018-04-03 07:18] jkasten2 commented on #373
@Andriiklymiuk Using `tools:node="replace"` on `<application>` breaks OneSignal and as well as a number of other native Android plugins as it omits any services, receivers, actives , meta-data, etc that they try to include.

What errors / issues do you get if you remove `tools:node="replace"`? If you can provide the above details from my last comment we should be able to find the root of the probl

[2018-04-03 07:41] jkasten2 commented on #445
@shivawu OneSignal works with version `10.2.1` and newer and any version before `12.1.0` of gms. Gradle doesn't pin to a version, it will try to use the newest possible in that range.

By adding `compile com.google.android.gms:play-services-base:11.4.0` it won't have any effect as `play-services-gcm:12.0.1` has an exact version dependency on `play-services-base:12.0.1`.

See this output of `./grad

[2018-04-03 10:10] vgeorge commented on #448
@jkasten2 I've tested only on Android. If you mean "3.1.4 OneSignal React Native SDK" as this module  3.1.4 version, yes, this is the version. Also I've only tested in the emulator, with Android 8.1.

[2018-04-03 10:25] Andriiklymiuk commented on #373
@jkasten2  Well, I am deleting it and receiving the following errors. I guess it is some problems in my project, thanks)

`Manifest merger failed : Attribute meta-data#android.support.VERSION@value value=(25.4.0) from [com.android.support:design:25.4.0] AndroidManifest.xml:28:13-35
	is also present at [com.android.support:support-v4:26.1.0] AndroidManifest.xml:28:13-35 value=(26.1.0).
	Suggestion:

[2018-04-03 11:07] Andriiklymiuk commented on #373
@jkasten2 Thanks! It was really nice suggestion about `tools:node="replace"`
So I found workaround to this problem, which works for our project:
1. `tools:node="replace"` -- deleted in AndroidManifest, as you mentioned.
2. added in build.gradle (app)
[code]

[2018-04-03 16:37] DavidNorena opened #453 "Typescript Typings"
Hi guys, awesome work, can you please add typescript support ?

I'm working on a project using typescript, but you have not support for it :(

[2018-04-03 22:30] jkasten2 commented on #373
@Andriiklymiuk Good to hear!

We recommend the following gradle plugin instead of the `resolutionStrategy` gradle snippet you have so you don't have to update the `26.1.0` value when plugins change dependencies in the future.

Add to line 1 of your `app/build.gradle`
[code]
It will also fix gms and firebase versions to be in alignment too.

[2018-04-03 23:23] zen0wu commented on #445
Thanks a lot for your kind answer!

There's actually no specific reason that I have to pin the version, but I found every time upstream's gms dependency has upgrade it would break my build. Then I found the issue is because some of my 3rd-party dependencies (react-native-device-info, react-native-onesignal for example) have specific version pinned in their build, so I have to cope with the same ve

[2018-04-04 06:20] Andriiklymiuk commented on #373
@jkasten2 Oh, thanks a lot) So I ll write it here the way it worked for me, just  in case anybody will face same issue.
[code]

[2018-04-04 09:50] Kisepro commented on #442
Working like a charm
Thanks !

[2018-04-04 15:45] dmitryshelomanov opened #454 "Device is not visible (android)"
react-native - 0.53
react-native-navigation - 3.1.4

actions
1. run react-native link
2. modify AndroidManifest
3. add keys

Notifications do not come. There are no errors.

[2018-04-04 15:47] dmitryshelomanov commented on #454
ps. All keys valid

[2018-04-04 16:11] dmitryshelomanov commented on #454
adb logcat error
`OneSignal AppId format is invalid.`
`Example: 'b2f7f966-d8cc-11e4-bed1-df8f05be55ba'`

[2018-04-04 19:27] Nightsd01 commented on #454
@userbq201 Did you change your app ID in your app's `build.gradle` file?

Better yet, can you just post your `app/build.gradle` file?

[2018-04-04 19:29] Nightsd01 commented on #448
@vgeorge calls to `setEmail()` don't get executed immediately, it can take up to 30 seconds.

Is your app waiting until the callback for `setEmail()` returns successfully before trying to call `logoutEmail()`?

If so, would it be possible for you to reproduce this issue in our example demo project?

[2018-04-04 23:00] jkasten2 commented on #454
@userbq201 Can you check your `<application>` tag in your `AndroidManifest.xml` for `tools:node="replace"`? If so please remove it, this is the most common issue for this error if you have already confirmed the id is correct.

If you run into other issues after removing this I recommend adding the following to the very top of your `app/build.gradle`:
[code]

For more details on this in this thread

[2018-04-05 11:10] SalviShahzad commented on #20
I had the same issue as @policz . Thanks @jkasten2 your solution fixed it.

[2018-04-05 15:52] V3RT1AG0 commented on #341
@natterstefan  did you have luck in getting the notification data back into react native part?

[2018-04-05 16:31] #454 closed, assigned to nobody

[2018-04-05 16:35] dmitryshelomanov opened #455 "Outdated Android Support Library"
**What is the problem ?**

`device - Nexus 5X (8.0.0)`
`dradle - compile "com.android.support:appcompat-v7:23.0.1"`
`targetSdkVersion - 26`
`react-native-onesignal - 3.1.4`

[2018-04-05 18:51] jkasten2 commented on #455
@userbq201 If you set `targetSdkVersion 26` your  `com.android.support` must be `26` as well. Also your `compileSdkVersion` must be at or newer than `targetSdkVersion`.

This is a better way to look at it.
[code]

There is a bigger issue however with react-native, from what I have seen `targetSdkVersion 26` isn't working
https://github.com/facebook/react-native/issues/18095
It is recommend to keep

[2018-04-05 20:39] dmitryshelomanov commented on #455
@jkasten2 means if `minSdkVersion = 16` then `targetSdkVersion` may be > 16 and < 26 (suppose 24) and `compileSdkVersion = 26`. Is obtained com.android.support must be 24 ? Taking into account the admonition. Do you need to reduce the number to 23? What role does the `minSdkVersion, targetSdkVersion, compileSdkVersion`

[2018-04-05 20:42] dmitryshelomanov commented on #455
@jkasten2 But why is there an error in the admin panel? Because of incorrect versions?

[2018-04-06 01:48] jkasten2 commented on #455
@userbq201 `com.android.support` should always be the same version as `targetSdkVersion`. There cases where it will still work when they don't match but Google recommends that they should always be the same.

The reason why the OneSignal dashboard reports `Outdated Android Support Library` is that `'com.android.support:VERSION'  < targetSdkVersion` in your project. This is important due to Notific

[2018-04-06 06:36] #455 closed, assigned to nobody

[2018-04-06 11:30] danchokobo opened #457 "No type or protocol named 'OSSubscriptionObserver'"
![2018-04-06 17 29 42](https://user-images.githubusercontent.com/16972272/38418931-26ba0bee-39c0-11e8-996f-e202b484f4ec.png)

[2018-04-06 14:22] vgeorge commented on #448
@Nightsd01 I was trying to use this feature to notify a specific user, but I found out how to do it using `setTags()` and `getTags()`. I won't have time to try with the example right now, but I recall I wasn't waiting for `setEmail()` response, so probably my mistake.

[2018-04-06 18:29] Nightsd01 commented on #457
@danchokobo How did you install the RN SDK? What version of the SDK are you using?

If you expand `RCTOneSignal.xcodeproj` subproject in the Libraries section of your project, can you see `libOneSignal.a` and `OneSignal.h`?

[2018-04-08 03:35] jmknoll commented on #457
@Nightsd01 I'm running into the same problem after adding the RN Onesignal library. I see both of those files when I expand RCTOneSignal.xcodeproj

I was following the setup instructions [here](https://medium.com/differential/react-native-push-notifications-with-onesignal-9db6a7d75e1e) (might be a bit outdated)

Edit: If I update to the latest OneSignal pod (2.8.2), I get a linker error similar to

[2018-04-08 10:07] luongs3 commented on #20
got this error once, resolved it.
and now, got this error again.
but don't remember how i revolve.
poor me

[2018-04-08 11:01] natterstefan commented on #341
@V3RT1AG0 yes, kind of. Because I stopped using `onReceived` but used `onOpened` instead, I was able to achieve the same result I wanted to have. The latest version of react-native-onesignal works great for this. This is how I handle it (even works when the app is closed an one clicks on a notification):

First you have to add a listener (eg. in the `componentWillMount` of your App, currently I us

[2018-04-09 17:37] Nightsd01 commented on #457
@jmknoll cocoapods is no longer needed to install the OneSignal SDK. All you need is the npm package.

I would recommend running `pod deintegrate` in your iOS project, and then open the `projectname.xcodeproj`.

[2018-04-09 17:37] Nightsd01 commented on #457
@danchokobo I am assuming you managed to fix your issue. Closing issue due to no response. If you are still encountering this problem please feel free to respond and I'll be happy to reopen and investigate.

[2018-04-09 17:37] #457 closed, assigned to nobody

[2018-04-09 17:39] Nightsd01 commented on #448
@vgeorge if you see this issue again please let me know, otherwise I've been unable to reproduce it.

[2018-04-09 17:39] #448 closed, assigned to nobody

[2018-04-09 17:40] Nightsd01 commented on #380
We believe this issue has been resolved since `3.1.0`. Please feel free to post if you are still encountering this issue and we'll be happy to reopen and investigate.

[2018-04-09 17:40] #380 closed, assigned to nobody

[2018-04-09 18:08] jkasten2 commented on #20
@policz Can you include the crash from the logcat of the emulator? The other files you posted will still be helpful depending what the stack trace ends up being.

[2018-04-09 18:31] policz commented on #20
hey @jkasten2   , i dont know what is this logcat of the emulator? is it a file somewhere included in app folder?

[2018-04-09 18:42] jkasten2 commented on #20
@policz It is a log from the device / emulator itself, you can use `adb` or Android Studio to get it. See this guide
https://documentation.onesignal.com/docs/troubleshooting-android#section-how-to-get-a-crash-or-error-log-from-an-android-device

[2018-04-09 20:07] policz commented on #20
Hello @jkasten2 , please find the logcat file from the Android Studio when i run the app in android emulator.

"Just to remind you that the application is running well in both emulator and physical device when i launch from windows " .

[crash.txt](https://github.com/geektimecoil/react-native-onesignal/files/1891603/crash.txt)

[2018-04-09 20:09] jkasten2 commented on #20
@policz The crash is from the following in your log.
[code]

It looks like this is due to a version of `android.support.v4` either to old or to new for `com.google.firebase` to use.

Make sure you are using the latest react native OneSignal SDK 3.1.4.

You can also try updating line 2 in your `android-app-build.gradle` from version `0.8.1` to `0.8.2` to see if this fixes the issue. We are working

[2018-04-09 20:26] policz commented on #20
Thank you @jkasten2

Yes, i tried with 0.8.2 but still throwing the same issue "app stopped working".
But why the app is not working when its launched from Mac OS

[2018-04-09 20:47] policz commented on #20
Actually my android-app-build.gradle contains
plugins {
id 'com.onesignal.androidsdk.onesignal-gradle-plugin' version '0.8.1'
}
apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'

i just removed it and made some changes in the android-app-build.gradle file, Please find the attachment below, and it worked now
[android-app-build.gradle.txt](https://github.com/geektimecoil/react-native-

[2018-04-09 20:56] jkasten2 commented on #20
@policz Most likely different react native versions of your libraries are being used on one system vs the other. You can double check your project's `package.json` to confirm this.

It could also be due to gradle resolving different versions due to other factors. You would have to run this to see what your getting here
`./gradlew app:dependencies --info`

Note sure if those changes will help or no

[2018-04-10 15:08] policz commented on #20
@jkasten2  i have executed  "./gradlew app:dependencies --info" on my project folder but it says ""No such file or directory"

[2018-04-10 21:14] faustoct1 opened #460 "Error:Execution failed for task ':app:processDev19DebugManifest'"
After ran:
[code]

when try to build the project got this error:
[code]

Any help? How to solve it? thanks

[2018-04-10 21:18] faustoct1 commented on #460
paste my old onesignal build.gradle got it working.. please can anyone provide a good solution for that?

[code]

[2018-04-10 21:31] faustoct1 commented on #460
had a look at it the problem is this line.. maybe `@arr` is missing
[code]

what works for me was add `@arr` to `com.onesignal:OneSignal:3.8.3`
[code]

can anyone validate the solution/workaround pls?

[2018-04-11 00:24] ChristianTucker commented on #442
@jkasten2  I'm using 3.1.4 and I'm still getting this issue.

[code]

[2018-04-11 00:29] jkasten2 commented on #442
@ChristianTucker Are you seeing this specific error or a different one?
[code]
The `com.android.support` dependency was excluded in 3.1.4 so this should NOT be pulled in from OneSignal.
https://github.com/geektimecoil/react-native-onesignal/blob/3.1.4/android/build.gradle#L31

Are you able to reproduce the issue with a new react project with OneSignal? Or does the problem only occur once you start

[2018-04-11 05:06] faelsolucoes commented on #20
Hi guys,
I had the issue of first post and I solved without plugins, only run the following steps in android:

1) File app/build.gradle
   I removed in all packages of use "com.google.android.gms", I needed look at all packages used in Project.
For example:
   compile (project(':RNAdMob')) {
        exclude group: 'com.google.android.gms', module: 'play-services-ads'
   }
   compile (project(':rea

[2018-04-11 08:41] Noitidart commented on #343
@ccoeder may you please share updated link. The docs don't seem to be there anymore.

[2018-04-11 08:45] hcyildirim commented on #343
@Noitidart oh, they changed the readme file. I found the old version [here](https://github.com/geektimecoil/react-native-onesignal/tree/improved_demo#set-in-app-focus-behavior).

[2018-04-11 08:48] Noitidart commented on #343
Thanks very much for such a fast reply @ccoeder !! I'll check that out. I'll also look out for updated docs, in case stuff changed.

[2018-04-11 09:01] Noitidart commented on #164
I'm having same issue, i set priority to high as well. How did you guys fix this?

[2018-04-11 12:35] gezamiklo commented on #117
sendTags is executed asynchronously. If getting tags immediately there's almost no chance to see the new tags.

[2018-04-11 18:38] edipoReboucas opened #461 "Events of Google Analytics for Firebase are not integrated when app is closed"
I'm trying integrate Google Analytics for Firebase based on [One Signal Documentation](https://documentation.onesignal.com/docs/google-analytics-for-firebase).

Maybe I have find a bug, when my app is closed, none of events documented on One Signal Documentation are integrated with Firebase.

When I was trying isolate the bug, I create a sample app base on the examples of this repository, and the

[2018-04-11 21:51] dahudson88 opened #462 "android/app/libs' not found when creating release build for Android"
I am currently trying create a release build in android.  When running the release build gradle script I am getting the following error.  I am seeing this several projects including react native one signal and was wondering if there was any change in the project that is needed in order to get this to work.  Everything works fine in iOS, but this is not working in Android.  I am getting a an error

[2018-04-12 15:42] dahudson88 commented on #462
I created a new app using CRNA and then copied my old code in and everything worked fine. APK is generated and everything works fine.  Not sure what caused this issue.  But if this helps someone else then it was a win.

[2018-04-12 15:42] #462 closed, assigned to nobody

[2018-04-13 09:15] sionnita commented on #453
me too, don't onesignal working at react native typescript?

[2018-04-13 12:28] hassanshuja opened #463 "Invariant Violation: OneSignal only supports received, opened, and ids events I am getting this error on building app on android"
Invariant Violation: OneSignal only supports `received`, `opened`, and `ids` events

This error is located at:
    in beonews (at renderApplication.js:35)
    in RCTView (at View.js:71)
    in View (at AppContainer.js:102)
    in RCTView (at View.js:71)
    in View (at AppContainer.js:122)
    in AppContainer (at renderApplication.js:34)

[2018-04-13 13:18] Symyon commented on #460
I just removed Dev19 flavor

[2018-04-13 13:53] lfaz opened #464 "Android build fails after react native onesignal library added"
After installed onesignal library in my react native app I get the following.

Error:

these are the logs:

[code]

Ps: I am using Gradle 3.3 and classpath 'com.android.tools.build:gradle:2.3.3' on Android studio 3.1
Seems that the problem somehow has to do with unit testing tasks!

This is how my react-native.onesignal.build.gradle looks like:

[code]

[2018-04-13 14:03] lfaz commented on #463
@hassanshuja what version of react native onesignal are u using? I am using ^3.1.4 and for some reason the build does not success on android studio using 2.3.3 gradle and 25.0.0 , I know this is nothing related to your issue!

react native onesignal gradle file:

[code]

[2018-04-13 14:03] lfaz commented on #463
can u post ur gradle files if u using android studio?

[2018-04-13 14:05] lfaz commented on #463
error i am getting:
Manifest merger failed : Attribute meta-data#android.support.VERSION@value value=(26.0.1) from [com.android.support:cardview-v7:26.0.1] AndroidManifest.xml:25:13-35
	is also present at [com.android.support:support-v4:26.1.0] AndroidManifest.xml:28:13-35 value=(26.1.0).
	Suggestion: add 'tools:replace="android:value"' to <meta-data> element at AndroidManifest.xml:23:9-25:38 to o

[2018-04-13 14:08] DavidNorena commented on #453
@sionnita, you can use it inside typescript files (.tsx, .ts), using vainilla javascript, as explained in the docs, but you will lose IDE typings and autocomplete support ! and if you use tslint you will have a lot of errors and warnings, that's why I asked for the definitions file.

I haven't test it yet, but it seems that @krystofcelba a couple of months ago created a pull request #395 in which

[2018-04-13 19:18] Nightsd01 commented on #463
@hassanshuja the error says what it means, somewhere in your project you must be subscribing to an unsupported event type. Can you search your codebase for `OneSignal.addEventListener` and tell me what types of events you are subscribing to?

[2018-04-14 16:07] lfaz commented on #460
@faustoct I get Could not find OneSignal.arr (com.onesignal:OneSignal:3.8.3) after I made the change according to you suggestion! Has it worked for anyone this? I am having trouble fixing onesignal with react native for two days, does anyone have any git version of react native detached with onesignal working?

this would be quite helpful

[2018-04-14 16:07] lfaz commented on #460
@Symyon does that mean by removing Dev19 solved this issue? I tried it didnt!

[2018-04-15 21:56] jkasten2 commented on #464
@lulzimfazlija The error is due to a mixture of different `com.android.support` group versions being resolved. Can you try adding the following to the top of your `app/build.gradle`?

[code]

This Gradle plugin should align these modules to correct the issue.

[2018-04-15 21:57] jkasten2 commented on #460
@faustoct @lulzimfazlija The error is due to a mixture of different `com.android.support` group versions being resolved. Can you try adding the following to the top of your `app/build.gradle`?

[code]

This Gradle plugin should align these modules to correct the issue.

[2018-04-16 08:51] WilliamAnputra commented on #464
@lulzimfazlija  i'm having the same issue, did you manage to solve it using @jkasten2 's solution

[2018-04-16 19:20] Symyon commented on #460
@lulzimfazlija
My build.gradle (app) compile statement looks a little different. I have

`compile(project(':react-native-onesignal')) {
    exclude group: "com.google.android.gms"
}    `

the exclude part is because of the other conflict, so you should be good with only:

`compile project(':react-native-onesignal')`

I have one signal notification working. I am detached.

Another thing is that And

[2018-04-17 01:42] Nightsd01 commented on #464
If you are having the same problem @WilliamAnputra, did you try jkasten2's solution...? If you did, what happens, does it resolve the issue or not?

[2018-04-17 01:47] Nightsd01 commented on #463
Closing this issue due to no response @hassanshuja. If you are still encountering this issue please feel free to reply...

[2018-04-17 01:47] #463 closed, assigned to nobody

[2018-04-17 01:48] Nightsd01 commented on #461
@edipoReboucas Sorry for the delay in getting back to you, I was sick all last week. I'm investigating your issue now and I'll get back to you shortly if you're still experiencing it, at least within 24 hours.

[2018-04-17 01:52] Nightsd01 commented on #460
Glad to hear it's working for you, if you have any further issues @Symyon or @lulzimfazlija please feel free to ask.

[2018-04-17 01:52] #460 closed, assigned to nobody

[2018-04-17 02:22] MultidimensionalLife commented on #462
Please fix this. I have the same issue.

[code]

[2018-04-17 02:33] danieljvdm opened #465 "Bring cocoapods support back"
Going through old commits I can see that there used to be a podspec but it has since been removed. If you are using React installed via cocoapods in a Swift project (with !use_frameworks) there is no other way - that I know of - to link this library other than through cocoapods.

Here is a working podspec that I'd be happen to open a PR for:

[code]

[2018-04-17 02:33] nineto4 commented on #20
Follow the ways of @jkasten2 you will solve your problem.
Thanks you @jkasten2

[2018-04-17 04:20] eceliknet opened #466 "Onesignal run to localhost ?"
Hi, onesignal localhost runing ???

[2018-04-17 05:20] Nightsd01 commented on #465
@danieljvdm the iOS SDK includes a static iOS OneSignal library. If you try to include the native iOS SDK as a dependency wont you see a duplicate symbols issue?

In any case, I didn’t realize there was a way to use this SDK via cocoapods, that’s my mistake. I’ll be happy to add it back tomorrow.

[2018-04-17 05:22] Nightsd01 commented on #466
@ankaramedya ...? Do you mean a local instance of the OneSignal backend server? It’s closed source, sorry.

Closing this issue due to lack of detail. It is generally in bad taste to open an issue with 4 words.

[2018-04-17 05:22] #466 closed, assigned to nobody

[2018-04-17 05:30] WilliamAnputra commented on #464
@Nightsd01  i did and it didn't work. still debugging

[2018-04-17 15:08] edipoReboucas commented on #461
Thanks @Nightsd01 , this bug is a "block" in my task. Reviewing my sample project, I noticed that I did not submit the changes to github in the React Native sample project. I did it now.

[2018-04-17 21:11] eceliknet commented on #466
I want to work through the local server. but I did not do it. Could you help

[2018-04-18 08:32] bss-trongluong commented on #340
I get whole day to resolve this bug

Update
 minSdkVersion        : 16,
                compileSdkVersion    : 27,
                buildToolsVersion    : '27.0.3',
                targetSdkVersion     : 27
 and update com.android.support to 27.1.1 It will run

[2018-04-18 14:10] ghost opened #467 "E/OneSignal: Error Getting Google Registration ID (android)"
Getting error on android and it return pushToken: null

[code]

[2018-04-19 13:06] James2516 opened #468 "Checking if app notification is enabled on Android"
Why [.checkPermissions](https://www.npmjs.com/package/react-native-onesignal#check-push-notification-permissions-ios-only) is only available for iOS?

Notification permission checking is added to Android in 2016: https://developer.android.com/reference/android/support/v4/app/NotificationManagerCompat.html#areNotificationsEnabled()

[2018-04-20 15:37] danieljvdm commented on #465
@Nightsd01  thanks for the response, sorry for taking a while to get back to you. You're right about the duplicate symbols issue, I'm not really sure if there's a way to get around that. I think it's safe though, judging by the code I saw. What are you thoughts on that?

I suppose ideally this library wouldn't package the iOS onesignal SDK in it but I'm guessing there's no way to do that with `rea

[2018-04-20 15:42] danieljvdm commented on #465
I just opened a PR for this

[2018-04-21 17:38] jboteros opened #470 "onReceived(notification) is not a function"
Hi, I'm trying to put a function in onReceived (notification)

**componentWillMount**
`OneSignal.addEventListener ("received", this.onReceived);`

**onReceived**
[code]

# error = this.onReceivedAction is not a function.

**log:  console.log ("Notification received:", FJSON.plain (notification));**
[code]

**this.onReceivedAction (notification)**
[code]
They help me understand what's wrong.

Thank

[2018-04-22 15:43] jboteros commented on #470
Hi, found solution

[#323](https://github.com/geektimecoil/react-native-onesignal/pull/323)
[code]

Tanks

[2018-04-22 15:43] #470 closed, assigned to nobody

[2018-04-22 23:48] rodrigograca31 commented on #340
I just had this issued and solved it by upgrading to `<engine name="android" spec="~7.1.0" />` on my config file to support SDK 27 as well as remove one older plugin and had problems with dex (`Multiple dex files define Lorg/apache/cordova/BuildHelper`) and used this to solve it: https://stackoverflow.com/questions/46562289/multiple-dex-files-define-lorg-apache-cordova-buildhelper

[2018-04-23 12:46] haiyamicode opened #472 "iOS cold start onOpened not triggered (Again!)"
Pretty much the same issue as #332 , but for me now the suggested solutions do not work anymore. No matter how early I call `addEventListener` (right at the start of App.js), my onOpened callback does not get called. I tried adding `OneSignal.configure` before it and tried many ways, still the same.
This only happens on **iOS** by the way.

[2018-04-24 04:45] sunnymopada opened #473 "Callback when user is coming to app from notification"
react-native-fcm provides a method named FCM.getInitialNotification() by which we can know whether the user opened the app from notification or opened normally. Based on it we are taking decision for deeplinking. I'm not sure how to achieve similar thing using onesignal, As one signal onOpened firing when the user is coming from notification, not firing when the user came normally.

[code]

[2018-04-24 10:12] ntnamag commented on #467
Same problem with you

[2018-04-24 13:41] zoi-aoba commented on #467
with you

[2018-04-25 19:22] Nightsd01 commented on #473
You might consider adding a Boolean variable `didOpenFromNotification`. It would normally be `false` but in the `opened` event listener you could set to `true`. You can then check the value of the flag in the `componentDidMount()` method, or use a timer to delay it.

In any case, there's many ways you could approach this, it is _not_ an issue with the SDK.

[2018-04-25 19:22] #473 closed, assigned to nobody

[2018-04-25 20:17] Nightsd01 commented on #472
@wilonth I am not able to reproduce your issue, whenever I try it with our demo/example project, it works just fine. You are using onesignal-react-native version 3.1.4 correct?

How do you know for sure that the `opened` event function is never firing?

Can you send some of the code you are using...?

[2018-04-25 20:17] Nightsd01 commented on #468
You can use `getPermissionSubscriptionState()` just like with iOS.

[2018-04-25 20:17] #468 closed, assigned to nobody

[2018-04-25 20:50] sunweiyang opened #475 "Withdraw/delete push notification from server"
Our RN app needs to send out push notification to a number of people (iOS and Android, app can be open/backgrounded/closed), and when just one of these people performs a specific in-app action, we need our server to erase these push notifications from everyone's phones.

Is this possible with this library? And if not, is there a way to accomplish this natively?

[2018-04-25 21:06] Nightsd01 commented on #475
@sunweiyang The OneSignal react-native SDK supports a function called `cancelNotification(id)`, which accepts an Android notification ID. This will remove a notification from the notification shade that has already been delivered.

In iOS, you can remove a notification that has been delivered, but our SDK does not support it. You would have to implement it yourself in Objective-C. [Here](https://s

[2018-04-25 21:06] #475 closed, assigned to nobody

[2018-04-25 22:44] lfaz opened #476 "I cannot install react-native-onesignal using pod install"
Pod file I included:

pod 'react-native-onesignal',
    :podspec => "../node_modules/react-native-onesignal/react-native-onesignal.podspec",
    :path => '../node_modules/react-native-onesignal'

Error installing react-native-onesignal
[!] /usr/local/bin/git clone git+https://github.com/geektimecoil/react-native-onesignal.git.git /var/folders/hp/96xj1gkj76s_x7hbh3rd2vs80000gn/T/d20180426-27872-elb

[2018-04-26 01:28] Nightsd01 commented on #476
Should be fixed in #469

[2018-04-26 01:28] #476 closed, assigned to nobody

[2018-04-26 01:28] Nightsd01 commented on #465
Thanks for the pr @danieljvdm , merged!

[2018-04-26 01:28] #465 closed, assigned to nobody

[2018-04-26 01:41] Nightsd01 commented on #464
This error usually occurs at the end of a gradle sync, but you can usually still build and run the app.

@WilliamAnputra Are you still encountering this issue?

[2018-04-26 01:42] Nightsd01 commented on #467
Can you add some more information?

- Does this issue occur only on one device or multiple devices?
- Simulator or real devices?
- How did you install react native onesignal into your project?
- Are you using the latest version of the SDK?

[2018-04-26 08:02] lfaz commented on #476
@Nightsd01 how it shuould be fixed? I didn't see or understand how!

[2018-04-26 09:50] Ferrick90 commented on #462
I have encountered this too. I have upgraded my gradle distributions 4.1 and build:gradle:3.0.1.

[code]

[2018-04-26 15:58] facuescobar opened #477 "ERROR: _reactNative.NetInfo.getConnectionInfo is not a function"
**Description:**
https://github.com/geektimecoil/react-native-onesignal/blob/master/index.js#L59

This line is causing this error because NetInfo is not available in the current RN version.

Can you add conditions to this extra functionality?
If I comment this code the issue is fixed: https://github.com/geektimecoil/react-native-onesignal/blob/master/index.js#L47-L67

**Environment**
    "react":

[2018-04-26 20:44] hassanshuja commented on #463
sorry for late response but i have resolved the issue by deleting an old supportive event so after that it works fine.

[2018-04-26 21:49] Nightsd01 commented on #477
@facuescobar  React-Native 0.45.1 was released over a year ago. Does this issue occur if you update to a more recent version of react-native?

[2018-04-26 22:36] Nightsd01 commented on #477
@facuescobar I have done some more investigating, and it appears like usage of the NetInfo API is no longer needed in our SDK, so I went ahead and removed it. Please let me know if you encounter any other issues.

[2018-04-26 22:36] #477 closed, assigned to nobody

[2018-04-27 12:03] edipoReboucas commented on #461
Hi @Nightsd01, any luck reproducing this bug?

[2018-04-27 15:31] haiyamicode commented on #472
Nvm I made a mistake. I put OneSignal's call at the very end of didFinishLaunchingWithOptions and that was wrong.

[2018-04-27 15:31] #472 closed, assigned to nobody

[2018-04-27 17:44] johanleroch commented on #5
Hi, I have the same problem and your solution @durul didn't work for me :/

Here the versions I use in my project:
react-native-cli: 2.0.1
react-native: 0.53.3
react-native-onesignal: 3.1.4

<img width="800" alt="capture d ecran 2018-04-27 a 19 45 52" src="https://user-images.githubusercontent.com/7213352/39376931-abb1d342-4a53-11e8-80fa-e63d3e7bcf3a.png">
<img width="496" alt="capture d ecran 201

[2018-04-30 14:33] nirweb commented on #387
I have the same problem and i do added this code but not work :-( please help.

[2018-05-01 12:18] Assiance opened #478 "react native ios 8.2 action buttons not showing after adding notification service extension"
**Description:**
Before adding the notification service extension action buttons would work but rich media would not.
After adding the notification service extension neither action buttons nor rich media work.

**Environment**
ios: 8.2
react-native: 47.1
react native onesignal: 3.1.4

1. How did you add the SDK to your project (eg. npm)
I added onesignal using npm

**Steps to Reproduce Issue:**

[2018-05-02 00:45] Nightsd01 commented on #478
Apple added rich media support (push notification extension service) in iOS 10.

iOS 8.2 would not support rich media attachments.

[2018-05-02 00:45] #478 closed, assigned to nobody

[2018-05-02 00:52] Assiance commented on #478
@Nightsd01 The issue is mainly about action buttons are you saying that action buttons will not work before iOS10?

[2018-05-02 11:34] drtapha opened #479 "why i don't see the react-native-onesignal.podspec in the node_modules/react-native-onesignal folder ???"
i install react-native-onesignal using yarn.
After installation , i want use the react-native-onesignal with cocoapods  but i don't see the podspec in the node_modules/react-native-onesignal folder

[2018-05-02 17:29] lucarge commented on #479
Because it hasn't been released yet. The [commit](https://github.com/geektimecoil/react-native-onesignal/commit/620717a0027538999cd98e1f225d0e4d9a804445) is already merged in `master`, so you only need to wait until version `3.1.5` will be released.
You can point your dependency to the commit above in the meantime if you can't wait for the next release 😉

[2018-05-02 21:40] facuescobar commented on #477
@Nightsd01 a RN upgrade wasn't an option for us because it required a lot of things, and we didn't have the time.

Thanks for this update!

[2018-05-03 08:02] Gurjap commented on #297
Update all your Firebase dependencies to the latest version (as of 2 May 2018):

     Firebase Core          com.google.firebase:firebase-core:15.0.2
        Ads                 com.google.firebase:firebase-ads:15.0.0
      Analytics             com.google.firebase:firebase-analytics:15.0.2
     App Indexing           com.google.firebase:firebase-appindexing:15.0.0
     Authentication         com.

[2018-05-03 08:04] Gurjap commented on #20
Update all your Firebase dependencies to the latest version (as of 2 May 2018):

     Firebase Core          com.google.firebase:firebase-core:15.0.2
        Ads                 com.google.firebase:firebase-ads:15.0.0
      Analytics             com.google.firebase:firebase-analytics:15.0.2
     App Indexing           com.google.firebase:firebase-appindexing:15.0.0
     Authentication         com.

[2018-05-03 10:45] #479 closed, assigned to nobody

[2018-05-04 05:30] jkasten2 commented on #445
@shivawu Sorry for the long delay, been busy with a number of projects!

I agree that defining a global versions for dependencies such as `project.googlePlayServicesVersion` takes care of a lot of the headache but is still is a point of maintenance and failure. Some plugins only work with certain versions of gms, firebase, android support etc so you could be downgrading or upgrading to far. So `pr

[2018-05-04 12:47] Anujmoglix commented on #59
$ /usr/local/bin/git clone https://github.com/CocoaPods/Specs.git master
  --progress
  Cloning into 'master'...
  remote: Counting objects: 2114584, done.
  remote: Compressing objects: 100% (386/386), done.
  error: RPC failed; curl 56 SSLRead() return error -36 | 48.00 KiB/s
  fatal: The remote end hung up unexpectedly
  fatal: early EOF
  fatal: index-pack failed
[!] /usr/local/bin/git clone h

[2018-05-04 14:14] infostreams commented on #297
[This article](https://medium.com/@suchydan/how-to-solve-google-play-services-version-collision-in-gradle-dependencies-ef086ae5c75f) might be helpful too if you're pulling out your hair (like I did).

[2018-05-04 20:56] Frantch commented on #20
Then I get this error

[2018-05-06 13:29] proguru58 opened #483 "expo detached app ios build failed after setup this sdk"
I have followed the instructions for React Naive SDK setup and got the following error message in compiling ios building in my expo detached xcode project.

/React/Core/Base/RCTConvert.h:13:9: 'React/RCTAnimationType.h' file not found

[2018-05-06 15:47] Nightsd01 commented on #483
Hi @proguru58 , this indicates a linking error with React Native. Can you describe what steps you used after detaching?

PS: we’re about to come out with an update that will make it much easier to use OneSignal in Expo projects. You still won’t be able to receive push notifications before you detach using OS, but you will at least be able to run your app in Expo.

<sub>Sent with <a href="http://gi

[2018-05-06 19:10] mrharel commented on #368
@digitaldavenyc what do you mean you re-import the xcode.project? i am having the same issue, and not sure what to do

<img width="1017" alt="screen shot 2018-05-06 at 22 10 00" src="https://user-images.githubusercontent.com/473889/39676874-42e34a84-517a-11e8-98a8-8ff3c820fb8b.png">

[2018-05-07 19:16] cristygrant opened #484 "Android app crashes with: 'Fatal Exception: java.lang.RuntimeException: Illegal callback invocation from native module. This callback type only permits a single invocation from native code.""
**Description:**
We are using this library to send push notifications to a react native app running on android and iPhone devices. During app startup, we do a request to onesignal to get available tags for the device.
`OneSignal.getTags((receivedTags) => {
   //do something
    });`
This works well in iPhone devices, however on Android devices, the app crashes during startup with the following err

[2018-05-07 20:04] Nightsd01 commented on #483
Your particular issue is not an issue with the OneSignal SDK, it's a linking issue with react native in general.

However, we've changed the SDK (#485) so that it will no longer crash Expo projects before being detached. This means you can develop with Expo without having to do any fancy conditional imports of the SDK. It won't actually work, any calls to OneSignal functions won't actually do anyt

[2018-05-07 20:04] #483 closed, assigned to nobody

[2018-05-07 22:52] Nightsd01 commented on #484
Hi @cristygrant , thanks for posting this issue.

Are you able to easily reproduce this issue? Does it happen 100% of the time, or only sometimes?

This error indicates that the `getTags()` callback is being called more than once by the Android SDK, which should not be happening.

Does it only occur for a single user, or everyone who uses your app?

[2018-05-08 06:07] Nickersoft commented on #117
I'm running into this same issue, even after adding a 30-second timeout around my `.getTags()` call, two years later.. was this issue ever formally resolved? Is it a confirmed bug? What's the fix?

[2018-05-08 08:53] gezamiklo commented on #117
@Nickersoft Please see the reference: https://documentation.onesignal.com/docs/ios-native-sdk#section--sendtag-

As you can see, there are two optional parameters: onSuccess, onFailure. Using them you can handle if the response has finished and also see it's success or failure.

Yeah, it can take quiet much time to respond. Hope this helps you at least to debug the requests. An ugly solution would

[2018-05-08 09:13] germazing opened #488 "pod install fails"
**Description:**
`pod install` fails during build with the following message:

[code]

**Environment**
Using the newly created version v.3.2.0.

**Steps to Reproduce Issue:**

1. include react-native-onesignal into Podfile
2. `pod install`

[2018-05-08 09:13] germazing commented on #488
There is already a pull request for this issue (#487).

[2018-05-08 11:16] dowmeister opened #489 "sendTags doesn't update tags"
**Description:**
sendTags doesn't update tags

I've written this class to support OneSignal integration

[code]

when i call `await OneSignalWrapper.updateTags(settings)` i see in the console tags to be sent:

`{ steamID: '76561198053883782', truckersMPID: 189591 }`

but on OneSignal dashboard i don't see tags

![image](https://user-images.githubusercontent.com/518905/39753399-f371df38-52be-11e8-8

[2018-05-08 13:48] gabceb commented on #484
Thanks for the prompt reply @Nightsd01. I work with @cristygrant. See below our Fabric.io crashalytics charts with some numbers on the crashes. We had the saga that runs the sync tags request on startup for around 48 hours during the weekend which means low traffic for our app.

![image](https://user-images.githubusercontent.com/470852/39760589-aef6daae-52a3-11e8-9c38-b64ef68e8690.png)

Our iOS fa

[2018-05-08 14:12] gabceb commented on #484
Here is a session's full stacktrace for all running threads [stacktrace.txt](https://github.com/geektimecoil/react-native-onesignal/files/1984240/com.tes.app_issue_32_crash_5AF194C203DE000153A9EB628A2C0D30_DNE_0_v2.txt)

[2018-05-08 15:36] Nickersoft commented on #117
Hey @gezamiklo! Thanks for the quick response, and for pointing out those callbacks I seemed to have missed. However, checking this repo's code, it would seem that [those parameters are never actually passed from JS to the iOS SDK](https://github.com/geektimecoil/react-native-onesignal/blob/master/index.js#L194), so I'm wondering if that's functionality this repo is missing...?

Additionally, coul

[2018-05-08 16:06] Nightsd01 commented on #117
@Nickersoft unfortunately iOS has these callbacks but Android does not. To keep the React-Native SDK consistent, we don’t implement the callbacks in iOS.

Because of the way the Android SDK adds the request to a queue and doesn’t execute immediately (iOS does something similar), it can take a relatively long amount of time for the request to actually execute and complete.

Some developers call thi

[2018-05-08 16:26] cristygrant commented on #484
We fixed the dSYM issues for iOS and confirmed there were no crashes related to this for iOS. Seems to be an issue for Android only.

[2018-05-08 17:11] Nickersoft commented on #117
Hm, I suppose that makes sense. However, regardless of how long I wait, new tags never actually appear in the OneSignal console. How long should I be waiting for those tags to send? I send out tags one a user logs in, and theoretically once the app stays open those requests should all complete.

[2018-05-08 18:57] Nightsd01 commented on #489
Hi @shardick ,

`OneSignal.sendTags(tags)` does not return a promise? It is not an async function.

If you use Verbose logging with onesignal, do you see an error printed to the console? Since some developers misuse the `sendTags()` method, calling this function doesn't instantly send them to our server. Instead, it adds them to a queue to be sent later, usually within 5 seconds.

How long did you

[2018-05-08 18:59] Nightsd01 commented on #488
Thanks @neogermi , merged your PR to resolve the issue

[2018-05-08 18:59] #488 closed, assigned to nobody

[2018-05-08 19:22] gezamiklo commented on #117
Hi @Nickersoft! Flag is an old fashioned name of a Boolean variable. Guess it's easier to show than to explain:

    // Storing
    UserDefaults.standard.set(true/false, forKey: "DefaultKeys.MyFirstNotification")
    UserDefaults.standard.synchronize()

    //Reading
    UserDefaults.standard.bool(forKey: "DefaultKeys.MyFirstNotification")

I always create enums for keys, because it is very easy t

[2018-05-08 19:38] dowmeister commented on #489
Hi @Nightsd01 ,

i will change the code without using await, thanks.

Btw, i've checked many times after (and also now) but no change.

In the meantime, i sent a notification to test users, where the emulator is in, and i've discovered that OneSignal tagged it as "Unsubscribed"

![image](https://user-images.githubusercontent.com/518905/39778873-dd2e143c-5307-11e8-9ce9-dad2f3b0fc3a.png)

Tomorrow m

[2018-05-08 20:41] Nightsd01 commented on #440
Hi everyone,

We've recently updated the OneSignal react-native SDK (3.2.0) so that it will no longer cause a crash if you run it in the Expo client.

Essentially, we've made it so that the SDK will check to make sure the native bridge exists before attempting to use it.

Unfortunately, the Expo client can't let us run native code (iOS restriction), so we can't actually use our iOS/Android SDK's.

[2018-05-08 21:58] Nightsd01 commented on #489
@shardick In order to enable verbose logging, just call `OneSignal.setLogLevel(6, 0)`. Please run your app and let me know if you see any onesignal errors.

I suspect you are running into some sort of issue that prevents the SDK from initializing...? Are you using the new GDPR functionality?

Can you put a console.log statement in line 25 of the OneSignal `index.js` source file in `/node_modules/r

[2018-05-09 03:17] building-software-2018 opened #490 "Crash on android when call init()"
When I call function `OneSignal.init()`, my app crashes immediately

My code

    componentDidMount() {
        OneSignal.init('7b5d2490-xxxxxxxxxxxxxxxxxxxxx');
        ...
    }

    "react-native": "0.55.4",
    "react-native-onesignal": "^3.2.0",

Android log:

05-09 10:03:30.072: E/AndroidRuntime(4036): FATAL EXCEPTION: pool-7-thread-1
05-09 10:03:30.072: E/AndroidRuntime(4036): Process: com.

[2018-05-09 04:12] aniltonveiga opened #491 "OneSignal Platform does not recognize android devices"
**Description:**

I was recently using the react-native-onesignal library and it was working perfectly with the react-native 0.53.3, but when I upgraded to version 0.55.3 the one-signal platform no longer recognized my devices, so I realized the downgrade to version 0.53.3 again, I made all the settings on the platform and the firebase, but my devices still do not recognize (I'm testing on android

[2018-05-09 04:57] Nickersoft commented on #117
@gezamiklo What exactly does this achieve in the context of the original ticket? Not sure I'm following completely..

[2018-05-09 06:36] gezamiklo commented on #117
@Nickersoft you asked what did I mean by flags.

I guess you want to keep track of active tags. Storing the state of each locally can help reducing the amount of network requests. All my apps have a Settings screen on which the user can manage the notification subscriptions. If the user changes some tags, these flags are changed locally and the tags are sent to OneSignal. If the callback fails I r

[2018-05-09 14:04] waleedarshad commented on #368
yarn clear work for me.

[2018-05-09 15:00] kasperbe opened #492 "3.2 - Prompts for notification regardless of settings"
I have an app, which has been working for a while.

I init OneSignal with following snippet:
[code]

This used to work, but since we upgraded to 3.2 it doesn't work anymore.

I've tried using the pure JS version
[code]

I've tried with

[code]

As per the documentation. Nothing really seems to work or have any effect on the prompt.

[2018-05-09 15:22] Nickersoft commented on #117
@gezamiklo Haha I realize that.. I guess I was confused as to why they were brought up in the first place. While that advice is sound, my bigger issue right now though is the fact that calling `.sendTag` or `.sendTags` isn't sending any tags to the server at all, no matter how long I wait. They never appear in the OneSignal player list, and I'm not exactly sure if this still is still a bug or how

[2018-05-09 16:11] dowmeister commented on #489
@Nightsd01 i'm not using GDPR functionalities (not still)

Here the result of console.log

[code]

No others log related to onesignal in react-native log-android

[2018-05-09 18:15] abdelhakimkotti opened #493 "Problem if exist new notification StatusBar"
Problem if exist new notification StatusBar
![sans titre - 1-01](https://user-images.githubusercontent.com/24668048/39831765-58ac132e-53bd-11e8-949c-567033b89c1f.png)

[2018-05-09 19:16] #493 closed, assigned to nobody

[2018-05-09 19:45] Nightsd01 commented on #492
Thanks for posting this issue and we apologize for the inconvenience.

I've created a PR to resolve this issue (https://github.com/geektimecoil/react-native-onesignal/pull/494)

We expect to have an update released today because this is a relatively major bug.

[2018-05-09 19:46] Nightsd01 commented on #491
Hi @aniltonveiga ,

I am not sure what you mean when you say "onesignal does not recognize android devices"?

Are you saying the devices aren't getting registered with onesignal, don't show up in the dashboard, don't get subscribed, etc.?

You don’t have to send your full project, you could also just create a new empty app and reproduce the issue there, either way works.

[2018-05-09 19:48] Nightsd01 commented on #490
Hi @building-software-2018 , are you only using `react-native-onesignal` as a dependency, or does your application have other dependencies as well? Are you using Firebase analytics?

[2018-05-09 19:53] dowmeister commented on #490
@Nightsd01 related to #489, i've added OneSignal.init() to my code and app crashes with same error.

Before adding OneSignal.init() from android logcat, i've seen "OneSignal.init not called".

I'm using

compileSdkVersion 23
buildToolsVersion "23.0.1"
minSdkVersion 16
targetSdkVersion 22

compile "com.android.support:appcompat-v7:23.0.1"

classpath 'com.android.tools.build:gradle:2.2.3'

I tried t

[2018-05-09 19:54] dowmeister commented on #489
Adding OneSignal.init app crashes with error reported in #490

[2018-05-09 20:29] Nightsd01 commented on #490
@shardick that would be an issue with the google analytics bridge package you are using. Try defining your google play services version in `android/gradle.properties` like this:

`googlePlayServicesVersion=11.8.0`

[2018-05-09 20:36] dowmeister commented on #490
@Nightsd01 fixed now, using this comment

https://github.com/idehub/react-native-google-analytics-bridge/issues/238#issuecomment-381555995

for @building-software-2018 , this is my root build.gradle

[code]

in app build.gradle

[code]

[code]

compile, run, load and subscribe on OneSignal after OneSignal.init

[2018-05-09 20:37] dowmeister commented on #489
See https://github.com/geektimecoil/react-native-onesignal/issues/490#issuecomment-387867751, tags now works.

Thank you @Nightsd01 for support.

[2018-05-09 21:00] Nightsd01 commented on #492
@kasperbe We have released a [new update (3.2.1)](https://github.com/geektimecoil/react-native-onesignal/releases/tag/3.2.1 ) to resolve this problem, thanks for the bug report!

[2018-05-09 21:00] #492 closed, assigned to nobody

[2018-05-10 03:41] Nightsd01 commented on #490
@building-software-2018 if you’re still having this issue could you post your full `app/build.gradle`?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-10 06:11] aniltonveiga commented on #491
Hello @Nightsd01 ,
exactly, after this upgrade and downgrade process, I've even created a new project, my devices no longer appear in the One Signal web dashboard, I do not know what I might be doing wrong, since I'm configuring it as well as it worked the first time ( following the documentation) but this time, when I make the configuration, and run de app in the device or emulator the informatio

[2018-05-10 07:38] eQuinox-l opened #495 "Android Build - Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'"
**Description:**
I just implem react-native-onesignal and I had this error when I tried to build :

I tried to fix it with google and issues already open here, but I didnt find the solution. (the EnableMultiDex : true doesn't work)

**Environment**
"react-native-onesignal": "^3.2.0"

This is my dependencies :

[code]

Thank you really much

[2018-05-10 08:05] eQuinox-l commented on #495
I noticed that if I'am adding this in my dependencies it build with success but the app crash directly when launched :
`implementation 'com.google.android.gms:play-services-location:+'`

[2018-05-10 10:28] abdelhakimkotti commented on #493
Problem if exist new notification StatusBar ?

[2018-05-10 10:55] frenkelor opened #496 "getPermissionSubscriptionState callback not being called if there is not state"
https://github.com/geektimecoil/react-native-onesignal/blob/d8061133cf14b8813badd6b612cb78b58fe44010/android/src/main/java/com/geektime/rnonesignalandroid/RNOneSignal.java#L220

As i see is it's better to return a null in the callback or implement failure state instead not calling it at all.
I didn't try it on my phone only on the simulator
I'm running RN 52 with lates OneSignal RN sdk

[2018-05-10 22:30] Jarred-Sumner opened #497 "Build error on iOS after installing v3.2.1"
**Description:**

I'm getting a couple build errors and several warnings on iOS after installing `react-native-onesignal`. I ran `react-native link react-native-onesignal` and `pod install` following that. Then, I followed the setup guide (i.e. initialize RCTOneSignal in the `AppDelegate`)

I also noticed that the method to call to initialize `RCTOneSignal` in the setup guide has a deprecation war

[2018-05-10 22:34] Nightsd01 commented on #497
Hi @Jarred-Sumner ,

This indicates that your project is somehow getting linked to an older version of the iOS SDK. I suspect it is because you are using cocoapods to install the iOS native SDK.

What guide were you following to install react-native-onesignal? The `pod install` step should not be necessary, the SDK is no longer using cocoapods, you could run into duplicate library and missing symb

[2018-05-10 22:50] Jarred-Sumner commented on #497
Thanks for getting back so quickly.

This fixed it! Thanks.

[2018-05-10 22:51] #497 closed, assigned to nobody

[2018-05-10 22:53] Nightsd01 commented on #497
@Jarred-Sumner I'm glad to hear!

Just so you are aware, the Objective-C initialization code is now deprecated because we've added JavaScript initialization.

We are adding this to the docs as we speak, but basically, you no longer need to add the Header Search Paths, and you can remove the onesignal code from your AppDelegate.

Instead, you can initialize OneSignal directly in your react native c

[2018-05-10 23:38] Nightsd01 commented on #496
@frenkelor A null `OSPermissionSubscriptionState` should be very rare and would only happen under 2 circumstances:

1. You enabled the new GDPR privacy consent methods and the user hasn't given consent
2. You haven't called `init()` yet.

Either way, this would be an error in the way the SDK is being used, and whether we return null or don't call the callback at all, it doesn't really matter

[2018-05-10 23:38] #496 closed, assigned to nobody

[2018-05-10 23:45] jkasten2 commented on #495
@eQuinox-l Both the build error and the crash are due to a mixture of different Google Play services (gms) library versions in your project.

To fix the issue I recommend changing
[code]
TO:
[code]

And then follow the [OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin) guide to add this plugin to your project which aligns all versions of gms for you.
If you continue to

[2018-05-10 23:54] Nightsd01 commented on #490
@building-software-2018 Due to a lack of response I'll assume you were able to fix the issue. If you're still having this problem please feel free to respond and I'll reopen

[2018-05-10 23:54] #490 closed, assigned to nobody

[2018-05-10 23:54] Nightsd01 commented on #489
Glad to hear it @shardick ! Please feel free to ask if you have any other problems with our SDK

[2018-05-10 23:54] #489 closed, assigned to nobody

[2018-05-10 23:56] Nightsd01 commented on #491
Hi @aniltonveiga

I assume in your original post, you meant you upgraded to react-native 0.55.4?

I have tested with 0.55.4 and 0.55.3 and I cannot reproduce your issue, it works just fine.

This means that, somehow, your device isn't getting registered with OneSignal's backend. Can you zip up an example project showing this issue and send it to me so I can diagnose your problem?

[2018-05-10 23:58] Nightsd01 commented on #484
Hi @cristygrant @cristygrant @gabceb

We recently introduced an update to the SDK (3.2.1) that includes some Android synchronization fixes. Can you tell me if you still encounter this issue in 3.2.1?

[2018-05-10 23:58] Nightsd01 commented on #467
In the latest SDK updates (3.2.1) we made some large changes to GCM/FCM and fixed some thread synchronization issues that likely resolve this problem.

I am assuming due to a lack of response that this issue has been resolved. Please feel free to reply if anyone encounters this issue and I'll be happy to reopen & investigate

[2018-05-10 23:58] #467 closed, assigned to nobody

[2018-05-11 00:00] Nightsd01 commented on #464
I am assuming that due to a lack of response that resolved your issue, please feel free to respond if you (or anyone else) is still encountering this issue and I'll be happy to reopen and investigate.

[2018-05-11 00:00] #464 closed, assigned to nobody

[2018-05-11 00:46] gabceb commented on #484
We will do a partial release tomorrow or Monday and will let you know since we have not been able to reproduce it locally. Greatly appreciated it @Nightsd01

[2018-05-11 02:22] aniltonveiga commented on #491
yes, can I send you the zip through some more private channel?

[2018-05-11 03:02] Nightsd01 commented on #491
@aniltonveiga of course! You can go to the OneSignal dashboard and click the ? button, I’ll see your ticket when you post. Thanks, it will help to troubleshoot the issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-11 05:07] aniltonveiga commented on #491
Thanks @Nightsd01, I already sent it through the OneSignal dashboard :)

[2018-05-11 07:35] LcsLpr commented on #495
Thank you really much.
`implementation(project(':react-native-onesignal'))
`
Insert this line without the exclude wasn't enought ! The Guide did the trick !!

[2018-05-11 08:20] dorshay6 opened #499 "An error is shown when running init from iOS - RNOneSignal.initWithAppId undefined is not an object"
**Description:**
An error is shown when running init from iOS, Android is good

[code]

**Environment**
[code]

**Steps to Reproduce Issue:**
1. After install guide (with js init)
2. Run init from js

[2018-05-11 09:59] yogeshmoradiya121 commented on #490
same issue
but i found why issue occurs but no idea how to solve
when i removed react native admob it works
any one can solve this issue???

[2018-05-11 11:25] mnshkv commented on #499
+1, i have same problem

[code]

i call ```OneSignal.init('appId')```

[2018-05-11 12:54] podvipodvert commented on #499
+1 "react-native-onesignal": "^3.2.1"

[2018-05-11 16:28] Nickersoft commented on #499
+1 Just tried this functionality as well on 3.2.1, except OneSignal seemingly does nothing on `.init()`. My device never shows up in the OneSignal console. May be tied to this issue, especially if the library is silently failing on my end for some reason.

[2018-05-11 17:47] fabdrol commented on #245
I'm running into this issue as well, anyone ever figured out what caused it? Here's what I do:

- I detect that the app resumed from background or inactivity
- I tear down the websocket connection and wrapping code (https://github.com/fabdrol/signalk-js-client/blob/sdk/src/lib/client.js#L99)
- I tear down the entire SDK instantiation, re-intialise the library, re-connect (https://github.com/fabdro

[2018-05-11 18:16] Nightsd01 commented on #499
@dorshay6 @mnshkv @podvipodvert

Are any of you trying to run in Expo? We recently updated the SDK so that it would silently do nothing (not crash, not function, etc) in the Expo client. It will basically stay uninitialized until you detach from Expo and run it natively.

However it looks like we didn't add this check to the `init()` function so if you call it from the Expo client it will crash, w

[2018-05-11 18:22] Nightsd01 commented on #499
In any case, this indicates that the RNOneSignal native event emitter isn't getting initialized somehow. The only environment I know that would cause this would be Expo

[2018-05-12 05:12] dorshay6 commented on #499
Not in expo, might be a bad install? cant find where I'm wrong

[2018-05-12 06:15] Nightsd01 commented on #499
It could be a linking issue. Are you sure you ran `react-native link react-native-onesignal`?

Can you import RCTOneSignal.h in the AppDelegate and use the native method to initialize? The old native initialization method is deprecated but it still works.

[2018-05-12 10:09] jigaryadav opened #500 "no pushToken object in ids listener android"
**Description:**
after updating package to 3.2.1 i am not getting pushToken, even after i downgraded my package but  not getting any token at all I have changed my config according to package version

**Environment**
current version "react-native-onesignal": "3.2.1"

[2018-05-12 16:20] dorshay6 commented on #499
I did run the link but it didn't help, will try to import later

[2018-05-12 17:03] muhammetdemirci commented on #499
same problem     "react-native": "0.50.4", "react-native-onesignal": "^3.2.1",

[2018-05-13 06:48] oscarnevarezleal commented on #170
@almadsen how did u solve ethis?

[2018-05-13 12:28] hiteshagja opened #501 "ids event does not fire on app load"
**Code:**

entry index.js file

[code]

**Question:**
This does not fire `ids` event on load.

**Versions:**
"react": "16.0.0-alpha.12",
 "react-native": "0.48.3",
"react-native-onesignal": "^3.2.1",

gradle and build settings are as per your example code.

[2018-05-13 16:59] podvipodvert commented on #499
Hi Guys, I solve this problem. You just need `cd ios` then run  `pod install`, then you need to add in your project libraries RCTOneSigna from node_modules, then add in Build Settings --> Header Search Paths `$(SRCROOT)/../node_modules/react-native-onesignal/ios/RCTOneSignal` and `$(SRCROOT)/../node_modules/react-native-onesignal/ios` recursive both.

[2018-05-13 18:17] aramknyazyan commented on #490
Hi all,

I've faced the same issue, app crashes on opening when OneSignal.init() is called.
Apart onesignal I also use react-native-maps (found a ticket that can be conflict when using both libs, but in my case all is configured properly) and react-native-deviceinfo.
What possible reasons can be?

[2018-05-14 04:25] yaseralimardany commented on #183
same problems.

version of one signal is: "react-native-onesignal": "^3.2.1",

[2018-05-14 04:25] yaseralimardany commented on #501
same problem

[2018-05-14 04:30] yaseralimardany commented on #280
come on. Its work. why documentation of one signal was weak!!

[2018-05-14 04:31] yaseralimardany commented on #186
You need to add OneSignal.configure(); after all add event listeners.

[2018-05-14 04:52] yaseralimardany commented on #387
same problem

[2018-05-14 06:23] dorshay6 commented on #499
@podvipodvert Do you have the next line in your podfile `pod 'react-native-onesignal', :path => '../node_modules/react-native-onesignal'` ?

[2018-05-14 06:24] podvipodvert commented on #499
@dorshay6 yes

[2018-05-14 06:28] dorshay6 commented on #499
@Nightsd01 Can you please share the the docs for native init in iOS? cant find them in this repo

[2018-05-14 06:31] dorshay6 commented on #499
@podvipodvert can you please tell me more about this step `then you need to add in your project libraries RCTOneSigna from node_modules` ? I did both pod install and added search paths but still no solution for me

[2018-05-14 06:47] nicastelo opened #502 "(v3.2.1) (iOS) No users on dashboard & Not receiving notifications"
**Description:**
I can't get v3.2.1 working. I set up the app, followed the documentation and checked the app id several times. The weird thing is that I don't even see the Users in the OneSignal dashboard.
I tried to initialize the module in the both ways (JS and AppDelegate).
Finally I tried to downgrade to v3.1.4, I just replaced the version in the package.json, ran `yarn` and it worked.

**Env

[2018-05-14 06:57] podvipodvert commented on #499
@dorshay6 open your node_modules folder, find react native onesignal then ios folder, then just drag them =) [like this](http://joxi.ru/nAykV8GfXZyaqm)

[2018-05-14 09:00] tavriaforever opened #503 "(v3.2.1) (iOS) pushToken null on real device"
**Description:**
Cannot get pushToken, no one ios users on dashboard, I try evething, I recreate certificates, keys, use provisioning tools, try on diffrent real devices.

On android everything works like a charm.

**Environment**
1. What version of the OneSignal React-Native SDK are you using: `latest 3.2.1`
2. How did you add the SDK to your project (eg. npm) `npm i --save react-native-onesignal

[2018-05-14 09:28] tavriaforever commented on #503
I found the same problem https://github.com/geektimecoil/react-native-onesignal/issues/502
So I try to downgrade to https://github.com/geektimecoil/react-native-onesignal/tree/3.1.4 - follow all steps and now it works!

![react native debugger - connected port 8081 2018-05-14 12-24-59](https://user-images.githubusercontent.com/975906/39989285-33e03f26-5772-11e8-8cdd-5dd892511fab.png)

![users rbts

[2018-05-14 11:12] tavriaforever opened #504 "(v3.1.4) (iOS) In debug mode app crashes"
**Description:**
The last version didn`t work for me as I mention in https://github.com/geektimecoil/react-native-onesignal/issues/503 so I use 3.1.4 and it works, but not in all versions of ios.

If I launch app in simulator with ios 11 – everything `ok`, but if I run app in simulator with ios 8.1 app crashed.

It reproduced only in debug mode, in release mode – app works like usual without any e

[2018-05-14 13:39] rafaelribeiros commented on #501
Same problem

[2018-05-14 14:09] rafaelribeiros commented on #502
Same here.

[2018-05-14 15:57] Nightsd01 commented on #499
Hey guys, after running `react-native link react-native-onesignal` can you verify that in the Xcode project, `libRCTOneSignal.a` shows up in the Linked Libraries section of the project settings in xcode?

[2018-05-14 16:02] Nightsd01 commented on #502
Hi @nicastelo

Can you verify that if you go to the Xcode project settings, `libRCTOneSignal.a` shows up as a dependency in the Linked Libraries section?

[2018-05-14 18:47] Nightsd01 commented on #503
Hi, when you install the latest version of react-native-onesignal (3.2.2) and run `react-native link react-native-onesignal`, can you open the Xcode project and verify that RCTOneSignal correctly shows up as a dependency in your project like this?

![alt text](http://www.hesse.io/testapp.jpg)

[2018-05-14 18:48] Nightsd01 commented on #502
Also, I suspect this is an issue with Xcode subproject dependencies vs. cocoa pod dependencies.

Can you tell me if your project looks like this?

![alt text](http://www.hesse.io/testapp.jpg)

[2018-05-14 19:10] Nightsd01 commented on #501
Hi @hiteshagja can you confirm if your Xcode project is linking to react-native-onesignal correctly? It would look like this:

![alt text](http://www.hesse.io/testapp.jpg)

[2018-05-14 19:16] gabceb commented on #491
@aniltonveiga unsure if this is the same issue but we are seeing our no value on the one signal app id on the generated manifest.xml file.

[code]

We do use multiple build types so our gradle files looks like this

[code]

Wondering if @Nightsd01 has anything that could help? I am investigating this at the moment so will report back any findings

[2018-05-14 19:24] Nightsd01 commented on #500
#503 is a duplicate of this issue, but since 503 has a lot more detail I will be closing this one.

[2018-05-14 19:27] gabceb commented on #491
It looks like we now need to initialize the app with the app_id from the RN side of things instead of the native side like before. Unsure when this changed but we will make the appropriate changes and go from there

[2018-05-14 19:27] gabceb commented on #484
@Nightsd01 we are now stuck on https://github.com/geektimecoil/react-native-onesignal/issues/491#issuecomment-388934066. We will move to the new way of doing things and let you know when we release the new version

[2018-05-14 20:13] tpedersen123 commented on #502
@Nightsd01 I have the same issue and can verify that my setup is as you described.

![image](https://user-images.githubusercontent.com/11134247/40020974-dec90336-57c3-11e8-8016-83149e2398b4.png)

[2018-05-14 20:36] Nightsd01 commented on #502
@tpedersen123 Can you call `OneSignal.setLogLevel(6, 0)` before you call `OneSignal.init("your_app_id")` and tell me if you see any errors printed to the console?

Also, let's check a few things:

0. You're not using Expo right?
1. You are running on a real iOS device, correct? Please note that Apple does not support push notifications in the iOS simulator
2. You went to Xcode Project Settings > C

[2018-05-14 20:42] tpedersen123 commented on #502
0. You're not using Expo right?
Nope
1. You are running on a real iOS device, correct? Please note that Apple does not support push notifications in the iOS simulator
Yes
2. You went to Xcode Project Settings > Capabilities, and enabled Push Notifications?
Yes
3. Where in your react app are you calling OneSignal.init() from?
In our "root" component in ComponentWillMount
4. Can you see if this issu

[2018-05-14 20:45] tpedersen123 commented on #502
Here are the init lines of OneSignal - the `kOSSettingsKeyAutoPrompt` works to suppress permission prompt, so `init()` IS called.
We prompt for permissions later on.

[code]

[2018-05-14 20:48] Jarred-Sumner commented on #503
`pushToken` and `userId` are null for me on real devices as well (in release mode)
![image](https://user-images.githubusercontent.com/709451/40022620-600bbee4-577d-11e8-895c-6d2595ebd320.png)

[code]
(its not in my podfile this time)

[2018-05-14 21:01] Nightsd01 commented on #503
@Jarred-Sumner Try uninstalling the app from your device, then re-install it, does it prompt you to accept push notification permissions?

Also, just to check, you did enable the Push Notifications capability in Project Settings > Capabilities, correct?

[2018-05-14 21:04] Nightsd01 commented on #502
@tpedersen123 When you do eventually prompt for push notifications permission from the user, does the prompt actually show up? Try uninstalling the app and reinstalling it, and make sure the push notification permission prompt actually shows up.

Try a clean install of your app, accept push notification permission, and then can you send me the entire logs from Xcode console?

PS: Sorry you're seei

[2018-05-14 21:04] Jarred-Sumner commented on #503
Yes

Yes
![image](https://user-images.githubusercontent.com/709451/40023331-935b68b0-577f-11e8-922a-fd5387389bdc.png)
![image](https://user-images.githubusercontent.com/709451/40023336-971c68aa-577f-11e8-97f5-0e0b9a722206.png)

I downgraded to `v3.1.4` and now it sends the `pushToken` and `userId`

[2018-05-14 21:07] Nightsd01 commented on #503
@Jarred-Sumner Just to understand this issue a bit better, the ID's are null, but do push notifications actually work? They shouldn't, but I wanted to double check.

Also, can you try updating to 3.2.2, initialize with JS, and call `OneSignal.setLogLevel(6, 0)` before you call init. Can you tell me if you see any errors printed to console?

[2018-05-14 21:11] bhgames commented on #4
Yeah but that new onIds function never gets fired.

[2018-05-14 21:25] bhgames commented on #501
Verified also happening for me. I checked, my project looks fine.

[2018-05-14 21:25] tpedersen123 commented on #502
@Nightsd01 Yes, the prompt shows up every time.

I don't get any OneSignal logs in the console? I did add `OneSignal.setLogLevel(6, 0);`

[2018-05-14 21:32] tpedersen123 commented on #502
Sorry, was looking in the wrong place. Logs coming up shortly

[2018-05-14 21:42] tpedersen123 commented on #502
![image](https://user-images.githubusercontent.com/11134247/40024950-4a0065e8-57d0-11e8-81e7-3c3a8b769dd4.png)

I only get these after a call to
`[27 <private> stream, pid: 683, url: https://onesignal.com/api/v1/apps/top-secret-key/ios_params.js, tls] cancelled
`

[2018-05-14 21:44] Nightsd01 commented on #502
@tpedersen123  There really should be more logs than that - you are calling `setLogLevel(6, 0)` **before** calling `init()` right?

[2018-05-14 22:07] hiteshagja commented on #501
@Nightsd01 I have not checked iOS yet but it's not working in Android.

[2018-05-14 22:13] hiteshagja opened #505 "Opened event calling twice on notification open"
In the recent version, the `opened` event calling twice on notification open. It was working fine in the previous releases/versions.

`
OneSignal.addEventListener('opened', this.onOpened);
`

I am checking on Android device.

[2018-05-14 22:24] tpedersen123 commented on #502
Yes, but I am having trouble getting the console logs. Will try again tomorrow.
Feel free to email me on tpedersen ( at) gmail.com to avoid messing up this issue discussion :-)

[2018-05-14 22:25] Nightsd01 commented on #501
If you want the `ids` event to fire, you can call `OneSignal.configure()`, which will trigger the `ids` event. I recommend doing this after calling `init()` of course.

[2018-05-14 22:26] #501 closed, assigned to nobody

[2018-05-14 22:31] Nightsd01 commented on #505
@hiteshagja Are you saying this issue only occurs in Android...?

Also, how do you know that the event is getting called twice? I have attempted to reproduce your issue but it only gets fired once.

Can you please provide a bit more detail on how you are reproducing this issue? What steps should we follow...?

[2018-05-14 22:32] Nightsd01 commented on #505
Please provide more information. For example, does this only occur when the app is open (in the foreground), background, closed completely, etc.?

Also, please add a `console.log` statement in your code where you are calling `OneSignal.addEventListener` to make sure you are not adding the event listener twice...?

[2018-05-14 22:45] Nightsd01 commented on #505
Hi @hiteshagja ,

Thanks for reporting this issue, after digging a bit deeper, this issue was caused when we introduced JS initialization in 3.2.0.

I've created a pull request (#506)  to fix this problem and it should be included in an update either later today or tomorrow!

[2018-05-14 22:52] Nightsd01 commented on #505
#506 has been merged - thanks for reporting this issue @hiteshagja

[2018-05-14 22:52] #505 closed, assigned to nobody

[2018-05-14 23:25] Nightsd01 commented on #504
@tavriaforever I am not able to reproduce this issue running a debug scheme with the iOS 8.1 iPhone 6 simulator, the SDK launches and the app runs just fine...? There really should be no difference between the Debug and Release schemes except some additional compiler optimizations.

Why are you running in debug vs. release schemes, do you have environment/compiler flags or something?

I understand

[2018-05-14 23:59] hiteshagja commented on #505
Thanks @Nightsd01

[2018-05-15 00:12] bhgames commented on #501
yeah I did init(), then listeners, then configure, and it began working!

On Mon, May 14, 2018 at 6:14 PM, Brad Hesse <notifications@github.com>
wrote:

--

*Jordan Prince* | Software Engineering
Caradvise.com | *O:* *301.751.7354* | *C:* *301.751.7354*

This e-mail is only intended for the person(s) to whom it is addressed and
may contain confidential information.  Any unauthorized review, use,
d

[2018-05-15 02:06] Nightsd01 commented on #499
@dorshay6 Version 3.2.2 fixes our Podspec that would have caused compiler issues with cocoapods. But really you shouldn't need to use cocoapods unless all of your other dependencies are installed with it. Otherwise just use npm and react linking.

To anyone who is still having this issue, please do one of two things:

1. If you ARE using cocoapods to install iOS dependencies (ie. React dependencie

[2018-05-15 03:00] yaseralimardany commented on #501
its did. but notification not received in emulator. i dono why. whats the problem for emulator and real phone for one signal.

[2018-05-15 03:01] aniltonveiga commented on #491
@gabceb Brad help me to find the solution.

Can you try going into your app/build.gradle  and change from SDK version 23.0.1 to version 26.0.0?

Replace the following:
[code]
to this

[code]

In my case, my emulator was not finding appcompat-v7: 26.0.0, so I added it in the app/build.gradle after defaultConfigs this
[code]

Thank you @Nightsd01, for your attention and effective help.

[2018-05-15 05:03] tpedersen123 commented on #502
@Nightsd01
I tried removing `kOSSettingsKeyAutoPrompt` to trigger permission prompt right away.
That gave me this output
`WARNING: Attempted to send an event (OneSignal-idsAvailable) when no listeners were set.`
and `onIds(device)` was called but `device` was null

[2018-05-15 05:45] jigaryadav commented on #505
@Nightsd01  thankx

[2018-05-15 05:45] hiteshagja commented on #501
@Nightsd01

Thank you.

[2018-05-15 06:36] abdelhakimkotti opened #507 "Problem if exist Two notification Not OPEN notification ??"
if exist one notification => Open notification
if exist two notification => First open , second not open ??
if exist three notification => First open , second not open , three not open ??

[2018-05-15 12:04] antton commented on #4
What about Web push? Is it possible to "send notifications to an specific user"?

[2018-05-15 12:40] tavriaforever commented on #504
@Nightsd01 I could send my project to you where all issues from 3.2.1 and 3.1.4 exist. I have just started it. Please write me on my email.

[2018-05-15 13:18] hyochan opened #508 "Is onesignal using same token as in fcm?"
I had react-native-fcm project previously and want to use react-native-onesignal. My server is integrating fcm services fetching user's token. My question is, is `onesignal` using the same token as is in `firebase` or they use different one?

[2018-05-15 14:57] kinnarshah08 opened #509 "RN 0.43 - OneSignal RN 3.2.1 - iOS - Cold start doesn't trigger 'opened' event"
**Description:**

Hello,

Sharing a problem that I have been facing for a while now. Notification behaviour is different for cold start and a background app in iOS.

Things work as planned if the app is in background or if the debug mode is on. For release mode in iOS, the app opens up but the notification doesn't fire up.

Sharing snippets of index.ios.js and Main.js

**index.ios.js**
[code]

**M

[2018-05-15 15:51] Nightsd01 commented on #509
@kinnarshah08 it’s very difficult to troubleshoot a crash without the actual error message/stacktrace, can you please post it?

Also, are you sure you’re using 3.1.2 or 3.2.1?

[2018-05-15 15:53] Nightsd01 commented on #507
@abdelhakimkotti please explain what you mean in a bit more detail, perhaps post screenshots...?

[2018-05-15 15:54] hhunaid commented on #503
Issue persists on 3.2.2.
Setting the log level prints following output

Called init with app ID: (null)
(Then somewhere below in logs)
Called init with app ID: (my-app-id)

But userId is still null. I have included the library using CocoaPods if that helps

[2018-05-15 15:54] Nightsd01 commented on #508
@dooboolab if your project is using FCM then OneSignal will use the FCM token, correct

[2018-05-15 15:54] #508 closed, assigned to nobody

[2018-05-15 15:59] Nightsd01 commented on #503
@hhunaid it is expected that the app ID will be null the first time (perhaps we should remove that first log statement to avoid confusion).

It is also expected that user ID will be null until the user accepts push permission on a real iOS device. Can you confirm this is the case? If so, can you post a link to at least 15 seconds of log output from Xcode with that log level (make sure to call setL

[2018-05-15 16:12] hhunaid commented on #503
@Nightsd01 it's not just the LOG statement. There is actually a call to OneSignal initializer with null appId. I just checked that if I remove that init line in `initOneSignal` method everything works.