[2016-02-21 18:45] sonnylazuardi opened #2 "android app crash with react-native-maps"
I used react-native-onesignal with react-native-maps, but when opening my page containing maps, it crashes. any idea how to solve it? thanks

[2016-02-21 19:07] avishayil commented on #2
Hi, do you have a crash report?

[2016-02-21 19:11] sonnylazuardi commented on #2
how do we get crash report?

[2016-02-21 19:12] avishayil commented on #2
Can you run your app using Android Studio and capture error output from
your app in debug mode?
On Feb 21, 2016 21:11, "Sonny Lazuardi" notifications@github.com wrote:

[2016-02-21 19:12] danpe commented on #2
A stack trace? try debugging so you will get a red screen with the error
and stack trace

On Sun, Feb 21, 2016 at 9:11 PM Sonny Lazuardi notifications@github.com
wrote:

[2016-02-21 19:41] sonnylazuardi commented on #2
@danpe @avishayil fixed this by deleting https://github.com/geektimecoil/react-native-onesignal/blob/master/android/build.gradle#L24

[2016-02-21 19:41] #2 closed, assigned to nobody

[2016-02-21 21:56] avishayil commented on #2
Awesome!

[2016-02-21 23:56] kennym opened #3 "Sample project or better documentation"
Could you please post a sample project displaying the usage of the `onNotificationOpened` callback? I am having a hard time making my React project setting it up for that callback. OneSignal is properly set-up only that last part is failing.

[2016-02-22 00:37] kennym commented on #3
Can it be that this code in `AppDelegate.m` is the culprit:

[code]

Should I set `handleNotification:nil` to something else? In the README it's omitted, but XCode says it requires that parameter.

Any ideas?

[2016-02-22 06:48] avishayil commented on #3
Hi, I'll set up a sample project as soon as I can, that's a good idea.

[2016-02-22 08:19] avishayil commented on #3
As i'm setting the projects I see I forgot some things in the documentation.
I'll upload it soon and update the documentation as well :>

[2016-02-22 09:12] avishayil commented on #3
Repo updated. Please try the examples.
According to your question - I can't see any need for this handleNotification, since it's already being used on the module itself, so you don't need to include it in your AppDelegate.

[2016-02-22 19:49] kennym commented on #3
@avishayil thanks a lot! That's really helpful

XCode keeps asking me to provide a `handleNotification` parameter, even if I am passing it `nil`... any ideas of how to get rid of that message, as you seemingly don't get that one?

Let me know of this is out of the scope of this issue.

[2016-02-23 12:59] avishayil commented on #3
@kennym What version of react native are you using?
Did you try running the supplied example project?

[2016-02-24 16:55] williamrijksen opened #4 "Get the current playerid/userid"
Is it currently possible to get the current OneSignal userid/playerid like this on iOS? https://documentation.onesignal.com/docs/ios-sdk-api#section-idsavailable.

I need it to send a specific notification to a specific user.

[2016-02-24 22:08] avishayil commented on #4
Good idea.
You now have:

[code]

on the latest package.

[2016-02-24 22:11] jvandijk commented on #4
That's an awesome fast response! Thank you!

[2016-02-24 22:14] avishayil commented on #4
Let me know if it works or you have any issues.
If not, i'll close this issue...
Thanks!

[2016-02-25 16:30] williamrijksen commented on #4
@avishayil I looks like it's working on iOS. Thank you!

[2016-02-25 17:13] avishayil commented on #4
Your'e welcome!
Closing issue.

[2016-02-25 17:13] #4 closed, assigned to nobody

[2016-02-26 23:53] #3 closed, assigned to nobody

[2016-02-29 14:05] kennym opened #5 "symbol(s) not found for architecture arm64"
I am getting the following error when trying to build the sample project and any project with the library:

[code]

Any ideas on how to fix this?

[2016-02-29 14:18] kennym commented on #5
So, I just submitted a pull request which fixes that.

[2016-03-02 17:00] adamrainsby opened #10 "Remove need to modify build.gradle in node_modules"

[2016-03-03 14:48] adamrainsby opened #11 "Readme should say Google Repository should be installed from sdk manager"
Otherwise it throws an error

[2016-03-05 21:54] sercanov opened #12 "build-tools error"
Throws "com.android.ide.common.process.ProcessException: org.gradle.process.internal.ExecException: Process 'command '/usr/local/opt/android-sdk/build-tools/23.0.1/aapt''

react native 0.21
on android

And readme is really need to should be checked.

[2016-03-07 22:19] avishayil commented on #12
Thanks, we'll take a look on this.

[2016-03-07 22:20] avishayil commented on #11
Thanks, we'll add this to the documentation.

[2016-03-07 22:21] avishayil commented on #10
Yep, we're working alongside OneSignal team on this, we'll update this issue when it's resolved.
I think we need @jkasten2 in here to take care of this.

[2016-03-09 21:59] avishayil commented on #12
Hi @sercanov, the latest package should solve this issue.
Can you check?
Thanks!

[2016-03-09 21:59] avishayil commented on #11
Hi @adamrainsby, the latest package should solve this.
No need to install this from the SDK manager now.
Can you please check?
Thanks!

[2016-03-14 12:21] sercanov commented on #12
Yeah it solved the issue @avishayil thanks!

[2016-03-14 12:21] #12 closed, assigned to nobody

[2016-03-15 14:49] avishayil commented on #11
Hi, since you haven't answered I assume that the issue is solved.
Please re-open it if it's necessary.
Thanks!

[2016-03-15 17:35] adamrainsby commented on #11
Sorry for the late reply. I just updated to 1.1.1 to check and it does still seem to be an issue.

This is the error

[code]

[2016-03-15 20:44] avishayil commented on #11
Can you try putting this line:

[code]

At the end of the build.gradle file of the module and report back?
Thanks.

[2016-03-17 14:32] adamrainsby commented on #11
Isn't the solution just to say to make sure it is installed in the readme?

[2016-03-20 04:15] seokgyo opened #14 "idsAvailable() does not call callback if no pushToken."
The current implementation does not call callback if there's no pushToken in idsAvailable().
But to be consistent w/ original behaviour it seems better to callback w/ null pushToken. On client there's no way to detect what's happening.

What do you think?
Thanks.

[2016-03-20 08:41] avishayil commented on #11
Well, that's the easy solution. Just wanted to minimize user actions while installing this plugin.

[2016-03-22 07:07] haikov opened #15 "Unsubscribe user on iOS"
Is it possible to disable PushNotifications for the user through js (I'd like to add switch in the app)? I see that we have `setSubscription` method, but seems like it doesn't work on iOS.

[2016-03-22 22:26] avishayil commented on #15
Thanks for the report, i'll test it and let you know.

[2016-03-27 08:15] slamus commented on #11
Hey @avishayil ,

I'm using react-native on OS X, and I'm still getting this error even though I installed the "Google Play Services" package from Android SDK manager...
Here's the error

[code]

And Here's the package I installed:
<img width="628" alt="screen shot 2016-03-27 at 10 15 17" src="https://cloud.githubusercontent.com/assets/2813579/14064478/d9e13b10-f404-11e5-9e5e-33e9a33ed676.png">

W

[2016-03-27 12:44] avishayil commented on #11
@slamus You should install Google Repository in order to fix this issue.

[2016-03-29 08:53] slamus commented on #11
@avishayil Thanks it works now :)

[2016-03-29 19:39] micksabox commented on #14
+1
@seokgyo do you mean when the user declines to allow push notifications? I'm not sure if there is a way to detect this now, but it would be nice to know this. Passing null as a pushToken would be a good way to do it.

[2016-03-30 05:31] seokgyo commented on #14
The following is the current implementation for ios:

`
RCT_EXPORT_METHOD(idsAvailable:(RCTResponseSenderBlock)callback) {
    [oneSignal IdsAvailable:^(NSString* userId, NSString* pushToken) {
        NSLog(@"UserId:%@", userId);
        if (pushToken != nil) {
            NSLog(@"pushToken:%@", pushToken);
            NSDictionary *value = @{
                                    @"pushToken": pus

[2016-03-31 10:04] skizzo opened #16 "Show permissions prompt later"
Hi and thanks for this amazing toolset.
I'd like to know, is there a way to "delay" the prompt that shows when the app starts and asks the user for permissions to send notifications?
Thanks!

[2016-04-14 08:37] JonathanWi commented on #14
+1 for this feature: If the user register later during the process, I need to listen to the callback of his press (accept/decline) in order to move on to the next page.

[2016-04-14 11:52] ghost commented on #16
See my PR #13

[2016-04-14 11:53] micksabox commented on #16
Whoops. Wrong account used for the last comment.

[2016-04-14 12:16] skizzo commented on #16
Looks good @micksabox, let's hope that the pull request makes it into the repo soon :+1:

[2016-04-14 12:16] #16 closed, assigned to nobody

[2016-04-14 12:42] olliebrennan opened #18 "symbol(s) not found for architecture x86_64"
Hey,

I am running into an issue when importing this into a RN project (migrating from Parse!).

[code]

It looks very similar to https://github.com/geektimecoil/react-native-onesignal/issues/5 although different architecture.

I am pretty unfamiliar with ObjectiveC but happy to help where I can and will issue PR if I can be guided as required. Hopefully someone can help me along!

Thanks
Ollie

[2016-04-17 14:12] radiegtya opened #19 "Onesignal.h file not found"
in my xcode proj, I can't build my project.

<img width="762" alt="onesignalerr" src="https://cloud.githubusercontent.com/assets/2161622/14587677/fc35c7a2-04e0-11e6-8258-93d8c6259e85.png">

[2016-04-19 05:43] algosubi commented on #19
i have same problem

[2016-04-21 00:01] francocorreasosa opened #20 "com.android.dex.DexException: Multiple dex files define Lcom/google/android/gms/internal/zzas;"
I got this error after linking the library with the Android project

[code]

[2016-04-21 00:02] francocorreasosa commented on #19
You can fix it by adding the OneSignal library though CocoaPods.

[2016-04-21 06:15] radiegtya commented on #19
Never use cocoapods before, but I'll try

[2016-04-21 13:46] jamiemchale commented on #18
@olliebrennan did you manage to resolve this issue? I am looking through the commit for #5 to figure out what to do. I'm a JS dev, not an iOS dev, so am unfamiliar with the various settings.

[2016-04-22 18:26] jkasten2 commented on #20
### Update 2018-11-07
This looks to be conflict with another plugin including a different interdependency of the Google Play services library.  I recommend using the [OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin) as using `+` isn't recommended as it could result in upgrading to an incompatible version without warning. Using `+` versions also isn't recommend by Goog

[2016-04-24 07:36] haabnaseem opened #21 "This Doesnt Work"
i have followed your documentation, and it does not work. i think you should test before posting here.

[2016-04-24 07:43] avishayil commented on #21
Hi, what doesn't work? can you post the error / some details?
Thanks!

[2016-04-24 10:57] avishayil commented on #14
Hi, I won't be available on the next month to add new features. If you have any idea for a PR, i'll be happy to review it.
Hopefully after mid May i'll be back to add new features to this library.

I'll add this to the TODO list.

[2016-04-24 10:58] #11 closed, assigned to avishayil

[2016-04-24 10:59] avishayil commented on #19
Please add the necessary Pod, since it's part of the setup process.

[2016-04-24 10:59] #19 closed, assigned to nobody

[2016-04-24 11:00] avishayil commented on #20
Thanks @jkasten2 .
@francocorreasosa Please report after trying the fix Josh suggested.

[2016-04-24 11:01] avishayil commented on #15
Hi, I won't be available on the next month to add new features. If you have any idea for a PR, i'll be happy to review it.
Hopefully after mid May i'll be back to add new features to this library.

I'm adding this request to the TODO list.

[2016-04-24 11:02] avishayil commented on #18
Maybe @jkasten2 can help here?

[2016-04-25 13:58] duyluandethuong opened #22 "Notification open causes Android app to crash and cannot navigate"
Hi,

I have use OneSignal for the iOS app and it works perfectly. However, on Android (running on real device and virtual devices), the messages sometimes cause my app to crash. Moreover, it cannot navigate to any page as specified by me while everything works on iOS. Here is the log. Is it the notification which is opened before the render of the main layout leads to the issues?

04-25 20:51:07.4

[2016-04-26 19:08] dansjensen commented on #21
It is working for me on iOS. I recommend looking at the example AwesomeProject to verify that you have the same settings.

[2016-04-26 19:38] avishayil commented on #21
Please re-open this thread when you have more details.
Thanks!

[2016-04-26 19:38] #21 closed, assigned to nobody

[2016-04-26 19:41] avishayil commented on #22
Can you put your code so we'll be able to see what's going on?
Also, if it's Android specific crash, do you have the crash log from Android Studio?

[2016-04-26 23:21] duyluandethuong commented on #22
All the problems are solved now. I think the issues is that I forget to put ALL the lines into the main and manifest file. So, advice for the others who may experience crash in OneSignal android app: FOLLOW THE GUIDE, EACH AND EVERY SINGLE LINE.

Thank you @avishayil . Already in love with OneSignal

[2016-04-26 23:35] avishayil commented on #22
You're welcome!
I'm not part of OneSignal, but they indeed have a great service.
Closing issue.

[2016-04-26 23:35] #22 closed, assigned to nobody

[2016-04-27 05:52] haabnaseem commented on #21
Hi, i followed your instructions to install this package, i got Onesignal.h not found error in Xcode.

[2016-04-27 06:33] avishayil commented on #21
You need to install the OneSignal pod as the documentation says.
Also make sure that you link all the libraries like in the documentation.
On Apr 27, 2016 8:52 AM, "haabnaseem" notifications@github.com wrote:

[2016-04-27 11:52] adrienbrault opened #23 "Cocoapods support"
The installation would be much easier for people using the ios package manager.

Here's an example of a popular project that supports cocoapod: https://github.com/oblador/react-native-vector-icons/blob/master/RNVectorIcons.podspec

[2016-04-27 16:22] dansjensen opened #25 "Remove example AwesomeProject from npm package"
Thank you for providing a really easy way to use OneSignal notifications with React Native.

Please would it be possible to exclude the example AwesomeProject from the npm package.

When I use cloud services for continuous integration, I have observed that pod file in the example messes up the build. Also, it would be better, if the npm package only includes whatever is required to integrate and r

[2016-04-27 23:49] olliebrennan commented on #18
@jamiemchale I did not.  Had the same issue as you so left my app using Parse until a fix comes along. Happy to help if I can but as you said, I am also unfamiliar with the iOS language / settings.

[2016-04-28 03:02] jkasten2 commented on #18
@olliebrennan @avishayil
If you installed the OneSignal plugin with Cocoa pods it may not reference the OneSignal native framework to the main project. You can drop and drag OneSignal.framework from Finder to XCode which should fix the linker error. You may have to select "Copy items if needed" if it does not work without.

![image](https://cloud.githubusercontent.com/assets/645861/14874239/eb0402

[2016-04-28 09:21] #23 closed, assigned to nobody

[2016-04-28 12:17] avishayil commented on #25
That's a good idea, I'll add it to the TODO list.
Thanks.
On Apr 27, 2016 23:22, "Dan Jensen" notifications@github.com wrote:

[2016-04-28 17:33] BigPun86 commented on #20
+1 worked for me!

[2016-04-29 04:53] duyluandethuong opened #27 "App crash on Android at launch if no Internet connection is available"
Hi,

For all Android devices I have tested, my application crash right at the moment the app start if no Internet connection is available. If we turn on 3G/4G and / or Wi-Fi then everything is working. The situation does not happen on iOS device.

Any suggestion? I have put NetInfo to prevent is `idsAvailable()` function from running but it still fails. Seem like we need to do something in the nat

[2016-04-29 05:21] jkasten2 commented on #27
@duyluandethuong Can you get the full stack trace from the logcat of the device?

[2016-04-29 06:15] duyluandethuong commented on #27
Here it is

04-29 12:02:21.099 21401-21491/com.trgapp W/EGL_emulation: eglSurfaceAttrib not implemented
04-29 12:02:21.099 21401-21491/com.trgapp W/OpenGLRenderer: Failed to set EGL_SWAP_BEHAVIOR on surface 0xa1da6d20, error=EGL_SUCCESS

[code]

04-29 12:02:21.652 21401-28811/com.trgapp I/ReactNativeJS: 'networkStatus when load TRG Internal', ''
04-29 12:02:21.654 21401-28811/com.trgapp I/ReactNat

[2016-04-29 07:17] duyluandethuong commented on #27
Hi,

The problem seems to be fixed by modifying the index.js file in `node_modules/react-native-onesignal`. Change the idsAvailable methods to the following. Remeber to add **NetInfo** to your react dependencies:

[code]

[2016-04-30 02:02] olliebrennan commented on #18
Thanks @jkasten2
I have a release going out in the next couple of days then will try this and report back.

Cheers

[2016-05-02 20:37] csandeep commented on #10
+1

[2016-05-03 01:18] jkasten2 commented on #10
@avishayil You might be able to simplify the process by not requiring the modification of `node_modules/react-native-onesignal/android/build.gradle`. I am guessing you have already tried leaving the file as is without modification however could you try just setting these to a blank string?

[code]

I believe this may work as `android/app/build.gradle` should override this. I don't have a lot of ex

[2016-05-03 01:59] avishayil commented on #10
Yeah, I'm on a vacation right now so can't take a look, can you try doing this with the sample project?

[2016-05-07 16:27] duyluandethuong opened #28 "Notification on iOS get lose if app is closed or totally suspended?"
If i quit the app, or do not run the app for a long period of time, tapping on the incoming notification only runs the app and does not fire the notification handler as you specified in the readme file. I think it's the same problem which you did mentioned, which is the app is running too fast that the notification is not received. I did try to put Alert.alert commands to detect whether notificati

[2016-05-10 06:37] hyperh commented on #18
+1 having a similar issue on OSX

[code]

I was missing `OneSignal.framework`. Tried dragging `appname/node_modules/react-native-onesignal/ios/Frameworks/OneSignal.framework` into XCode's Libraries. Still not working.

Tried `appname/ios/Pods/OneSignal/iOS_SDK/Framework/OneSignal.framework` as well, didn't work either.

@olliebrennan Did you manage to resolve the issue?

[2016-05-13 12:13] whollacsek opened #29 "Nothing happens when calling OneSignal.idsAvailable()"
After `OneSignal.configure(...)` I tried to call `OneSignal.idsAvailable(callback)` but the callback is never triggered. Everything is setup correctly, on the Onesignal dashboard I can see the new device.

[2016-05-13 12:18] whollacsek commented on #18
I had the exact same issue as @olliebrennan, solved it by:
1. drag the `node_modules/react-native-onesignal/ios/Frameworks` folder into RCTOneSignal.xcodeproj under XCode's left panel
2. once in the left panel, drag the OneSignal.framework into Link Binary with Libraries

[2016-05-16 07:55] DanDance opened #31 "iOS can not set, get or delete tags"
Is there an opportunity to manage tags on iOS? If no, how can we manage devices to target them further?

In my case I check in app subscription that should allow user no receive notifications. I've stuck on how to target iOS users in this case? On Android i set subscribed tag.

[2016-05-16 15:25] DanDance commented on #31
I am sorry, I have incorrectly imported library in Xcode. If tag API works on iOS probably readme should be updated.

[2016-05-16 15:25] #31 closed, assigned to nobody

[2016-05-16 18:17] csandeep opened #32 "support autoRegister flag"
In iOS the RCTOneSignal bridge needs to expose the `autoRegister:` flag while creating the **OneSignal** instance as well as expose the `registerForPushNotifications` method.

I want to control when the notification permission dialog is shown. Without these 2 changes the user sees the request for permission as soon as the app is launched the first time.

[2016-05-16 19:24] csandeep commented on #32
You guys beat me to this.. apparently Im running an older version of the library.

[2016-05-16 19:24] #32 closed, assigned to nobody

[2016-05-22 14:29] avishayil commented on #29
Hi, I just got back from a vacation, i'll try to have a look on all the
issues this week.
Thanks!

[2016-05-24 06:46] avishayil commented on #28
I'll have a look on this.

[2016-05-24 06:46] #20 closed, assigned to nobody

[2016-05-24 06:51] avishayil commented on #27
Hi, Thanks for the report and the solution.
I'll add this to the next release.

[2016-05-24 06:51] #27 closed, assigned to nobody

[2016-05-24 06:53] #25 closed, assigned to nobody

[2016-05-24 07:03] avishayil commented on #10
OK, it seems to solve the issue. Thanks @jkasten2 !

[2016-05-24 07:03] #10 closed, assigned to avishayil

[2016-05-24 07:04] avishayil commented on #18
Hey @hyperh @olliebrennan did you managed to solve this?

[2016-05-24 08:23] hyperh commented on #18
@avishayil I was unable to solve this. I decided to go with apnagent to handle my APN stuff.

[2016-05-24 14:40] avishayil commented on #28
Is the problem occurs on iPhone or Android? I can't replicate it.

[2016-05-24 17:02] duyluandethuong commented on #28
iPhone only. Works perfectly on Android.
On May 24, 2016 9:40 PM, "Avishay Bassa" notifications@github.com wrote:

[2016-05-24 21:22] mnadbader commented on #28
i have the same problem in IOS and works perfectly on Android

[2016-05-24 22:17] jkasten2 commented on #28
@avishayil I am not familiar with [setBridge](https://github.com/geektimecoil/react-native-onesignal/blob/612f99d7c8f288e4a6c58e8486dd84e718a402cc/ios/RCTOneSignal/RCTOneSignal.m#L23) but it I am guessing its running after [initWithLaunchOptions](https://github.com/geektimecoil/react-native-onesignal/blob/612f99d7c8f288e4a6c58e8486dd84e718a402cc/ios/RCTOneSignal/RCTOneSignal.m#L37).

You can try m

[2016-05-26 09:12] avishayil commented on #28
Fixed with help from @danpe and @jkasten2 . Please check.

[2016-05-26 09:16] avishayil commented on #29
Hi, everything works in my testing.
Please try again and report?

[2016-05-26 09:18] avishayil commented on #18
If someone encounters the same error, please report. I'm closing this issue for now.

[2016-05-26 09:18] #18 closed, assigned to nobody

[2016-05-26 09:24] duyluandethuong commented on #28
I just need to pull the code using npm, right?

[2016-05-26 09:26] avishayil commented on #28
@duyluandethuong I updated the NPM module, so just update the module version to 1.1.4 on your node_modules folder. Don't forget to remove the older module, just to be sure.

[2016-05-26 10:24] whollacsek commented on #29
Hi @avishayil, I'll try it next week, will let you know asap

[2016-05-26 10:31] duyluandethuong commented on #28
Now it seems like the notification does not open the app at all :(

[2016-05-26 10:33] avishayil commented on #28
Are you sure? any stacktrace? can you open your device log on XCode and copy here the last lines from the log since you pressed on the notification?

[2016-05-26 10:40] duyluandethuong commented on #28
Yeah I'm sure. When app is still running in the background, the notification works fine. If the app is force closed, when tapping on notification, it crashed. Cannot log any of these thing since I have to disconnect the iPhone with Xcode in order to force close it.

[2016-05-26 10:45] avishayil commented on #28
Why are you disconnecting your iPhone when force closing? just double-press the home button and close the app.

To see device logs, you can still go to XCode --> Window --> Devices and choose your connected device.

Try doing that.

[2016-05-26 10:54] duyluandethuong commented on #28
Got it

Incident Identifier: 9EEE1925-8312-42F6-9593-43C260FE826E
CrashReporter Key:   a1eba14431eedb90a54bff5a91e3b4b953bec7e7
Hardware Model:      iPhone7,1
Process:             Lugagi [226]
Path:                /private/var/containers/Bundle/Application/6016A244-1BDB-4B45-8C05-4EED91F52DCC/Lugagi.app/Lugagi
Identifier:          com.lugagi.app
Version:             20 (1.2.4)
Code Type:

[2016-05-29 16:48] andreibarabas opened #34 "Notification Action Buttons Callback"
Hi,

When sending a push notification from One Signal, there is the option to include "Action Buttons" to it.

Even if doing so, the notification appears as regular (not with Action Buttons).

What do we need to do so the notification appears with buttons and each button's action is a callback in react native?

Thanks

[2016-05-29 17:10] avishayil commented on #28
Are you running the example app?

[2016-05-30 02:10] duyluandethuong commented on #28
No, this is the log from my app. Will try it again today and give you the latest log. Just got back from the weekend

[2016-06-01 22:00] jkasten2 commented on #34
Hello,

Can you confirm your testing on Android 4.1+ or later required for this feature? Also try swiping down on the notification, if there isn't enough room due to other notifications in the notification shade it will not be expanded by default.

Thanks.

[2016-06-02 06:35] andreibarabas commented on #34
Hi,

Sure. Here are the specs:

Android 4.4.2

the app is built using
- React Native 0.26
- react-native-onesignal 1.1.4

As for the notification, here is the PREVIEW in OneSignal

![screen shot 2016-06-02 at 09 27 19](https://cloud.githubusercontent.com/assets/2101405/15735954/24976650-28a5-11e6-9764-6d3b6bd06a46.png)

and then, the result in the app. As you can see, there are no other notificati

[2016-06-02 18:12] jkasten2 commented on #34
Can you also check the`targetSdkVersion`? It should be API Level 16 or higher.

[2016-06-03 06:22] andreibarabas commented on #34
Sure. Here are the settings found in

**android/app/build.gradle**

[code]

Do you want me to try increasing the minSdkVersion to 17? but as long as the targetSdkVersion is 22, it shouldn't be a problem, no?

[2016-06-03 06:32] andreibarabas commented on #34
I also tried bumping up the targetSdkVersion to 23, to match your build.gradle, but the same result. No action buttons :(

[2016-06-03 22:42] chrissm79 commented on #18
@avishayil I have this problem. Tried following @whollacsek's instructions but I am still getting the same error in XCode.

<img width="576" alt="screenshot 2016-06-03 15 40 31" src="https://cloud.githubusercontent.com/assets/1976169/15794674/a75677be-29a1-11e6-99c5-a412fa4ca941.png">

[2016-06-04 18:25] avishayil commented on #34
Issue happens for me as well. We'll investigate it further.

[2016-06-04 20:57] avishayil commented on #34
I updated the repo to the latest SDK and Google libraries but the issue still persist. @jkasten2

[2016-06-05 08:42] avishayil commented on #29
I'm closing the issue for now. If the problem persist, please re-open it.

[2016-06-05 08:42] #29 closed, assigned to nobody

[2016-06-05 08:42] avishayil commented on #28
So far, it's working well for me. Can you try testing this from the example app and report?

[2016-06-05 12:45] gbaladi opened #35 "support promptLocation?"
Hi,

there is any way to use promptLocation from react native?

thanks

[2016-06-05 16:00] avishayil commented on #35
Hi @gbaladi,
I'm not sure what promptLocation means?

[2016-06-05 21:27] gbaladi commented on #35
Hi @avishayil,

from OneSignal IOS (and Android) API documentation site:

promptLocation
Prompts the user for location permissions to allow geotagging from the OneSignal dashboard. This lets you send notifications based on the device's location.

Example

Objective-C
[self.oneSignal promptLocation];
Note: Requires the follow entries in your .plist file.

NSLocationUsageDescription
NSLocationWhenIn

[2016-06-06 21:55] maxs15 opened #36 "Ask permissions later"
Hi,

Awesome component, very useful ! :)
I was wondering if we could ask the permissions later ? For now the popup show up at the start of the app and not when I'm calling `OneSignal.configure`.

Thanks

[2016-06-07 03:52] andreibarabas commented on #34
I see. any luck with debugging the issue? Is there any way I can help?

[2016-06-07 10:38] flobiwankenobi opened #37 "Exception on file abc_ic_ab_back_material.xml"
I got the error:

`File res/drawable-v19/abc_ic_ab_back_material.xml from drawable resource ID #0x7f020013
`
**Emulator Info**
Android API Level: 19
CPU/ABI: Google APIs Intel Atom (x86)

[2016-06-07 11:26] flobiwankenobi commented on #37
Found a solution by changing following lines in build.gradle:

**from**
    `compile 'com.android.support:appcompat-v7:+'`
    `compile 'com.android.support:support-v4:+'`
**to**
    `compile 'com.android.support:appcompat-v7:23.4.0'`
   `compile 'com.android.support:support-v4:23.4.0'`

[2016-06-07 16:05] whollacsek commented on #29
sorry for the late response, it seems to work now

[2016-06-07 16:09] avishayil commented on #29
Great! Please let me know if something else breaks.

[2016-06-07 16:11] maxs15 commented on #36
I found out this PR that is exactly doing what I was looking for:
https://github.com/geektimecoil/react-native-onesignal/pull/13
Should be added to the docs :)

[2016-06-07 16:11] #36 closed, assigned to nobody

[2016-06-07 18:11] jkasten2 commented on #34
@avishayil @andreibarabas I haven't been able to reproduce an issue with our Android native SDK, I'll try out react-native to see if I can reproduce this.

[2016-06-07 21:50] whitmanc opened #38 "Documentation regarding registering for notifications"
Is there documentation pertaining to registering for push notifications in React Native?

There should be two methods:
1. with `initWithLaunchOptions autoRegister:true|false`
2. `[oneSignal registerForPushNotifications];`

https://documentation.onesignal.com/docs/ios-sdk-api#registerForPushNotifications

[2016-06-07 22:45] whitmanc commented on #38
Looks like the functionality exists for sure:
1. https://github.com/geektimecoil/react-native-onesignal/blob/master/ios/RCTOneSignal/RCTOneSignal.m#L44
2. https://github.com/geektimecoil/react-native-onesignal/blob/master/ios/RCTOneSignal/RCTOneSignal.m#L79

[2016-06-07 22:45] #38 closed, assigned to nobody

[2016-06-08 19:32] masterkrang commented on #18
Same problem as @chrissm79 and others

[2016-06-10 09:07] redwind commented on #28
it's work well for me,too. thanks @avishayil

[2016-06-11 13:57] edo1493 commented on #18
I just got here and yes, same problem.

[2016-06-13 06:30] tonyxiao opened #40 "Duplicate notification registration"
Set bridge can be called multiple times due to reloading bundle during debugging or code push.

[code]

We will end up calling `handleRemoteNotificationReceived` and thus js multiple times for each notification.

[2016-06-13 07:54] tonyxiao opened #41 "Unable to merge AndroidManifest"
Keeps on getting the following error

[code]

Basically the `manifestPlaceholders` from my `app/build.gradle` is not able to override the settings `build.gradle` inside `react-native-one-signal`. Therefore `manifestApplicationId` as well as all the other fields are empty string.

[2016-06-13 08:06] tonyxiao opened #42 "iOS and Android idsAvailable return values not consistent"
on iOS we return

[code]

On Android we return

[code]

We should return either `userId` or `playerId` and keep it the same on both platforms for consistency

[2016-06-15 07:59] andreibarabas commented on #34
any luck replicating the issue? do you need some logs from my side?

[2016-06-15 21:54] ghost opened #43 "> Could not set unknown property 'manifestPlaceholders' for object of type com.android.build.gradle.AppExtension."
I upgraded gradle plugin to newest (2.2.0-alpha3) and gradle to 2.14, but still keep getting the error.

Could you please either add instructions how to make this work out of Android Studio or not use `manifestPlaceholders`?

Thanks.

[2016-06-15 22:14] ghost commented on #43
Closing. I put `manifestPlaceholder` by mistake under `android`, not under `defaultConfig`.

[2016-06-15 22:14] #43 closed, assigned to nobody

[2016-06-16 20:05] avishayhajbi commented on #18
+1

[2016-06-17 06:39] avishayil commented on #18
Looking into it. Any reproduce steps?

[2016-06-17 08:40] olup opened #44 "RN crashes"
App crashes regularly when developing, here with RN 0.2 and android 6. This happens only after integrating OneSignal RN component. This is pretty vague, any leads to track down this bug ?

[2016-06-17 09:15] avishayil commented on #42
Thanks for the heads-up, i'll take care of it.

[2016-06-17 09:16] avishayil commented on #41
@jkasten2 any ideas?

[2016-06-17 09:17] avishayil commented on #40
Can you set up a PR for this?
@jkasten2 can you help?

[2016-06-17 09:17] avishayil commented on #37
Thanks for the solution, i'll test it and include in the next releases.

[2016-06-17 09:17] #37 closed, assigned to nobody

[2016-06-17 09:50] avishayil commented on #41
I bypassed it by moving some random values to the manifest placeholders, your settings on app build.gradle should overwrite them.

Please tell me if the issue persists.

[2016-06-17 11:56] flobiwankenobi opened #45 "Execution failed for task ':app:packageAllDebugClassesForMultiDex'"
Upgrading react-native-onesignal from 1.1.5 to 1.1.6 causes following exception:

`java.util.zip.ZipException: duplicate entry: android/support/v7/appcompat/R$anim.class`

I am running React Native 0.27.2

[2016-06-17 16:11] wrousseau commented on #45
This is probably because of this commit : https://github.com/geektimecoil/react-native-onesignal/commit/b7acc4170306d24ca9358c1e213cf764b837750b

I believe the two lines

[code]

play more or less the same role ?

[2016-06-17 23:04] jkasten2 commented on #40
@avishayil or @tonyxiao Can you try out the following commit to see if it fixes the issue?
https://github.com/jkasten2/react-native-onesignal/commit/e3137a8fa2d33a10b1e11dfd5f0826e392052cd2

[2016-06-17 23:16] avishayil commented on #45
You are compiling the appcompat twice, I believe.
Can you please check if you're compiling them in your app build.gradle? or anywhere else in your project?
Please report back.

[2016-06-17 23:17] avishayil commented on #42
Fixed by 1.1.6

[2016-06-17 23:17] #42 closed, assigned to nobody

[2016-06-17 23:18] avishayil commented on #34
@jkasten2 can you guys help here?

[2016-06-17 23:19] #28 closed, assigned to nobody

[2016-06-17 23:20] avishayil commented on #28
Closing this issue for now, please report back if issue persists.

[2016-06-17 23:21] avishayil commented on #41
Closing issue for now. Please report back if issue persists.
Thanks!

[2016-06-17 23:21] #41 closed, assigned to nobody

[2016-06-17 23:31] jkasten2 commented on #34
@andreibarabas @avishayil Can you send a link to a project and APK reproducing the issue? This will help me out as I work continue to work through some of the open issues on our Native Java SDK.

Thanks.

[2016-06-18 04:19] andreibarabas commented on #34
@jkasten2 , I've sent you a repo invite. see branch **push-notifications**

[2016-06-18 09:57] avishayil commented on #15
I'm testing this on iOS right now, we'll let you know.
On Android it works well by my tests.

[2016-06-18 15:04] avishayil commented on #45
Closing this issue for now, please report back when possible and reopen this issue if applicable.

[2016-06-18 15:04] #45 closed, assigned to nobody

[2016-06-18 15:06] avishayil commented on #44
@olup Please post the error message & stack trace so we'll be able to track down this issue.

[2016-06-18 15:38] avishayil commented on #35
Seems there is some problem, since for some reason the OneSignal framework is not including OneSignalLocation files, and therefore it's impossible to include promptLocation on iOS.

On Android it works great.

@jkasten2 - can you help with iOS here?

[2016-06-18 17:05] avishayil commented on #14
Update to the latest package version, I fixed it and the callback is working in both iOS and Android.

The following code checks if the ids object is empty, if it is, console log "No Ids".

[code]

Please re-open the issue if any problem occurs.

Thanks!

[2016-06-18 17:06] #14 closed, assigned to nobody

[2016-06-18 17:08] avishayil commented on #40
It seems to work well, thanks @jkasten2 .
@tonyxiao can you test on your end and report back using the latest package?

Thanks!

[2016-06-18 18:09] avishayil opened #46 "Add empty callbacks for missing functions on each platform"
Also, need to add documentation on these on the Readme.

[2016-06-18 21:07] tonyxiao commented on #40
👍 looks good

[2016-06-19 06:41] avishayil commented on #40
Closing issue for now.
Thanks!

[2016-06-19 06:41] #40 closed, assigned to nobody

[2016-06-19 19:35] maxs15 opened #47 "The callback idsAvailable() exists in module RNOneSignal but only one callback may be registered"
Hey guys,

I discovered an error that is happening when using `registerForPushNotifications`and `idsAvailable`
I'm getting this RN error:
<img src="https://cloud.githubusercontent.com/assets/1653525/16179386/120a965c-3632-11e6-9a22-5d59db45185f.jpg" width="320" height="480">

My code is as simple as that:

[code]

I found out that the issue is related to the idsAvailable method in RCTOneSignal.m.

[2016-06-19 19:40] avishayil commented on #47
Thanks @maxs15 , i'll have a look on that.

[2016-06-19 19:53] maxs15 commented on #47
Thanks for such a quick reply @avishayil.
I think I just found the issue and the bug is in fact in the OneSignal Library.
Just before registering the push notifications I was asking for the user location (showing an alert to the user).
OneSignal had to wait for my location alert to close to show the push notification alert, and it looks like this is the root of the issue.
By removing my location a

[2016-06-20 09:33] olup commented on #44
Sometime there is no error message, sometime it says just " xxx has ended ". Can you give directions to recover stack trace after crash ?

[2016-06-20 10:25] avishayil commented on #44
Go to Android Studio and copy the latest log lines before the crash.
Or simple open a terminal and type “adb logcat” when the device is
connected via USB.
Find the appropriate lines and paste them here.

On June 20, 2016 at 12:33:04 PM, olup (notifications@github.com) wrote:

Sometime there is no error message, sometime it says just " xxx has ended
". Can you give directions to recover stack trace

[2016-06-20 22:26] jkasten2 commented on #34
@andreibarabas Is there a pre-built APK in the repo? Can you send a link to one?

[2016-06-20 23:12] jkasten2 commented on #34
@avishayil @andreibarabas Never mind, it seems the buttons only show up when a `NotificationExtenderService` is setup. I just created an issue to track this bug on the Native SDK side.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/61

Thanks.

[2016-06-20 23:24] mizterp commented on #34
@jkasten2 Yep, took me hours to figure that bug out today

[2016-06-20 23:32] jkasten2 commented on #34
@mizterp Thanks for reporting it!

I'll create a fix and get a release out for the issue this week yet.

[2016-06-21 02:59] jkasten2 commented on #34
Just fixed this in release [2.4.3](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/2.4.3) along with another bug fix. It should be showing up in maven central in few hours and will be used as the default version.

[2016-06-21 09:21] avishayil commented on #34
Thanks! will test it and report.

[2016-06-21 09:29] avishayil commented on #47
Thanks @maxs15 , do you have an idea for a PR to handle this?

[2016-06-21 09:33] andreibarabas commented on #34
Awesome! Will try it out

[2016-06-21 09:51] avishayil commented on #46
Done

[2016-06-21 09:51] #46 closed, assigned to nobody

[2016-06-21 10:28] avishayil commented on #34
I can confirm it's working.
Issue closed for now.

[2016-06-21 10:28] #34 closed, assigned to nobody

[2016-06-21 13:42] chromakey commented on #18
I experienced this issue and was able to fix it by clicking and dragging ios/Pods/OneSignal/iOS_SDK/Framework/OneSignal.framework from Finder into the Frameworks folder of my XCode project.

[2016-06-21 13:47] maxs15 commented on #47
It looks like a bug in the OneSignal IOS SDK, not sure what we could do on our side

[2016-06-21 14:44] avishayil commented on #47
Maybe @jkasten2 will help on this.

[2016-06-22 14:52] avishayil commented on #44
I'm closing this issue for now. If you have any more information, I'll be glad to try help.

[2016-06-22 14:52] #44 closed, assigned to nobody

[2016-06-22 14:58] olup commented on #44
Yes ok, i'll be back with data as soon as i get time. The problem doesn't
happen after release tho, so no hurry.

2016-06-22 16:52 GMT+02:00 Avishay Bassa notifications@github.com:

[2016-06-24 04:56] seokgyo opened #48 "errors in generating signed APK."
Hi,

starting from v1.1.6, generating signed APK for android emits the following error:

:app:dexRelease
Unknown source file : UNEXPECTED TOP-LEVEL EXCEPTION:
Unknown source file : com.android.dex.DexException: Multiple dex files define Landroid/support/v7/appcompat/R$anim;
Unknown source file :   at com.android.dx.merge.DexMerger.readSortableTypes(DexMerger.java:596)
Unknown source file :   at co

[2016-06-24 06:18] jkasten2 commented on #48
`Multiple dex files define ... android/support/v7/appcompat` means there is 2 copies of the Android Support Library v7 in your project. You can try changing the 2 lines in [build.gradle](https://github.com/geektimecoil/react-native-onesignal/blob/master/android/build.gradle#L36-L37)
From:

[code]

TO:

[code]

[2016-06-25 03:52] andreibarabas commented on #48
I tried the suggested fix, but no luck. I get the same error (even in Debug)

[code]

here is the build.gradle from onesignal

[code]

[2016-06-25 07:03] jkasten2 commented on #48
@andreibarabas You can try removing the following line.

[code]

If that doesn't work list all the other plugins you have in your project, one of them must be conflicting.

[2016-06-25 12:05] andreibarabas commented on #48
@jkasten2 , i removed the line. the same issue. I removed one signal completely, and it compiles.

here is the **package.json** file

[code]

in the meantime, i'm removing each plugin to determine with whom it is conflicting

[2016-06-25 12:24] andreibarabas commented on #48
Very strange... in the /node_modules/react-native-onesignal/android/build/intermediates/exploded-aar/com.android.support folder I found two folders appcompat-v7 and appcompat and in appcompat-v7 there where 3 subfolders with different versions.

I removed all such folders, and the build moved on but crashed at **recyclerview** with

`com.android.dex.DexException: Multiple dex files define Landroid

[2016-06-26 06:00] avishayil commented on #48
This solution to remove the build folder when shipping seems little hacky to me, since building again or sending the app through a CI would might cause this issue again.

Do you have a repo that can re-produce this issue?

[2016-06-26 15:15] zsajjad commented on #45
Facing same issue.
I have appcompat-v7:23.0.1 for facebook signin & google signin. Solution from @wrousseau doesn't solve the problem.

[2016-06-26 15:23] avishayil commented on #15
Working in all my tests.

[2016-06-26 15:23] #15 closed, assigned to nobody

[2016-06-26 15:24] avishayil commented on #45
Dupe if #48

[2016-06-26 15:31] avishayil commented on #48
Actually now I tried to run my app without those two lines, it runs well.
Should be ok now.
@andreibarabas @seokgyo @jkasten2 please confirm?

[2016-06-26 16:52] baptistejamin commented on #48
It's because your Android app is running with a 23 SDK, but if you upgrade your app with a new react native version, it's should run with SDK version 25, and that's producing an error.

[2016-06-26 16:53] avishayil commented on #48
@mywaystar I'm with RN 0.28, or you haven't meant to me?

[2016-06-26 17:04] baptistejamin commented on #48
Did you upgraded your android folder too ?
Le 26 juin 2016 6:53 PM, "Avishay Bassa" notifications@github.com a
écrit :

[2016-06-26 18:30] avishayil commented on #48
I found what the problem is. You need to upgrade your gradle version to 2.10.
Create in your /android/ the folder /gradle/wrapper and in this folder create gradle-wrapper.properties file with the following content:

[code]

Then, in your /android/build.gradle file , upgrade the classpath:

[code]

then it runs smoothly.

I'll add this documentation to the readme.

[2016-06-26 20:44] avishayil commented on #48
Readme updated.

[2016-06-26 22:19] avishayil commented on #48
@seokgyo @andreibarabas @mywaystar

Please confirm it's working after the latest documentation change.
Thanks!

[2016-06-27 01:45] seokgyo commented on #48
@avishayil
Now everything works well for me. Thanks very much. 😄

[2016-06-27 02:51] andreibarabas commented on #48
1.1.8 did the trick. Thanks

[2016-06-27 02:55] andreibarabas commented on #34
@avishayil, @jkasten2 I even tried 1.1.8 ... the buttons do not appear :( i must be doing something wrong

[2016-06-27 04:40] avishayil commented on #48
Happy to hear that :), closing issue.

[2016-06-27 04:40] #48 closed, assigned to nobody

[2016-06-27 04:51] avishayil commented on #34
Can I see your server-side request?

[2016-06-27 09:22] zsajjad commented on #20
Having same issue!

android/app/build.gradle

[code]

[2016-06-27 10:07] zsajjad opened #51 "Multiple dex files define"
RN v0.24.1

[code]

android/app/build.gradle

[code]

[2016-06-27 10:08] andreibarabas commented on #34
sure. I'm doing it from the Onesignal UI, and it's just like the screenshot

https://cloud.githubusercontent.com/assets/2101405/15735954/24976650-28a5-11e6-9764-6d3b6bd06a46.png

Or did you mean something else?

[2016-06-27 15:44] bendellarocco commented on #48
I installed 1.1.8 and am still seeing this issue.  I tried the solution @avishayil suggestion and received new errors.  Is there a step I am missing in the process?  Thank you for any help you can provide.

[2016-06-27 15:44] bendellarocco commented on #51
Some people seemed to solve this issue using the solution here: https://github.com/geektimecoil/react-native-onesignal/issues/48

[2016-06-27 15:58] avishayil commented on #51
@zsajjad try to include the following in your app `build.gradle` file:

[code]

[2016-06-27 16:25] bendellarocco commented on #51
@avishayil I tried that when I first got this issue and that did not solve it.

[2016-06-27 16:26] bendellarocco commented on #51
I noticed other users said they only started getting this error after a specific version of this repository.  Is there a change list or release notes so I can see if my app will be strongly effected if I downgrade?

[2016-06-27 16:34] avishayil commented on #51
Nothing I can think of, but you can see the commits and the version bumps
on NPM accordingly. I'll debug older RN versions when I'll get the chance.
On Jun 27, 2016 7:26 PM, "Ben Dellarocco" notifications@github.com wrote:

[2016-06-27 16:36] bendellarocco commented on #51
@avishayil I am on 25.1 I believe.  If you need any assistance from me please let me know.  I am actively working on this as well.  Also I was speaking about release notes for this repository.  Not react.  Sorry if I caused confusion.

[2016-06-27 20:41] avishayil commented on #51
@bendellarocco Can you send me a link to your repository project?

[2016-06-27 21:02] bendellarocco commented on #51
@avishayil It is a private repository.  I will make a branch and invite you.  Is that fine?

List of Solutions I have Tried:
Pulled 1.1.8
Added multiDexEnabled true
Added the updates to android/gradle/wrapper/gradle-wrapper.properties and the updates to android/build.gradle which gave me a new error unrelated to this one

[2016-06-27 21:07] avishayil commented on #51
Sure.

On Tue, Jun 28, 2016 at 12:02 AM, Ben Dellarocco notifications@github.com
wrote:

##

בברכה,
אבישי בסה.
All The Best,
Avishay Bassa,
Israel Mobile: +972 (54) 928-0802
US Mobile: +1 (501) 232-1231
E-Mail/G-Talk: avishay.il@gmail.com
Skype: avishayil

[2016-06-27 21:08] bendellarocco commented on #51
@avishayil invited you.  also set up a "oneSignalTesting" branch so our development wont impact you

[2016-06-27 21:39] avishayil commented on #51
@bendellarocco I was able to compile your repository, please see my comments.
I will update the documentation according to the things I saw there and that needed to pay attention to.

[2016-06-27 21:40] avishayil commented on #51
@zsajjad Please take a look on the FAQ section and see if this can solve the problem for you. If not, i'd be happy to take a look at your app repository and try to help.

[2016-06-28 09:07] andreibarabas commented on #34
I tried to CURL directly the API, and **it works**. This means that you have a bug in your OneSignal UI (unrelated to this repo).

Thanks!

[2016-06-28 09:10] avishayil commented on #34
@jkasten2

[2016-06-28 09:24] jkasten2 commented on #34
@andreibarabas Can you share the notification id? I can check it out on our server.

[2016-06-28 09:26] andreibarabas commented on #34
76fc3ce6-e456-4f8d-bc65-ea3fed5ff7ae

**P.S:** I think you invoked some other user in your prev message

[2016-06-28 09:30] andreibarabas opened #52 "Notification does not appear on lock screen"
Guys, The payload

[code]

According to API docs, the notification should appear on lock screen. But this does not happen. I have enabled on the phone notifications on lock screen, and other apps like Facebook, Whatsapp, Gmail appear on the lock screen.

[2016-06-28 14:13] whollacsek opened #53 "registerForPushNotifications should return a promise"
Please enhance `registerForPushNotifications` so that it will return a promise mimicking: [requestPermissions](https://facebook.github.io/react-native/docs/pushnotificationios.html#requestpermissions)

From the doc it says:

I'm searching a way to know whether the user has accepted the notification permission or not.

[2016-06-28 14:23] avishayil commented on #52
Works fine on my end...
@jkasten2 do you have any suggestions?

[2016-06-28 16:39] avishayil commented on #51
If anyone would like to add on this or issue is recurring, please re-open this. Thanks!

[2016-06-28 16:39] #51 closed, assigned to nobody

[2016-06-28 16:40] avishayil commented on #53
More than happy to accept PR for this.

[2016-06-28 16:49] whollacsek opened #54 "idsAvailable is not called"
Today I upgraded from 1.1.5 to 1.1.8 and `idsAvailable` stopped working event though on OneSignal dashboard the new user is added correctly.

I'm using RN 0.28.

[2016-06-28 17:18] whollacsek commented on #54
found the origin: https://github.com/facebook/react-native/issues/8469

[2016-06-29 00:39] bendellarocco opened #55 "ExampleUnitTest.java Causes Rebuild To Fail On Android"
Once removing this file my build passed

/Users/bdellarocco/apps/masstuning/node_modules/react-native-onesignal/android/src/test/java/com/geektime/rnonesignalandroid/ExampleUnitTest.java
Error:(3, 17) error: package org.junit does not exist
Error:(5, 24) error: package org.junit does not exist
Error:(11, 6) error: cannot find symbol class Test
Error:(13, 9) error: cannot find symbol method assertE

[2016-06-29 01:56] andreibarabas commented on #52
I'm testing on  an Android 4.4. Might it be that the case?

[2016-06-29 04:51] jkasten2 commented on #52
@andreibarabas Lock screen notifications were added in Android 5.0 Lollipop.
https://developer.android.com/about/versions/android-5.0.html#LockscreenNotifications

[2016-06-29 05:30] jkasten2 commented on #34
@andreibarabas I am not able to reproduce an issue either. Can you try it again? Maybe the app wasn't rebuilt when you tested it at first? I can confirm your running the 2.4.3 native Android SDK code base now on your test device.

[2016-06-29 06:40] andreibarabas commented on #34
@jkasten2 - I can confirm that if I'm using the API to send a push notification. it works (which is what I need). If I fire a notification from your UI, it does not :( (but that doesn't really matter, as I need the API). thanks

[2016-06-29 06:42] andreibarabas commented on #52
I see! thanks for clearing that out for me. I've been bumping my head against this for a while now. Thanks

[2016-06-29 06:42] #52 closed, assigned to nobody

[2016-06-29 06:54] avishayil commented on #54
Are you sure? displays fine on my end, RN 0.28, Android.

[code]

[2016-06-29 09:19] whollacsek commented on #54
I didn't check on Android but it didn't work on iPhone device.

`idsAvailable` is not called because `NetInfo` is always returning false: https://github.com/geektimecoil/react-native-onesignal/blob/e279e9e7457446b7a6a21a730734703544831638/index.js#L154-L161

I downgraded to RN 0.27.2 and it worked. I guess we'll have to wait for more clarification from RN developers on the new behaviour of `NetInf

[2016-06-29 11:50] skycocker commented on #54
Fixed in https://github.com/geektimecoil/react-native-onesignal/pull/56, in the meantime you can use the changes from that PR to fix your local version.

[2016-06-29 12:20] avishayil commented on #55
Not clear why is this happening,
Can you please post your `android/build.gradle` file here?

[2016-06-29 13:42] #54 closed, assigned to avishayil

[2016-06-29 19:05] bendellarocco commented on #55
Sure, @avishayil
// Top-level build file where you can add configuration options common to all sub-projects/modules.

[code]

[2016-06-29 20:23] jkasten2 commented on #35
@avishayil If you include CoreLocation and the plist entries it should work. I am not sure I know what you mean by "OneSignalLocation files".

[2016-06-29 20:46] avishayil commented on #35
@jkasten2 what plist entries are you talking about?

[2016-06-29 22:51] jkasten2 commented on #35
@avishayil

[code]

http://matthewfecher.com/app-developement/getting-gps-location-using-core-location-in-ios-8-vs-ios-7/

[2016-06-30 06:03] avishayil commented on #35
@jkasten2 Tried doing that, says "No visible interface for promptLocation". My Objective-C is weak.

[2016-07-01 17:57] avishayil commented on #55
Couldn't replicate, but the only solution I can think of is to compile junit in your project.

[2016-07-01 19:10] bendellarocco commented on #55
I just removed the file and the issue resolved

[2016-07-01 19:25] avishayil commented on #55
More stable solution would be to compile junit, but I'm happy you figured it out yourself.

[2016-07-01 19:25] #55 closed, assigned to nobody

[2016-07-01 19:31] avishayil opened #57 "Notice & Help Request Regarding RN 0.29 Support"
In RN 0.29 fb changed the way RN libraries should be included in Android, and listen to application life cycle. I'm working right now on a solution for the migration, but I'd be happy to get some help from Android experts around here.

Version 1.1.9 would include all features and will support RN version < 0.29, while version 1.2.0 and up will support RN 0.29 and up. New features will be supported

[2016-07-01 20:16] jkasten2 commented on #57
@avishayil Can you link their doc?

The OneSignal native code is designed to handle either an Activity or Application Context already.

[2016-07-01 21:04] avishayil commented on #57
https://github.com/facebook/react-native/issues/8509

[2016-07-01 21:37] c-h- commented on #18
Same exact issue as @chrissm79

Edit: Solved by downloading the framework and linking it from the documented link rather than using the framework in the node_modules folder.

[2016-07-01 22:08] jkasten2 commented on #57
@avishayil
You can use `getApplicationContext()` instead.

[2016-07-01 23:06] avishayil commented on #57
Yeah, I'm trying that but I have problem using the notificationOpenedHandler, can't get it to work using the new life cycle.

[2016-07-02 07:11] avishayil commented on #18
You have the example project to reference and play with, please make sure
you're following all the orders, no errors should occur.
On Jul 2, 2016 12:37 AM, "Charles Hulcher" notifications@github.com wrote:

[2016-07-02 07:24] avishayil commented on #57
Migration process:
https://github.com/geektimecoil/react-native-onesignal/tree/RN-0.29

Couldn't seem to listen to Application lifecycle properly...

[2016-07-02 15:53] avishayil commented on #57
Nailed it.

[2016-07-02 15:53] #57 closed, assigned to nobody

[2016-07-02 20:53] maxs15 commented on #47
Unfortunately it wasn't the main cause of the issue, still having some problems, but I think I finally found the issue by digging in the docs:

Note about the OneSignalIdsAvailableBlock: (https://documentation.onesignal.com/v2.0/docs/ios-sdk-api#OneSignalIdsAvailableBlock)

We would have to find a way to ignore this first call..

[2016-07-02 21:06] maxs15 commented on #47
I don't see any way to differentiate:
- The call when you wait 30sec (userId populated, pushToken nil)
- The call when the user refused the push (userId populated, pushToken nil)

Maybe we could send the idsAvailable result as an event ? (We could declare it in the configure options)

[2016-07-02 22:42] avishayil commented on #47
Hi @maxs15 , that sounds reasonable.

Happy if you could help and setting up a PR for that, I'm currently busy on migrating to RN 0.29 and adding all the other functions for < RN 0.28 support.

Could you help out with this issue?

[2016-07-02 23:57] maxs15 commented on #47
sure @avishayil, I'll look at that

[2016-07-03 00:09] satya164 commented on #57
Note that listening to lifecycle events and `getCurrentActivity` has been supported in RN for quite a few versions. So it's not a breaking change for you.

[2016-07-03 06:07] avishayil commented on #57
Thanks @satya164 !, i'll definitely take a look on this.

[2016-07-03 20:24] #47 closed, assigned to nobody

[2016-07-04 07:21] avishayil commented on #53
@jkasten2 can you help on this?

[2016-07-05 08:09] jkasten2 commented on #35
@avishayil Can you confirm it is being called with an instance of OneSignal? I see it is included in the [OneSignal.h](https://github.com/geektimecoil/react-native-onesignal/blob/979a0f873c9c6a2cadd3e768e47b63b439fe0633/examples/AwesomeProject/ios/Pods/OneSignal/iOS_SDK/Framework/OneSignal.framework/Versions/A/Headers/OneSignal.h#L109) in the example project you have.

[2016-07-06 06:42] ch0992 opened #59 "OneSignal/OneSignal.h file not found"
when i build i got this error 'OneSignal/OneSignal.h file not found' in RCTOneSignal.h

can i fix it?

in my fold Headers i can't find OneSignal.h

so i was reinstall and linking onesignal library in xcode

but still i have this error

even i copy onesignal.h file to my Headers folder

but i can't solve this error.

how can i fix it?

---

i found this issue in closed issued

but i can't add this

[2016-07-06 22:52] avishayil commented on #59
You need to go to your Podfile file, located within the ios folder on the root of your project.
Add the line pod 'OneSignal' as follows:

[code]

Then go to terminal, go to the ios folder on the root of your project, then type `pod install` to install the pods. After that, make sure to drag `OneSignal.framework` from your Pods project on Xcode to the Frameworks folder on your Xcode workspace.

[2016-07-06 22:53] avishayil commented on #59
Since it's not a particular issue with the library i'm closing this now. If you have more questions, please don't hesitate.

[2016-07-06 22:53] #59 closed, assigned to nobody

[2016-07-07 05:31] ch0992 commented on #59
i success install.

thx for your advices.

but i got error that "symbol(s) not found for architecture x86_64"

however i solve that error now.

https://github.com/geektimecoil/react-native-onesignal/issues/18

helpful me.

[2016-07-07 06:42] avishayil commented on #59
You can follow the issue you referred to solve this. Just drag the framework file to the frameworks folder and make sure it's linked on your project build phases.

[2016-07-07 21:36] avishayil commented on #53
OneSignal SDK does not allow me to do that. Also, For my best understanding, there is no way to actually know if the user accepted the push notifications dialog or not. But, it's possible to check if the notifications are enabled at a later time.
Current work on progress:

[code]

When you'll ask for `OneSignal.isPushNotificationsEnabled` it should give you an answer if notifications are enabled o

[2016-07-07 21:40] avishayil commented on #35
@jkasten2 it is included there, but doesn't work.

[code]

![Error](http://i.imgur.com/magPXeG.png)

[2016-07-07 22:35] avishayil commented on #53
Well, I took some inspiration from `PushNotificationsIOS` and now https://github.com/geektimecoil/react-native-onesignal/commit/0b8e7e0a6a568edf569a4cff07f094ba5c1250e3 fixes that. You can't return a promise right now on the request permissions method, but you can check what permissions your device have, with a callback.

[2016-07-07 22:35] #53 closed, assigned to avishayil

[2016-07-11 13:25] edo1493 opened #60 "error: constructor ReactNativeOneSignalPackage in class ReactNativeOneSignalPackage cannot be applied to given types"
Hi guys,
I am getting this error when I try to install react-native-onesignal on Android.

This is followed by:
  required: Activity
  found: no arguments
  reason: actual and formal argument lists differ in length

I was wondering if I had to pass any arguments to the constructor in the MainActivity?

Edoardo

[2016-07-11 14:29] whollacsek commented on #53
Thanks!

[2016-07-11 17:45] avishayil commented on #60
Can you please put the stack trace?

[2016-07-12 06:22] edo1493 commented on #60
This is what I get:

[code]

[2016-07-12 06:34] avishayil commented on #60
Please install the latest package from NPM.

[2016-07-12 06:43] edo1493 commented on #60
@avishayil Yes, that was it. Thanks, I thought I had the latest.

[2016-07-12 06:57] avishayil commented on #60
Sure!

[2016-07-12 06:57] #60 closed, assigned to nobody

[2016-07-14 22:07] masterkrang opened #61 "how do i get / set the badge count?"

[2016-07-15 08:02] avishayil commented on #61
From OneSignal documentation:

`The OneSignal SDK automatically sets the badge count on your app to the number of notifications that are currently in the notification shade.`

https://documentation.onesignal.com/docs/android-notification-customizations

I think it's not possible atm.
Tagging @jkasten2 if he has any other toughts.

[2016-07-16 01:19] masterkrang commented on #61
@avishayil thanks for the response. I found a way to do this without using OneSignal, which is to use a combination of `PushNotificationIOS`, and these methods from here: https://github.com/zo0r/react-native-push-notification#ios-only-methods

[2016-07-16 01:22] masterkrang opened #62 "how do I stop OneSignal from resetting the badge count automatically?"
I am trying to maintain the badge count on the app icon until the user visits a specific section in my app. This section is in the TabBar and I want to bind the badge in the TabBar to the badge count. This is impossible if OneSignal clears the badge count automatically each time we receive notifications.

[2016-07-16 05:37] avishayil commented on #61
@masterkrang that's great! I'm wondering if it would be interesting enough to borrow this functionality from these libraries and create a manageable badgeanager manager using this library. Thoughts?

Anyway, it's not a library issue, so I'm closing this here.

[2016-07-16 05:42] avishayil commented on #62
From the docs:
https://documentation.onesignal.com/docs/android-notification-customizations
Try this, on your Android Manifest file:
`<meta-data android:name="com.onesignal.BadgeCount" android:value="DISABLE" />`
Not sure on iOS, though.

[2016-07-16 05:43] #61 closed, assigned to nobody

[2016-07-17 01:02] masterkrang commented on #62
sorry this question was for iOS and I found the answer https://github.com/OneSignal/OneSignal-iOS-SDK/issues/11

[2016-07-17 01:02] #62 closed, assigned to nobody

[2016-07-17 01:09] masterkrang opened #63 "How do you set the badge count programmatically?"
Since it isn't possible (as far as I know) to get/set the badge count programmatically in OneSignal, I've used this library https://github.com/zo0r/react-native-push-notification#ios-only-methods and this function: `PushNotification.setApplicationIconBadgeNumber(number: number)` to reset the badge count in my application in addition to using OneSignal.

However, when I make the call to `PushNotifi

[2016-07-29 14:32] lucasyalap commented on #19
If you don't want to use CocoaPods and correct follow this 2 steps
1. Add OneSignal.framework that is in ../node_modules/react-native-onesignal/ios/Frameworks/OneSignal.framework in YourProject > Build Phases > Link Binary With Libraries
2. Add "$(SRCROOT)/../node_modules/react-native-onesignal/ios/Frameworks" in YourProject > Build Settings > Framework Search Paths

[2016-07-30 16:20] radiegtya commented on #19
Aleready did this, but still error.

On Friday, 29 July 2016, lucasyalap notifications@github.com wrote:

[2016-07-30 18:12] lucasyalap commented on #19
Please can you show us :
- Screenshot of code error (again)
- YourProject > Build Phases >  Link Binary With Libraries
- YourProject > Build Settings > Framework Search Paths

Because normally if did what i said it works.

[2016-08-04 14:13] c-h- opened #66 "sendTags Docs"
I believe the sendTags docs need to be updated.

the following code on Android resulted in an error for me that the OneSignal native module expected a map but instead got 2 strings (e.g. native module only accepts the object format not two string arguments).

[code]

[2016-08-07 11:39] SamerGhantous opened #67 "onNotificationsRegistered event not fired"
when i have received a new notification the _onNotificationsRegistered function not fired

[2016-08-08 08:18] irvadt opened #68 "Set OneSignal app id programmatically."
Can I set OneSignal app id programmatically from my JS code? In my case I have to differentiate my app id between staging and production environment, and the environment is set in the JS portion of my app.

[2016-08-09 18:51] jkasten2 commented on #67
@SamerGhantous The function should only fire in two cases.
1. Notification is tapped on.
2. A notification is received while your app is in focus.

[2016-08-10 09:56] SamerGhantous commented on #67
@jkasten2 thanks for your answer,
I have tried and in the first case the onNotificationOpened event was fired and not the registered event,
and when the app is in focus no event is fired when a notification arrived at the device.
any help will be very helpful, thanks!

edit:
I'll explain a bit what I try to achieve, I want to know when the device has received the notification before the user open'

[2016-08-11 01:17] onchainguy-btc opened #69 "Android: enableNotificationsWhenActive not working"
Hi,

my problem is that `enableNotificationsWhenActive` does not seem to work as expected. It does actually toggle notifications in the notification center but `onNotificationOpened` is never called if I call `OneSignal.enableNotificationsWhenActive(false)`.

This is my manifest:

[code]

And this my index.android.js

[code]

Cheers

[2016-08-11 05:15] fernsheldon opened #70 "OnNotificationOpened not being called when app is killed or removed from memory/force-quit"
I went thru the documentation on GitHub, and understand that there is a small issue with iOS and OneSignal for ReactNative, where the notification is coming too fast.

But here my issue is that i believe the callback `onNotification` is not being called when the app isn't in the background.

[code]

This is the snipped of code that is supposed to run as a callback for when a notification is opened

[2016-08-11 10:00] onchainguy-btc commented on #69
Is there any way to debug functions from the OneSignal Android SDK in react native?

I assume that the problem is somewhere in:

[code]

[2016-08-12 01:26] weixiyen opened #71 "Compatibility with OneSignal SDK 2.0 (autoregister bug)"
autoregister is handled differently in SDK 2.0, via a settings dictionary I believe, so the app crashes.

For those having issues, update your podspec to this:
pod 'OneSignal', '1.13.3'

[2016-08-15 08:29] onchainguy-btc commented on #70
Could also be linked to #69

[2016-08-15 12:19] ghost commented on #71
Same here.

Hope for fast fix :)

[2016-08-15 13:10] germazing commented on #69
👍  Did someone have a look into this already? :-)

[2016-08-16 04:07] jkasten2 commented on #70
@avishayil I remember we had this issue a while back with #28 but I believe it was fixed. Could a recent change broken this?

[2016-08-16 08:11] SamerGhantous commented on #67
@jkasten2 I'm using react native 0.30.0

[2016-08-16 20:26] alejandrorbradford commented on #4
how does that work for iOS/Swift?

[2016-08-16 20:46] jkasten2 commented on #69
@seb0zz @neogermi There are no known issues with `enableNotificationsWhenActive` in the latest [OneSignal/OneSignal-Android-SDK](https://github.com/OneSignal/OneSignal-Android-SDK) 2.X.X native SDK release. Can you make sure you are using 2.6.2?

[2016-08-16 20:56] jkasten2 commented on #69
Just check one of our clients is on 2.6.2 of the native SDK and still having this issue with react native. @avishayil Can you take a quick look?

[2016-08-17 08:16] onchainguy-btc commented on #69
Took a look into our build log. The OneSignal version is definitely 2.6.2

[code]

Also took a look into logcat, the error message we get is:

[code]

[2016-08-17 17:52] kristojorg opened #72 "Fails with OneSignal Pod 2.0.8"
After updating my podfile, the native iOS code was causing a crash on launch.

This `initWithLaunchOptions` code block was causing the crash, and I couldn't seem to fix it:

[code]

Console output:

[code]

I have downgraded to 1.13.3, and it is now working as expected again.

[2016-08-17 19:38] JKalash commented on #72
Hi,

We've updated our native iOS SDK to 2.0.9 but have not propagated the releases into all the platforms we support yet. Will do a pull request fixing adding support to the latest SDK and fixing this issue.

[2016-08-17 21:07] JKalash commented on #63
Related: [Inconsistent Badge Count iOS](https://github.com/OneSignal/OneSignal-iOS-SDK/issues/57).

[2016-08-17 21:09] JKalash commented on #71
Working on creating a pull request for the fix. Stay tuned!

[2016-08-17 22:36] JKalash commented on #72
@kristojorg Temporary fix:
Replace **pod 'OneSignal'** with **pod 'OneSignal', '~> 1.13.2'** and run a **pod update**. Should restrict CocoaPods from fetching the latest OneSignal SDK version and rather get the 1.13.3 version which is compatible with the ios react-native wrapper.

[2016-08-17 22:37] JKalash commented on #71
@weixiyen @alexanderniebuhr Temporary fix:
Replace **pod 'OneSignal'** with **pod 'OneSignal', '~> 1.13.2'** and run a **pod update**. Should restrict CocoaPods from fetching the latest OneSignal SDK version and rather get the 1.13.3 version which is compatible with the ios react-native wrapper.

[2016-08-18 06:44] ghost commented on #71
Yeah. I know, but I think make it works with the newest version of the onesignal SDk is the goal :)

Thanks for your workaround and time

[2016-08-18 17:33] kristojorg commented on #72
I did that thank you very much @JKalash , please inform when the new version is out !

[2016-08-19 14:44] yogiben commented on #11
Should be added to readme.

Same goes for Google Play Services.

[2016-08-19 23:45] JKalash commented on #72
You're welcome. Here's the PR! https://github.com/geektimecoil/react-native-onesignal/pull/73

[2016-08-19 23:46] JKalash commented on #71
Here's the PR! https://github.com/geektimecoil/react-native-onesignal/pull/73

[2016-08-19 23:48] JKalash commented on #70
it may also be related to the fact that you're using 2.\* SDK on which is not yet supported (WiP, PR: https://github.com/geektimecoil/react-native-onesignal/pull/73)

Temporary fix meanwhile: Modify your podfile: change
**pod 'OneSignal'** to **pod 'OneSignal', '~> 1.13.2'**

[2016-08-21 08:02] avishayil commented on #72
We're currently testing the new version, which apparently solves this issue.

[2016-08-21 08:02] avishayil commented on #71
We're currently testing the new version, which apparently solves this issue.

[2016-08-21 08:02] avishayil commented on #70
We're currently testing the new version, which apparently solves this issue.

[2016-08-21 08:07] avishayil commented on #68
Hi,
Unfortunately, you can't do that :\ I'd recommend using two different OneSignal apps - one for staging and one for production. Then, use some build script to differentiate

[2016-08-21 08:07] #68 closed, assigned to nobody

[2016-08-21 08:08] avishayil commented on #66
Hi, Thanks for reporting this.
I'll have a look.

[2016-08-21 08:09] avishayil commented on #35
We're currently testing the new version, which apparently solves this issue.

[2016-08-21 19:01] fernsheldon commented on #70
@avishayil that awesome !  Thanks

[2016-08-22 13:57] davidianbonner opened #75 "Argument list too long"
Hi,

I recently came across an issue with archiving an iOS app due to the `Argument list too long: recursive header expansion failed`error. It was failing within the `react-native-onesignal/android/build/intermediate`directory.

Obviously not entirely related to this library, it was the additional paths under the `android` directory that triggered the issue for us. As the paths are expanded and at

[2016-08-24 19:38] almithani opened #76 "siot"

[2016-08-24 19:38] #76 closed, assigned to nobody

[2016-08-25 10:56] Izitable commented on #66
Hi, i believe the issue is an extra 's'.

Just tried on Android with success the following:
`OneSignal.sendTag("key", "value");`

[2016-08-28 02:45] bondanherumurti opened #77 "Nothing happened but..."
Hi Guys,

I have followed all the steps required to integrate with iOS currently this is my code on index.ios.js

[code]

actually all the console.log message is triggered on xcode log when a message sent from onesignal dashboard, but not a notification...

[code]

does this plugin require further integration with PushNotificationIOS?

Thank You

[2016-08-28 04:12] bondanherumurti commented on #77
no worries, it is working actually... i'm too dumb because i've always open the apps... it should be running on the background or closed

*facepalm

[2016-08-28 04:12] #77 closed, assigned to nobody

[2016-08-28 09:29] sercanov commented on #72
What about installs without pod ?

[2016-08-28 10:29] sercanov commented on #72
If the SDK manually configured, 1.13.3 could be downloaded from here,
https://github.com/OneSignal/OneSignal-iOS-SDK/releases/tag/1.13.3

[2016-08-29 23:22] avishayil opened #79 "Update AwesomeProject Example to latest RN and SDK's"
TODO: update the `AwesomeProject` example to React Native 0.32 with the OneSignal library, so every user can create an account, put the necessary account details and get it working.

[2016-08-31 06:32] avishayil opened #80 "Notice for users"
We're currently working on a big update to the latest SDK versions of OneSignal on iOS and Android.
In the meanwhile, Make sure that you're working on the 2.6.2 SDK version on Android, and 1.13.3 Pod version on iOS.

[2016-09-05 13:38] LCD344 commented on #67
@SamerGhantous - in my fork https://github.com/LCD344/react-native-onesignal I got the onNotificationsRegistered function working.

it's still a bit limited (it only works when app is in memory and haven't been force killed) - also I'm not maintaining the fork seriously - but if you want to see what's happening differently it could be a good place to check.

[2016-09-06 04:47] fernsheldon commented on #70
@avishayil @JKalash So I tried the "1.13.3" version of the pod.  I don't think it helped out.
Is there any work around, or an ETA for the new SDK ?

[2016-09-07 05:12] radiegtya commented on #19
Here is my screenshot, sorry for very late response, please help @lucasyalap:

<img width="1280" alt="onesignal_1" src="https://cloud.githubusercontent.com/assets/2161622/18300549/a75c15f6-74fc-11e6-8110-1a44fd22634a.png">
<img width="1280" alt="onesignal_2" src="https://cloud.githubusercontent.com/assets/2161622/18300551/a7bda5aa-74fc-11e6-9e95-8165bfd3faf2.png">
<img width="1279" alt="onesignal_

[2016-09-07 05:30] radiegtya commented on #19
RCTOnesignal.h already found. Now I have new problem, when using xcode:

<img width="1280" alt="onesignal_4" src="https://cloud.githubusercontent.com/assets/2161622/18300801/1a798d78-74ff-11e6-8804-f7891fa43b81.png">

While using cocoapod, I had different error message:

<img width="1280" alt="onesignal_5" src="https://cloud.githubusercontent.com/assets/2161622/18300819/4424b602-74ff-11e6-9374-6de

[2016-09-07 06:38] fgarci03 commented on #69
If you clear your app's data, does it start working again?

[2016-09-07 08:49] fgarci03 commented on #69
I have problems with this too. It has a "random-ish" behaviour.

For what I've noticed:
If I'm in app with enableNotificationsWhenActive(false), the notification does not appear on the status bar (as expected). If I quit the app, and get a notification, it does show up on the status bar (as expected).
If I open the app again, notifications start appearing on the status bar (not expected). It will

[2016-09-07 10:13] lucasyalap commented on #19
If you realy don't want to use pods, you have to remove all about pods
1.  In left panel remove pods project
2. In Left panel remove pods directory
3. in "YourProject > Build Phases > Link Binary With Libraries" remove libPods-OneSignal.a
4. "YourProject > Build Settings > Framework Search Paths" remove "$(PODS_ROOT)/OneSignal/IOS_SDK/Frameworks"

If you have any other errors please send screensho

[2016-09-07 11:47] radiegtya commented on #19
THanks a lot @lucasyalap, now all the error had gone.
And the user already registered on onesignal users list.
But ios simulator can't receive the push notif, I'll test tomorrow on real device and share with you if fail or success. Btw why don't author of this package suggest those simple step by step like yours rather than using pods? Regards

[2016-09-07 16:37] yogiben opened #81 "Android: tapping notification re-opens app"
When I tap on a notification, the app is re-opened.

This means the user sees splash screen even if app is open and still active.

I'd like the notification to switch to the active app opposed to re-open it. Is this possible?

[2016-09-07 21:45] jkasten2 commented on #81
@yogiben Make you have added `android:launchMode="singleTop"` to the activity in your `AndroidManifest.xml`. This noted towards the top of the readme guide.

[2016-09-08 15:34] yogiben opened #82 "OneSignal.setSubscription(true) fails on android"
I can successfully call

`OneSignal.setSubscription(false)`, but when I try to re-enable notifications, `OneSignal.setSubscription(true)` doesn't appear to work.

The web dashboard still shows 'No (User Opted Out)'

[2016-09-08 17:14] yogiben commented on #82
This seems to be an issue with the development server.

Could there be a cache to prevent multiple attempts to register a device?

[2016-09-08 17:16] yogiben commented on #81
I had to add it to every `<activity>` tag.

[2016-09-08 17:16] #81 closed, assigned to nobody

[2016-09-13 23:34] jamesearl opened #83 "Android Warning: Unhandled Promise Rejection"
Library causes this yellowbox warning when used after following the installation instructions. Only observed on Android.

`Possible Unhandled Promise Rejection (id: 0):`

[2016-09-14 20:27] tarunmarkose commented on #80
@avishayil Do you have an ETA for the new iOS SDK?

[2016-09-14 20:31] tarunmarkose commented on #67
@LCD344 I'm having an issue where onNotificationOpened is not being called when the app has been force killed and a push notification is tapped on. Do you know how I could fix this?

[2016-09-14 21:01] avishayil commented on #83
fixed with #84

[2016-09-14 21:01] #83 closed, assigned to nobody

[2016-09-14 21:03] avishayil commented on #80
No ETAs here, me and the OneSignal team are still trying to figure it out, just more patience :> I have a lot of work these days and couldn't find the time to keep working on this.

[2016-09-14 22:54] LCD344 commented on #67
Hi, yea, I encountered a problem with that. From my understanding what happens (I'm not an expert but that's the best explanation I managed to come up with) is that the android listener part doesn't fire when the app is killed - so what you need to do is try to get the app to start when you receive the notification.

To resolve this I had to override the notification creation of the onesignal file

[2016-09-15 06:46] tarunmarkose commented on #67
Hey @LCD344, thanks for taking the time to write this reply!

I should have mentioned though, that we are facing this issue on iOS...

On Thursday 15 September 2016, LCD344 notifications@github.com wrote:

##

-Tarun

[2016-09-15 12:46] LCD344 commented on #67
@tarunmarkose - lol...

Sadly, I don't even have a mac and an iphone to work with IOS (insert complains about apple making it hard for poor people to develop :P) - but I guess from my experience, the right thing to do would be to go to the original onesignal documentation, since this component is built on top of it.

[2016-09-15 12:48] tarunmarkose commented on #67
Haha! Thanks anyway!

On Thursday 15 September 2016, LCD344 notifications@github.com wrote:

##

-Tarun

[2016-09-15 13:12] LCD344 commented on #67
Keep me updated if you find a way, it will become useful once I port my app to ios

[2016-09-15 13:34] flobiwankenobi opened #85 "No badge count on iOS"
My App isn't showing a badge with unopened notifications.

Like I understood that OneSignal handles the count by itself, so I have nothing to pay attetion to, right? I implemented OneSignal by this [guide](https://github.com/geektimecoil/react-native-onesignal#ios-installation).

Any ideas?

![img_3725](https://cloud.githubusercontent.com/assets/239360/18551640/9349bc0e-7b59-11e6-9f76-69d6c98fffa0

[2016-09-22 06:38] fernsheldon commented on #85
@1ne8ight7even you should try setting the `ios_badgeType` and `ios_badgeCount`.
Check out the [API documentation](https://documentation.onesignal.com/docs/notifications-create-notification) for it.

If you are using the OneSignal console, it has the option to increase the badge count.

[2016-09-23 12:12] breadadams commented on #85
I _thought_ I was having the same issue, but then I noticed the following setting in the **Options** section of the **New Message** page:

![image](https://cloud.githubusercontent.com/assets/5795227/18785289/b4074918-8197-11e6-8d76-d0ee903f1bfd.png)

Using "Set to" or "Increase by" and entering a number in the field makes it display the badge count (and it's reset when notification is read), maybe

[2016-09-25 05:50] abdullah-dev11 opened #88 "Conflict react-native-maps with react-native-onesignal (android)"
Hello,

I did new installation with react native

react native onesignal is working great ... but when ever install react-native-map and call MapView component , app will get crashed

but if I use react-native-map without installing onesignal , map work fine

[2016-09-26 05:49] avishayil commented on #88
Take a look at https://github.com/geektimecoil/react-native-onesignal/issues/2

[2016-09-27 12:09] fernsheldon commented on #70
Hi @avishayil @JKalash  !

So we found out a workaround  to get the notification data even when the app is forced closed by double clicking the home button and swiping the app away.

This particular thread ,[8580](https://github.com/facebook/react-native/issues/8580) , proved to be super helpful.

Here is the relevant part:

In the AppDelegate.m

[code]

Then in your index.ios.js:

[code]

So whil

[2016-09-27 14:16] JonathanWi opened #89 "[Android] onNotificationOpened not called when app is on focus"
Hi!

As explained in the title, the onNotificationOpened callback is never called if the app is on focus, and I still receive the push notification (on Android). Everything works fine on iOS, but nothing I've done so far seems to work (enableInAppAlertNotification, configure in the index.android.js)...

What should I do?

[2016-10-01 05:18] BeauNouvelle commented on #4
@alejandrorbradford and anyone else getting here after a google search here it is for Swift:

[code]

[2016-10-09 22:34] gwleclerc commented on #89
Hi @JonathanWi,
I had the same problem, i looked in the source code and it seems that the documentation is wrong.

By default on Android, enableNotificationsWhenActive is set to **true**.
Try to add `OneSignal.enableNotificationsWhenActive(false);` on your index.android.js and it should work.

[2016-10-11 13:31] JonathanWi commented on #89
Thanks @gwleclerc !

Something really weird is happening: This behavior only works when I'm in dev mode?! How is that possible? any idea?

Cheers!

[2016-10-12 13:29] yogiben opened #91 "IOS: Delay requesting push notifications"
Is it possible to choose when to request push notifications?

I've read it's best practice to request only after the user is invested in the app

[2016-10-12 14:39] yogiben opened #92 "IOS: What needs to happen for device to receive notifications / be registered?"
I've successfully set up Android.

I've tried to do the same for iOS with a production .p12 cert. Seems to be working: I get the prompt and the code runs.

However, the device does not show up in the one signal dashboard.

The app has not yet been submitted to the app store. Does this mean that the device cannot be registered?

[2016-10-12 22:52] nickw commented on #91
@yogiben It looks like you can alter the method you pasted into `AppDelegate.m` and pass the `autoRegister:false` param:

[code]

[2016-10-17 10:05] note89 commented on #2
so the solution is to remove
`onesignal_app_id` ? Isn't that required to actually use the lib ?

[2016-10-17 15:41] note89 commented on #88
Any solution to this ?

[2016-10-17 16:54] note89 commented on #88
Gettings this, would really want to use OneSignal instead of SNS but its not working for me

[code]

[2016-10-17 16:55] note89 commented on #88
When i remove oneSignal everything works.

[2016-10-17 18:07] note89 commented on #88
i added this

[code]

Now i can start my app. Don't know how well it works yet thou

[2016-10-20 06:36] agumack opened #94 "IOS install not success!"
Hey,

I have problem when install onesignal for ios.
I don't know how fixed it .

Thank so much!
<img width="240" alt="screen shot 2016-10-20 at 1 33 41 pm" src="https://cloud.githubusercontent.com/assets/19372005/19548660/0e0504ea-96ca-11e6-9297-c4abe7457201.png">
<img width="227" alt="screen shot 2016-10-20 at 1 35 42 pm" src="https://cloud.githubusercontent.com/assets/19372005/19548679/22b1f0c4

[2016-10-20 22:25] note89 opened #95 "Different onesignal_app_id depending on environment"
I would like to have different `onesignal_app_id` depending on environment `production`/`develop`
I want to have this to have a debug environment to not send unexpected notifications to users while developing.

[code]

I have tried some different approaches but I'm not really sure what the `manifestPlaceholders` do.
i have something called `buildTypes` and it has three modes (debug, staging, relea

[2016-10-22 01:25] weixingsun opened #96 "[ios 10] js not fully loaded when cold starting app from push notification center"
Firstly, thanks for this great module, it works for android and ios when app is running / background.
But when I tried to cold start(no app running/background) the app from the notification center , my app stays in a white screen all the time, native code in AppDelegate.m is working:
didFinishLaunchingWithOptions //is triggered
[launchOptions objectForKey:UIApplicationLaunchOptionsRemoteNotificati

[2016-10-23 01:49] weixingsun commented on #96
after I changed my index.ios.js instead of the components imported, the js is loaded properly now.

[2016-10-23 01:49] #96 closed, assigned to nobody

[2016-10-24 23:51] jkasten2 commented on #95
@note89 You can try some of the suggestions in this issue.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/9

[2016-10-25 10:03] JonathanWi commented on #89
Hey, here's an update regarding this — still unresolved for me — issue:

## What's happening

Even with the `enableNotificationwhenActive` function, _I still get push notifications above the app._
There are two workarounds for this :
- Going to `Dev Settings` (by shaking the phone), and activating (or de-activating) `JS Dev Mode`.
- Sending the app in the background, and re-opening it.

Of course,

[2016-10-25 10:44] bucketclan commented on #94
Have you installed cocoa pods?

Check this [link](https://github.com/geektimecoil/react-native-onesignal/issues/59).

[2016-10-25 10:47] bucketclan commented on #82
Have you tried reloading the page several times, it shouldn't take more than a minute to refresh on the dashboard.

[2016-10-25 14:48] jfmyers opened #97 "iOS Integration Not Working"
Hi I'm having difficulties getting One Signal setup.

When I initialize the root view from a bundle url One Signal works fine.

[code]

However, I'm attempting to pick up changes in my react native bundle from an external source (AppHub) and so I'm initializing the root view with a bridge in the produciton app, like so:

[code]

When I do the above, OneSignal does not run (`onIdsAvailable` is neve

[2016-10-25 15:17] #97 closed, assigned to nobody

[2016-10-28 03:18] deepmehtait commented on #92
@yogiben : Make sure you are forking or some how initializing one signal setup function from React Native. Also make sure one signal ID is added in source code of ios.

[2016-10-28 21:09] spencercarli commented on #94
I had a similar issue as well. Ended up needing to remove the tests block from my Podfile so that it looked like this.

[code]

[source](https://github.com/spencercarli/react-native-onesignal-example/blob/master/ios/Podfile)

[2016-10-28 21:12] spencercarli commented on #91
Yeah after doing what @nickw mentioned you can then call the `registerPushNotifications` whenever it makes sense for your app.

Here's [an example](https://github.com/spencercarli/react-native-onesignal-example/blob/master/App.js#L27). Here's the [AppDelegate.m](https://github.com/spencercarli/react-native-onesignal-example/blob/master/ios/OneSignalExample/AppDelegate.m#L25) as well.

I touched on

[2016-10-29 13:34] psyzz opened #100 "postNotification contents and data format"
Hi,

i'm trying to user OneSignal.postNotification, but i didn't find an example for contents and data format:

OneSignal.postNotification(contents, data, player_id);

Do i need to set contents like { title: 'Title', message: 'Message' } ?

Thanks for your great work

[2016-10-31 09:10] yogiben commented on #82
@TheGermanGuy Yes, I tried this.

Sometimes there seems to be a delay, but other times not.

Closing as am no longer actively working on this.

[2016-10-31 09:10] #82 closed, assigned to nobody

[2016-10-31 09:14] yogiben commented on #91
Thanks @spencercarli @nickw

[2016-10-31 09:14] #91 closed, assigned to nobody

[2016-10-31 13:00] note89 opened #101 "Data is null on android"
Hi we have used onesignal with success for a couple of weeks but now Android only gets `null` as the data parameter in ```onNotificationOpened: (message, data, isActive) => {```

Looking for tips on how to debug this.
I have looked at the online interface and the `additional data` is there and it still works on IOS.
I recently upgraded to 0.36 don't know if this has anything to do with it. tried t

[2016-10-31 13:18] note89 commented on #101
It may have been connected to that i use `yarn` i did `rm -rf node_modules` `npm i` and now it works again.

[2016-10-31 13:18] #101 closed, assigned to nobody

[2016-11-01 08:31] avishayil commented on #100
Hi, you should follow OneSignal documentation for this:
https://documentation.onesignal.com/docs/android-native-sdk#section--postnotification-

Your'e basically passing the same parameters as here:
https://documentation.onesignal.com/reference#create-notification

`data` is responsible for the data you want to transfer.

I.E:

[code]

[2016-11-01 08:31] #100 closed, assigned to nobody

[2016-11-01 08:31] #95 closed, assigned to nobody

[2016-11-01 08:31] avishayil commented on #94
Let us know if you have any more problems.

[2016-11-01 08:31] #94 closed, assigned to nobody

[2016-11-01 08:33] avishayil commented on #92
Seems like an account issue rather than library issue. Either way, i'm tagging @jkasten2 and closing this.

[2016-11-01 08:33] #92 closed, assigned to nobody

[2016-11-01 08:33] #85 closed, assigned to nobody

[2016-11-01 08:34] avishayil commented on #89
@JonathanWi
Hi, we're closing to finish working upgrading this library to the new Android SDK, should resolve then.

[2016-11-01 08:34] avishayil commented on #80
Getting closer :>

[2016-11-01 08:34] avishayil commented on #88
Thanks for reporting @note89
Please let us know if you have any more problems.

[2016-11-01 08:34] #88 closed, assigned to nobody

[2016-11-01 08:36] avishayil commented on #75
Thanks @dbonner1987 , you did the right thing.
We'll clarify that in the documentation.

[2016-11-01 08:36] #75 closed, assigned to nobody

[2016-11-01 08:36] avishayil commented on #72
We're getting closer to upgrade this library to the new SDK, probably in a couple of days.

[2016-11-01 08:36] #72 closed, assigned to nobody

[2016-11-01 08:36] #71 closed, assigned to nobody

[2016-11-01 08:37] avishayil commented on #70
@fernsheldon thank you very much for all the efforts.
Update on the new SDK: It would be released in a couple of days, as we're getting closer.

[2016-11-01 08:37] #70 closed, assigned to nobody

[2016-11-01 08:39] avishayil commented on #69
@fgarci03
We'll just have to wait for the new SDK to see if it solves the issue, should be up in a couple of days.

[2016-11-01 08:39] #66 closed, assigned to nobody

[2016-11-01 08:39] avishayil commented on #67
@LCD344
It would work with the new SDK, should be out in a couple of days,

[2016-11-01 08:39] #67 closed, assigned to nobody

[2016-11-01 19:21] psyzz commented on #100
Thank you !

[2016-11-02 21:08] jkasten2 opened #102 "Required react native plugin 'invariant' missing"
The `invariant` plugin is required by this plugin but it isn't included a dependency or noted in the documentation.

[2016-11-03 13:16] avishayil commented on #102
Good catch.

[2016-11-03 14:33] avishayil commented on #102
https://github.com/geektimecoil/react-native-onesignal/blob/27687efeed5fe6322c859c2834edfc74280edb9b/package.json#L10

[2016-11-03 14:56] avishayil opened #103 "Beta testing of the new 2.0.0 release"
Hello everyone,
We need your help here to test the new release.
You can try it all right now by changing your `package.json` dependency to the following:
[code]

No changes needed on the native side, just make sure you're updating the `OneSignal Pod` to the latest one, and on the Javascript side your'e using the new variables.

Please discuss any issues your'e encountering in this thread until the

[2016-11-03 14:58] avishayil commented on #80
Closed in favor of #103

[2016-11-03 14:58] #80 closed, assigned to nobody

[2016-11-04 04:26] jkasten2 commented on #103
@avishayil I haven't been able to reproduce an issue with `inFocusDisplaying`. I see both required pieces are in the `dev` branch.
[RNOneSignal.java](https://github.com/geektimecoil/react-native-onesignal/blob/27687efeed5fe6322c859c2834edfc74280edb9b/android/src/main/java/com/geektime/reactnativeonesignal/RNOneSignal.java#L109-L112)
[index.js](https://github.com/geektimecoil/react-native-onesignal

[2016-11-04 05:24] jkasten2 opened #104 "Look into using react-native link to make setup easier"
There is a now a `react-native link` command built in to react native. Looks like this can be used eliminate some of the manual Xcode steps.

https://facebook.github.io/react-native/releases/0.35/docs/linking-libraries-ios.html

Note: Seems like `rnpm` was integrated into react as `react-native link`.

[react-native-fbsdk](https://github.com/facebook/react-native-fbsdk) maybe using this. However t

[2016-11-04 08:44] iamhainguyen commented on #103
I updated both the Pod and the module as suggested. However xcode showed me lots of errors:
![screen shot 2016-11-04 at 3 29 21 am](https://cloud.githubusercontent.com/assets/6934437/19999426/4f25ea4e-a240-11e6-9701-9c159676f305.png)

Commented them out let me run the app in ios normally. However, the rich notifications (ones with videos/ images) didn't work. Is rich notification supported in this

[2016-11-04 12:56] ccstorch opened #105 "Is there an option to ignore the launchURL?"
Hello!

I already setup everything and the notifications are working perfectly.
When I send a normal message without url and press on the notification, the mobile app is launched, which is what I want.

But the one signal account that it is sending the notification is also used on a chrome extension, so there is an url for a website configured on the params of the notification. So when the mobile

[2016-11-04 18:41] jkasten2 commented on #103
@hnguyen87 It looks like your using a 2.0 version of the `OneSignal.framework` but it isn't the newest 2.2.0. Can you make sure the method you used to get it gave you the most up to date version. Example you can run the following to update if you are using cocoapods.

[code]

You can contact OneSignal support listing your app_id and linking them this thread and we take a look at your account to co

[2016-11-04 21:49] avishayil commented on #103
@jkasten2 I've tested the most basic functionality of the iOS library and it works as expected (received, opened, idsAvailable, getTags, setTags).
I still need some testing for the p2p notifications and the rest of the functions, would love some help on this.

I still haven't figured out how to deal with the Android issue I have, can we schedule maybe a debugging session on TeamViewer?

[2016-11-04 21:51] avishayil commented on #104
@jkasten2 I would definitely love to have this on the next release. When we'll finish testing i'll have some read on how to do it.

[2016-11-06 09:34] avishayil commented on #105
@jkasten2

[2016-11-06 13:00] avishayil commented on #104
I just tried it, seems it does the linking almost perfectly correct.
Current workflow is:
- Android:
  - `react-native link react-native-onesignal`
  - Create Google Project and get server api key, sender id, app id
  - Update gradle to 2.1.0
  - Put the manifest placeholder in place.
  - the `link` command tries to import from `com.geektime.rnonesignalandroid.ReactNativeOneSignalPackage` instead

[2016-11-06 14:00] avishayil commented on #94
Another suggestion:
- Remove the `target 'AwesomeProjectTests' do` block from your Podfile.

[2016-11-06 19:42] avishayil commented on #104
Solved with https://github.com/geektimecoil/react-native-onesignal/commit/cdd4eba4463a710f3de080e535907c754e5a2808, will be easier on version 2.0.0.

[2016-11-06 19:42] #104 closed, assigned to nobody

[2016-11-07 08:07] #102 closed, assigned to nobody

[2016-11-08 22:02] jkasten2 commented on #105
@ccstorch @avishayil There isn't a way to disable the behavior for launch URL in the app. In your case you will need to send 2 separate notifications. One to just your Chrome extension with a launch URL set and another to your mobile app.

[2016-11-09 07:55] ccstorch commented on #105
No problem, thanks for the help @jkasten2!

[2016-11-09 07:55] #105 closed, assigned to nobody

[2016-11-09 10:43] ccstorch opened #107 "Nothing happens on iOS"
Hi!

I have configured for android and everything is working.
But for iOS I am not having the same luck.

I configured everything necessary, created a provision certificate, add the custom code to AppDelagate, added the push notification certificate on the onesignal dashboard... I have done everything that the docs are telling me to do (3 times), but nothing happens. There is no error, but the cal

[2016-11-09 16:06] mtt87 commented on #107
Not sure if it's related but I would try to put the OneSignal code inside the `<App />` element instead of `index.ios.js`

[2016-11-09 16:17] mtt87 opened #108 "Permission asked automatically when the app starts"
For some reason the popup asking permission for the push notifications is showing automatically when the app is opened for the first time even if I'm not calling OneSignal anywhere inside my JS code.
Is this the expected behaviour?
I'd like to be able to ask for permission inside the app at some point, not on the first loading (which is very bad).

Package version:
[code]
app.js
[code]

[2016-11-09 16:51] iamhainguyen commented on #103
@jkasten2 the dev works for me now. However it looks like the Rich Notification on iOS doesn't work. Would you please confirm it for me? Thanks very much for your hard work!

[2016-11-09 20:44] bendellarocco opened #109 "Android Badge Count Not Resetting"
I am having multiple reports of android users badge counts not resetting.  I am not seeing this issue on iOS.  I do not want to disable the badge numbers completely.  But is there a way to force reset them to zero when the app opens?  Maybe I missed a special android step to clear out the notification count.

[2016-11-09 21:40] bendellarocco commented on #109
will `OneSignal.clearOneSignalNotifications();` reset them?

[2016-11-10 20:09] jkasten2 commented on #109
@bendellarocco Can you ensure your app has 2.5.0 or later of the native Android SDK? There was a badge syncing issue fixed in this version.
https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/2.5.0

[2016-11-15 16:27] avishayil commented on #107
@jkasten2

[2016-11-15 18:05] ccstorch commented on #107
Apparently it was some configuration I did on the local environment.
I publish to the app store and it is working.

I still don't know what is the problem, I was using a specific credencial for the local development.
But I'm closing the issue since it is working on the production environment.

[2016-11-15 18:05] #107 closed, assigned to nobody

[2016-11-15 22:22] psyzz opened #110 "postNotification with ios_badgeType & ios_badgeCount"
Hello,

is it possible to use postNotification with ios_badgeType & ios_badgeCount ?

i'm trying to add it to contents, data but doesn't increase the badge account, in fact no badge appears on my App icon :(. The notification workd.

OneSignal.postNotification(contents, data, player_id);

[2016-11-15 22:29] jkasten2 commented on #103
@hnguyen87 iOS 10 have some additional requirements, see our [Notifications with action buttons or iOS 10 media not displaying](https://documentation.onesignal.com/docs/troubleshooting-ios#section-notifications-with-action-buttons-or-ios-10-media-not-displaying) troubleshooting guide to make sure everything is enabled.

[2016-11-16 05:46] iamhainguyen commented on #103
@jkasten2 thanks very much for your help. However it just works for me with images, doesn't work with video or gif. Do you know what may cause it? Thanks

[2016-11-16 10:49] mtt87 commented on #108
Anyone here can give me some hint to where to start debugging? (given the fact that I'm not iOS dev but JS dev, I'm not much familiar with Xcode/Swift/Obj-c)

Thank you

[2016-11-16 19:20] jkasten2 commented on #103
@hnguyen87 Make sure you URL's end with a file extension so the SDK can tell what type of file it is.
If this isn't the issue can you share the git/video URLs you are trying?

[2016-11-19 07:02] binaryfoundry commented on #89
I also have this problem on Amdroid and can't find any work around for it. The app is not considered active until sending it to the background and then focused again.

[2016-11-19 13:42] psyzz commented on #108
@mtt87 in your AppDelegate.m: add "autoRegister: false":

[code]

then in your js when you want to ask permission:

[code]

[2016-11-20 12:01] forki opened #111 "Example for P2P Notifications"
https://github.com/geektimecoil/react-native-onesignal#post-notification-peer-to-peer-notifications

I'm trying to send notifications from within my app, but can't get it to work. Is there a sample somewhere?

[2016-11-20 18:01] mtt87 commented on #108
@arshavinho seems like it worked, the permission is now asked when I trigger
`OneSignal.registerForPushNotifications();`

I do a double check and see if the notifications are working fine and then I think I can add this to README since it's never mentioned.

[2016-11-21 00:28] psyzz commented on #111
https://github.com/geektimecoil/react-native-onesignal/issues/100 :)

[2016-11-21 09:45] mtt87 commented on #108
Confirmed! Works like a charm adding `autoRegister: false`! 👍

[2016-11-21 09:52] forki commented on #111
thx. since it'S FAQ I put it in readme: https://github.com/geektimecoil/react-native-onesignal/pull/112

[2016-11-22 09:53] forki opened #114 "Is there a way to send broadcast messages from the client"
Is there a sample?

[2016-11-24 20:39] theobouwman commented on #104
@avishayil I'm facing the issue that it's pointing to `com.geektime.rnonesignalandroid.ReactNativeOneSignalPackage` instead of `com.geektime.reactnativeonesignal.ReactNativeOneSignalPackage`
How can I fix this?

[2016-11-24 20:49] avishayil commented on #104
It was fixed by changing the package name, on the dev branch.

On Thu, Nov 24, 2016, 22:39 Theo Bouwman <notifications@github.com> wrote:

--

[image: --]

Avishay Bar
[image: https://]about.me/avishayb
<https://about.me/avishayb?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2016-11-26 16:17] afdalwahyu commented on #103
does it works with `react-native link` command?
btw can i change `onesignal_app_id` & `onesignal_google_project_number` in .js file?

[2016-11-26 16:52] avishayil commented on #103
1. Yes it should work.
2. Unfortunately, you cannot.

On Sat, Nov 26, 2016, 18:18 Afdal Wahyu <notifications@github.com> wrote:

--

[image: --]

Avishay Bar
[image: https://]about.me/avishayb
<https://about.me/avishayb?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2016-11-30 15:40] bitcoinvsalts commented on #114
very good question

[2016-12-01 04:13] LawanyaD commented on #18
I also have this problem but don't know how to solve it

ld: warning: ignoring file /Users/apple/Desktop/Camera/XCTest.framework/XCTest.tbd, missing required architecture x86_64 in file /Users/apple/Desktop/Camera/XCTest.framework/XCTest.tbd (3 slices)
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_XCTestCase", referenced from:
      _OBJC_CLASS_$__TtC6Camera11toucanTests in toucanTes

[2016-12-01 06:45] anttitakalahti opened #115 "How do I send silent notifications on Android?"
Do you plan to add support for silent notifications?

I would love to send notifications to the App to tell it to reload the data like it works on iOS with empty data and content_available=true

I asked about it from OneSignal and I got a reply from them:
"You can follow our Background Data and Notification Overriding guide for Android silent notifications but this can only be used with Native Jav

[2016-12-01 07:09] anttitakalahti commented on #115
perhaps my real issue is that the onNotificationOpened does not fire when sending an empty notification to android. it works fine on iOS when also sending content_available: true

[2016-12-01 08:43] bondanherumurti opened #116 "passing send_after on postNotification function?"
How do i set send_after on postNotification function?

[2016-12-01 14:36] bitcoinvsalts commented on #66
+1 still there: OneSignal.sendTags("key", "value");

[2016-12-01 19:44] bitcoinvsalts opened #117 "OneSignal.sendTag successful but it does not change the tags at onesignal"
I run OneSignal.sendTag and verify the tags are changed with

        OneSignal.getTags((receivedTags) => {
          console.log(receivedTags);
        })

I can see it did the change

but when I look at https://onesignal.com/apps/axbe-2axxxa4-4c9d-a1b3-38d630926927/players

the tags did not change.

It works fine with ios but not with android.

[2016-12-02 22:48] jakeatwork commented on #18
i'm on react-native 0.37 and here's how i was able to get this to work (i think the readmes/documentation are slightly behind react native).

1. on a clean branch with none of the onesignal work...
2. run `npm install react-native-onesignal --save`
3. run `react-native link`
4. for iOS follow the podfile instructions (be sure to follow the react native version note carefully)
5. for iOS follow the

[2016-12-02 22:49] jakeatwork commented on #59
i'm on react-native 0.37 and here's how i was able to get this to work (i think the readmes/documentation are slightly behind react native).

1. on a clean branch with none of the onesignal work...
2. run `npm install react-native-onesignal --save`
3. run `react-native link`
4. for iOS follow the podfile instructions (be sure to follow the react native version note carefully)
5. for iOS follow the

[2016-12-02 22:50] jakeatwork commented on #19
i'm on react-native 0.37 and here's how i was able to get this to work (i think the readmes/documentation are slightly behind react native).

1. on a clean branch with none of the onesignal work...
2. run `npm install react-native-onesignal --save`
3. run `react-native link`
4. for iOS follow the podfile instructions (be sure to follow the react native version note carefully)
5. for iOS follow the

[2016-12-05 07:22] Adesh commented on #96
@weixingsun can u elaborate it further. I am seeing the white screen after opening the notification when the app is killed.

[2016-12-05 08:00] Adesh opened #119 "IOS - Frozen white screen after opening the notification from the killed state"
Notifications work correctly while opening it when the app is in the background state.
However doing the same when the app is killed makes the UI unresponsive and the white screen appears. (in android everything works perfectly)

[code]

[2016-12-05 22:35] deepmehtait commented on #115
@anttitakalahti : onNotificationOpened is not fired on android when we get notifications. It only gets fired up when we click on actual notifications. Any one planning to implement this silent notification? I am looking for someone who can help me out in implementing silent notifications.

[2016-12-08 13:56] anttitakalahti commented on #115
I would love to hear someones comment on this. Is this an issue with react native or what? I don't see any reason why this should filter out notifications where content is empty (from RNOneSignal.java):

https://github.com/geektimecoil/react-native-onesignal/blob/master/android/src/main/java/com/geektime/reactnativeonesignal/RNOneSignal.java#L150

[2016-12-11 06:38] elmato commented on #117
I'm running into the same problem on android.

[code]

The OneSignal.getTags function returns the tags ok, but they don't appear in the onesignal dashboard.

It is ok to call **sendTags** inside the **onIdsAvailable** callback?

@jsappme can you post your details on when are you calling sendTags?

[2016-12-11 14:35] bitcoinvsalts commented on #117
If you change one tag you need to use sendtag() instead of sendtags().

Hervé

[2016-12-16 12:03] senorgeno opened #120 "Is there a way to run code when notification is received?"
I need to sound an alarm when the app receives a notification and the app is in the background/phone is on lock screen. Would there be a way to do this? I was looking at the One Signal docs and saw this - https://documentation.onesignal.com/docs/ios-native-sdk#section--oshandlenotificationreceivedblock-

Would it be a matter of exporting this callback?

[2016-12-16 22:47] Abonive opened #121 "[Android] Notifications not delivered when phone locked."
I get notification when the app is running. But when i lock the screen the notifications are not delivered. Can I configure it to get notifications on when the screen is locked?

[2016-12-17 03:11] jkasten2 commented on #121
@Abonive Can you list the Android version and device model?

Please see the following guide as well.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown

[2016-12-18 08:02] cyclops24 commented on #104
@avishayil when version 2 will release?

[2016-12-18 08:15] #111 closed, assigned to nobody

[2016-12-18 08:33] avishayil commented on #104
Unfortunately, that's not up to me. I'm waiting for the OneSignal guys to
solve a bug in Android before releasing the dev branch.

On Sun, Dec 18, 2016, 10:02 Ba Ba K <notifications@github.com> wrote:

--

[image: --]

Avishay Bar
[image: https://]about.me/avishayb
<https://about.me/avishayb?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2016-12-19 08:48] stillalive commented on #119
+1 on this issue.

@Adesh you found any workarounds?

[2016-12-21 09:07] dvolland commented on #89
Same very annoying problem. Would be great to have a fix. Any update on this?

[2016-12-21 13:34] Adesh commented on #119
@stillalive not yet.

[2016-12-21 20:04] theobouwman opened #122 "Error on start"
When initializing with this code it throw me `Possible Unhandled Promise Rejection (id: 0):
_this.onError is not a function`.
[code]
Plz someone help

[2016-12-22 08:21] kiranraj2k opened #123 "'RCTOneSignal.h' file not found"
Xcode: 8.2.1
macOS: 10.12.2
react-native: 0.39
react-native-onesignal: 1.2.3
![screenshot](https://cloud.githubusercontent.com/assets/20181550/21419455/b0f59674-c84d-11e6-94a2-273d7a86dfaa.png)

What am I possibly missing?

[2016-12-22 12:16] IronTony opened #124 "Linking error on Xcode 8.1"
Hi all,
I created an RN 0.39 and added your library following the tutorials.
Unfortunately when I compile the app I got these problems:
<img width="262" alt="screen shot 2016-12-22 at 12 53 45" src="https://cloud.githubusercontent.com/assets/3645225/21425309/b0655d2a-c848-11e6-94e8-e2666451759b.png">

Here is how I added everything:
<img width="260" alt="screen shot 2016-12-22 at 12 54 05" src="ht

[2016-12-22 12:25] IronTony commented on #124
Possible solution:
Add -lc++ in Other Linker Flags in Linking in Build Setting

[2016-12-22 12:34] #124 closed, assigned to nobody

[2016-12-22 14:15] Etheryte commented on #123
You missed the following line in the [readme](https://github.com/OneSignal/react-native-onesignal/blob/master/README.md#ios-installation):

[2016-12-22 16:40] #123 closed, assigned to nobody

[2016-12-25 02:43] readelobdill commented on #100
Hey there,

Does this library currently support `headings` parameter as outlined in OneSignal create notification documentation?

[2016-12-25 11:54] josquiroz6 commented on #75
Hello, I tried to change the search path, but it didn't work out. Could you please let me know the reason?

[2016-12-26 13:32] bitsal commented on #121
I have the same issue.
Android 5.0.2, Xaiomi Mi4i, auto-start configured properly based on doc you shared.

Even when my device is not locked, the application is not running.

[2016-12-27 16:20] Abonive commented on #121
My bad, i haven't read find the part in onesignal docs. Solved

[2016-12-27 16:20] #121 closed, assigned to nobody

[2016-12-27 18:45] bitsal commented on #121
@Abonive does it work for you in case the app is not opened?

[2016-12-27 18:48] Abonive commented on #121
Well, when you once open app it works even when the app isn't active but app has to be working in the background.

[2016-12-27 20:36] bitsal commented on #121
@Abonive it's clear but what about use case when the app is closed. Won't it work at all or are there any dancing with settings? Or probably it doesn't work only with react native and works for native Android or iOS application. Any thoughts?

Thank you in advance!

[2016-12-28 10:26] Abonive commented on #121
I haven't looked into that, that much. But i wonder too if you can make it listen for notifications when the app is totally closed.

[2016-12-28 10:28] bitsal commented on #121
@jkasten2 do you have any answer?

[2016-12-29 15:36] adwidianjaya opened #125 "settings.gradle - react-native-onesignal projectDir is not included"
I got strange error while running react native app by executing react-native run-android.

[code]

I double checked the content of my settings.gradle:
[code]
But I still got the same errors. I have no idea.
Did I do any mistake? I ended up copying project files, and added 'com.google.android.gms:*' and 'com.onesignal' into build.gradle, manually.

[2016-12-30 05:16] adwidianjaya commented on #125
Whoops, it's my mistake. I forgot to add compile ':react-native-onesignal' into android/app/build.gradle.

[2016-12-30 05:16] #125 closed, assigned to nobody

[2016-12-30 07:07] mdgozza commented on #124
Hey IronTony, how did you solve this issue? I have -lc++ in my Flags but am having the same issue.

[2016-12-30 18:10] IronTony commented on #124
Hey @mdgozza sorry for the late, I don't have the mac with me now. I will answer you back asap

[2016-12-30 18:13] mdgozza commented on #124
Thanks for getting back to me!! Actually I just figured it out about an hour ago. I needed to add the flag to the other linker flags of the Tests and not the project, thanks again!!

[2016-12-30 18:15] IronTony commented on #124
Glad you fixed.

[2017-01-01 17:57] pabloppp opened #126 "[Question] Local notifications - Persistent notifications - Reply in notification"
### Persistent notifications
I'd like to know it there would be a way to make persistent notifications using this API, so for example:
- In Whatsapp, when I receive 2 notifications from 2 different chats they get stacked. If you click on the stacked notification it doesn't get removed from the notification drawer on the phone, but instead the app is opened and I see the list of the chats, highligh

[2017-01-02 02:38] mnmeyers opened #127 "`RCTOneSignal.h file not found` build error"
I know this is a common issue but I tried everything many times and I keep getting the same error, not sure what to try next.

![image](https://cloud.githubusercontent.com/assets/10369508/21584110/323382dc-d050-11e6-9c59-1071a3c20bf4.png)

![image](https://cloud.githubusercontent.com/assets/10369508/21584122/a984668a-d050-11e6-8b65-954d9b699736.png)

![image](https://cloud.githubusercontent.com/as

[2017-01-03 05:52] mnmeyers commented on #127
I upgraded to beta version of react-native-onesignal and v 2.2.0 of OneSignal pod, same issue still persists

[2017-01-05 09:36] adrianha opened #129 "Error when installing react-native-onesignal"
HiHi,
I'm using react-native v0.38.0 and react-native-onesignal v1.2.3.. I got this error when rebuild the app.
![Error message](https://cloud.githubusercontent.com/assets/5382429/21675624/16846980-d365-11e6-8213-d992787a5b35.png)
What did i miss?

[2017-01-05 18:28] Lepozepo opened #130 "Support for RN 0.40"
As expressed [here](https://github.com/facebook/react-native/releases/tag/v0.40.0) all packages are now incompatible with 0.40. Any chance for an update?

[2017-01-06 23:48] GeoffreyPlitt opened #133 "OneSignal/OneSignal.h file not found"
Hi - the previous issue for this was closed, so I'm starting a new one.

I'm on RN 0.39, and I did 'react-native-link' as well as following every instruction from the README, but we do not use Pods, so I don't have any Podfiles to update. How do I do this without Podfiles?

Still getting the error above.

[2017-01-07 00:02] GeoffreyPlitt opened #134 "cannot find symbol "ReactNativeOneSignalPackage""
I'm on RN=0.39 and I've installed many other libraries flawlessly, for iOS and Android.

I did "react-native link" as well as followed all the instructions in the README.

I'm getting the error below, please advise.

[code]

[2017-01-07 14:34] morelazers commented on #134
Seconded, I managed to solve this by doing:
- `npm install --save react-native-onesignal`
- `react-native link react-native-onesignal`
- Change the import in `MainApplication.java` to be `import com.geektime.reactnativeonesignal.ReactNativeOneSignalPackage;`

[2017-01-09 06:08] arhmnsh opened #135 "OneSignal AppId format is invalid."
I am getting this error while running Android app. Cannot receive any notifications.
iOS works fine though.

my build.gradle configs:
<img width="598" alt="screen shot 2017-01-09 at 9 09 39 am" src="https://cloud.githubusercontent.com/assets/1363724/21758321/903de394-d64b-11e6-873c-e794cd893bdf.png">

[code]

[2017-01-09 07:05] #135 closed, assigned to nobody

[2017-01-09 17:19] arhmnsh opened #136 "onNotificationOpened doesn't get fired on Android"
URGENT ISSUE

Guys please help,
When Android app is in background and receives notification, `this.setState` to update state inside `onNotificationOpened` doesn't get fired. Even an alert doesn't work.
But it works fine when the app is in foreground.
What I observed is the functions inside `onNotificationOpened` are getting fired before the app initializes, as seen from the Android Studio logs:

`

[2017-01-09 22:21] GeoffreyPlitt commented on #133
Anyone have a suggestion without Podfiles?

[2017-01-10 10:44] congnguyen91 commented on #119
I think the device event isn't called because listener events doesn't add when app kill & open again (guess). Should check if listener events have been added or not..

[2017-01-10 13:30] martwetzels commented on #134
In your MainApplication.java replace` import com.geektime.rnonesignalandroid.ReactNativeOneSignalPackage;` with `com.geektime.reactnativeonesignal.ReactNativeOneSignalPackage`. Make sure that the old import is gone. (This was my issue initially)

[2017-01-11 04:35] arhmnsh commented on #136
I have created a new project, but still getting the same issue.
I have uploaded the project which just contains OneSignal for Android configured: https://github.com/arhmnsh/MarcomJo/tree/master

Error I am getting in the above project:
<img width="1425" alt="screen shot 2017-01-11 at 7 29 56 am" src="https://cloud.githubusercontent.com/assets/1363724/21835732/68b4737a-d7d0-11e6-805b-734f09d36ef4.p

[2017-01-11 04:47] congnguyen91 commented on #119
When app killed: Maybe the thread setBridge function in RCTOneSignal.m doesn't run.
remoteNotificationOpened  / handleRemoteNotificationReceived doesn't fire
 => handle something in didReceiveRemoteNotification
+ (void)didReceiveRemoteNotification:(NSDictionary *)dictionary {
   // Keeping empty method around so developers do not get compile errors when updating versions.
}

[2017-01-11 21:52] DibPuelma commented on #89
Same problem here, onNotificationOpened gets called only after I select "Reload" after shaking the phone.

[2017-01-12 11:07] Kowaio opened #138 "Android Notification icon customization"
Hi guys,

I'm struggling trying to customize the notification icon using react-native and your package. Indeed, I'd like to be able to change the accent color of the icon but I didn't find a clue about that yet. The official documentation is giving some code to do that in java but installing your react native package and their java sdk is conflicting so I'm in a dead-end. Did you encounter this is

[2017-01-12 17:38] bitcoinvsalts opened #139 "'RCTBridgeModule.h' file not found"
I am getting this xcode error:
RCTOneSignal.h:1:9: 'RCTBridgeModule.h' file not found

any idea why?

I am using xcode 8.2.1 and rn 0.38.0

here is my podifle:
[code]

[2017-01-12 23:01] eriksape commented on #133
adding the framework search paths with the value

[code]

and adding the OneSignal.framework that is including in this package to the project on xcode

[2017-01-13 08:05] avishayil commented on #136
Please try version 2, which uses updated SDK and let me know if the problem persists.

[2017-01-13 08:07] arhmnsh commented on #136
Thanks for the reply @avishayil
But I don't see v2 in releases.

[2017-01-13 08:09] avishayil commented on #136
Just published to NPM.

[2017-01-13 08:09] avishayil commented on #134
Newest version solves this problem and support react-native link out of the box.
Thanks for reporting!

[2017-01-13 08:09] #134 closed, assigned to nobody

[2017-01-13 08:10] avishayil commented on #130
Will be solved with #131

[2017-01-13 08:12] avishayil commented on #138
Hi,
Please follow the instructions here:
https://documentation.onesignal.com/docs/customize-notification-icons

[2017-01-13 08:13] avishayil commented on #129
Solved on version 2.
Please try it and let me know if you have any trouble.
Thanks!

[2017-01-13 08:13] #129 closed, assigned to nobody

[2017-01-13 08:14] avishayil commented on #127
Do you still encounter this issue?
Are you sure you're using the latest version and pod as mentioned in the docs?

[2017-01-13 08:14] avishayil commented on #117
Thanks for clarifying that :>

[2017-01-13 08:14] #117 closed, assigned to nobody

[2017-01-13 08:16] avishayil commented on #122
Not sure this is related to this library.
Can you upload the stack?
Closing this issue in the meanwhile.

[2017-01-13 08:16] avishayil commented on #120
Of course, you have the `onNotificationReceived` method.

[2017-01-13 08:16] #120 closed, assigned to nobody

[2017-01-13 08:17] avishayil commented on #110
I think it's not currently possible, but we'll consider this.
Thanks!

[2017-01-13 08:17] #110 closed, assigned to nobody

[2017-01-13 08:18] avishayil commented on #119
Please try upgrading to version 2 and see if the problem persists?

[2017-01-13 08:18] #109 closed, assigned to nobody

[2017-01-13 08:18] #35 closed, assigned to nobody

[2017-01-13 08:19] Kowaio commented on #138
Hi @avishayil,
Thanks for your answer. Yes I already used this page of the documentation to generate the icons and add them into my project with the `ic_stat_onesignal_default` name, and it's working properly. However, icons are white with a transparent background. I wanted to add some blue color as background programmatically for those who can display it, using accent color.

For instance Batch i

[2017-01-13 08:19] #69 closed, assigned to nobody

[2017-01-13 08:19] #79 closed, assigned to nobody

[2017-01-13 08:19] #103 closed, assigned to nobody

[2017-01-13 08:19] #108 closed, assigned to nobody

[2017-01-13 08:19] #89 closed, assigned to nobody

[2017-01-13 08:19] avishayil commented on #89
Solved with version 2

[2017-01-13 08:20] avishayil commented on #116
Can you please re-phrase your question? not sure I understand what you mean.
Please tell me if you still have any issues.

[2017-01-13 08:20] #116 closed, assigned to nobody

[2017-01-13 08:21] avishayil commented on #126
That's a good questions.
Maybe @jkasten2 will elaborate.

[2017-01-13 08:22] avishayil commented on #115
It is a feature that currently not available using the current SDK.
We'll consider adding this in the next versions if the RN platform allows it.
Thanks!

[2017-01-13 08:24] avishayil commented on #114
Duplicate of #115

[2017-01-13 08:24] #114 closed, assigned to nobody

[2017-01-13 08:32] pabloppp commented on #126
Thanks for bringing this up @avishayil
I am going to add another couple questions:

In android 7 the notification grouping works a little bit different, You can expand a grouped notification to show the full list of notifications and you can press on each of them separately, this brings 2 questions:
- If you press on a notification in a group, only that one is cleared, but what if I want to clear

[2017-01-13 08:35] avishayil commented on #126
I didn't had the chance to check this feature on a real device yet, but i'll try to do so in the next week.
I hope i'll have better answers for you by then.

[2017-01-13 08:37] avishayil commented on #139
Are you sure you're using the latest version and pod as mentioned in the docs?

[2017-01-13 10:46] anttitakalahti commented on #115
Thanks Avishay! I really hope that you will support this soon. It works great on iOS and I can refresh the Customer View without disturbing them and without needing to poll for new data.

[2017-01-13 17:45] bitcoinvsalts commented on #139
yes I do

[2017-01-13 22:26] DibPuelma commented on #136
The problem persists. I have followed de guide to install one signal for android, copied this:

[code]
And only the onNotificationReceived is called. I still don´t get the logs to print after I click on the notification and open de app

[2017-01-14 10:35] #130 closed, assigned to nobody

[2017-01-14 14:14] nilsers commented on #127
Hi!

I'm having the same issue and I have installed the pod as mentioned in the docs.

The build fails with error:

    AppDelegate.h:11:9: fatal error: 'RCTOneSignal.h' file not found
    #import <RCTOneSignal.h>

I'm using pod version 1.1.1 and Xcode Version 8.2.1 (8C1002) on a macOS 10.12

I have uploaded a demo React Native project which has this issue to my repo [onesignal-issuedemo](https://

[2017-01-15 00:13] mnmeyers commented on #127
yes I still have this issue. I'm using one signal pod 2.2.0. pod version 1.1.1. , mac osx 10.11.6

react-native-onesignal version: git://github.com/geektimecoil/react-native-onesignal.git#dev

react-native version 0.35.0

[2017-01-15 13:13] arhmnsh commented on #136
Any updates on this guys?

[2017-01-15 19:25] derdawid opened #140 "onIdsAvailable never fired on IOS"
I believe my installation for ios works correctly as after launching the app I see the users in OneSignal panel. Also sending the test push notification from OneSginal backend works fine.

What doesn't work is firing onIdsAvailable function. I want to send these parameters to my server as well in that function. I'm debugging on the USB-connected device  with Remote JS Debugging enabled.

Here how

[2017-01-16 09:06] johnsonsu commented on #139
What's the version of `react-native-onesignal` you using? The one in your `package.json`. I think you should be using `^2.0.0`.

[2017-01-16 12:13] gplopes commented on #133
I'm also looking for how I could install it without Pods... is there some doc for it?

[2017-01-16 12:50] eriksape commented on #133
@gplopes try what I commented before, i did that and i do not use pods 👍

[2017-01-16 13:12] gplopes commented on #133
@eriksape thanks for answering, I added the path as you mentioned but I'm still getting
`#import <OneSignal/OneSignal.h>` file not found.
I'm using

"react-native": "0.36.1",
 "react-native-onesignal": "2.0.0",

[2017-01-16 13:52] eriksape commented on #133
@gplopes and added the OneSignal.framework to the project?

if you did it well you would see the linked lib

![image](https://cloud.githubusercontent.com/assets/1754290/21985520/b8562cf4-dbc0-11e6-90a7-4c9308e441b1.png)

[2017-01-16 13:55] gplopes commented on #133
@eriksape, yes, here are the screenshots of xcode.

![screen shot 2017-01-16 at 2 54 17 pm](https://cloud.githubusercontent.com/assets/6972610/21985587/c28528ac-dbfb-11e6-8051-0e2cea6884ef.png)

![screen shot 2017-01-16 at 2 53 26 pm](https://cloud.githubusercontent.com/assets/6972610/21985591/c6e3e33e-dbfb-11e6-8a9b-a23fb8342ae8.png)

[2017-01-16 15:40] adrianha commented on #129
![I got this error message](https://cloud.githubusercontent.com/assets/5382429/22006025/6a7307d4-dc9a-11e6-9fa8-7aa40a4de191.png)
Hi @avishayil ,
I got another problem when using react-native-onesignal@3.0.0.
it raises an error when importing this "import com.geektime.reactnativeonesignal.ReactNativeOneSignalPackage;"
it appears that this project cannot resolve 'reactnativeonesignal'
what should i

[2017-01-17 01:40] eriksape commented on #133
I tested with react-native 0.39 but with the "react-native-onesignal": "^1.2.3"

as I see the 1.2.3 works fine with react-native 0.36

[2017-01-17 09:45] congnguyen91 commented on #119
@avishayil it still occurs on version 2.0.0

[2017-01-17 15:06] stefanoTron commented on #136
did anyone make it work? thanks

EDIT:
My bad, forgot to set the ```sender id``` in ```android/build/app/build.gradle```

[2017-01-17 23:15] MEDLJosh commented on #139
I had the same issue. I was able to fix it by changing the import statements from
#import <React/RCTBridgeModule.h
to
#import "RCTBridgeModule.h

I had to do this for a couple of different import statements. Once I changed them, the project build fine.

[2017-01-17 23:34] #139 closed, assigned to nobody

[2017-01-18 00:50] GeoffreyPlitt opened #141 "onNotificationReceived() and onNotificationOpened() never fire"
Hello,

I'm using RN=0.39 and 3.0.0 of this lib.

On the client side, configure()  succeeds and I see a UserId and push token.

On the server side, I'm using https://github.com/SeVeNDuS/node-onesignal-api, and I'm successfully sending a notification to the client's UserId, receiving a successful response with a messageId, and recipients=1.

However, onNotificationReceived() and onNotificationOpene

[2017-01-18 01:28] MEDLJosh opened #142 "[Question] Can I set a header and a message in OneSignal.postNotification"
I have the plugin working and I can send notifications to a specific user. I pass the contents object to the postNotification method, but the push notification received uses the same message as the header and the body. Is there a way to pass both a title and a message?
[code]

[2017-01-18 01:57] bitcoinvsalts opened #143 "Minimum supported Gradle version is 2.14.1. Current version is 2.14. Android build Error"
I experienced the following error building the app for android:

[code]
I fixed it by changing in android/gradle/wrapper/gradle-wrapper.properties

`distributionUrl=https://services.gradle.org/distributions/gradle-2.14-all.zip`
by
`distributionUrl=https\://services.gradle.org/distributions/gradle-2.14.1-all.zip`

[2017-01-18 08:14] avishayil commented on #143
You're absolutely right, I'll change it in the docs as well.

[2017-01-18 08:14] #143 closed, assigned to nobody

[2017-01-18 08:17] avishayil commented on #141
Hi @GeoffreyPlitt , can you please set up an example project, or let me access into your project?
As for debugging, I suggest going to the iOS / Android project and putting logs to see if the problem is on the native side or JS side.
Start with `RCTOneSignal.m`:

[code]

And see if the log goes well on the XCode logs.

Thanks!

[2017-01-18 08:18] avishayil commented on #140
Try to configure OneSignal outside componentDidMount, like in the example.
Let me know if it works.

[2017-01-18 08:27] avishayil commented on #142
The current API supports `contents` only, i'll work on extending this API to send a `parameters` JSON object instead.

[2017-01-18 08:28] avishayil commented on #127
@nilsers i'll try running your project and will let you know.

[2017-01-18 08:48] avishayil commented on #127
@nilsers,
Please add the following to your target `Header Search Paths` under `Build Settings` on your XCode workspace:
`$(SRCROOT)/../node_modules/react-native-onesignal/ios/RCTOneSignal`
Should build fine, as I tested on your repository.

[2017-01-18 08:58] avishayil commented on #133
@gplopes I added your suggestion to the docs, it should solve the issue.
In any case, I recommend all of you guys to upgrade to `3.0.0`.

Thanks!

[2017-01-18 08:58] #133 closed, assigned to nobody

[2017-01-18 08:58] #127 closed, assigned to nobody

[2017-01-18 09:06] avishayil commented on #136
I'll try to test your repo and will let you know.

[2017-01-18 09:12] avishayil commented on #138
@Kowaio Never tried it myself in my apps actually, but it could be interesting to try. I'll try finding some time to try it and would let you know my findings.

[2017-01-18 09:13] avishayil commented on #119
Can you please set up an example project which the issue persists?

[2017-01-18 09:13] arhmnsh commented on #136
I tried v3, and it seemed to work fine.
But since most of the other plug-ins don't support rn0.40, it'll be
difficult to use it for now.

On Wed, Jan 18, 2017 at 12:06 PM Avishay Bassa <notifications@github.com>
wrote:

[2017-01-18 09:14] arhmnsh commented on #136
@littletower did it work for you?
Which version are you using?

[2017-01-18 09:17] avishayil commented on #136
@arhmnsh I just duplicated your repo on RN 0.39 and `react-native-onesignal` v1.2.3 and it `onNotificationOpened` works just fine.

Please let me know if you have more issues?

[2017-01-18 09:17] #136 closed, assigned to nobody

[2017-01-18 10:10] stefanoTron commented on #136
@arhmnsh yes it works, I'm using v3 with RN 0.40.
make sure you are using the right ```OneSignal id``` and ```Google Sender id```. And make sure your device is connected to the internet, cost me 10min 😄
I had some issues with ios at first though, needed to ```pod update OneSignal```

[2017-01-18 10:18] arhmnsh commented on #136
@avishayil onNotificationOpened works fine, but when you try to setState in there, it doesn't work.

[2017-01-18 10:20] arhmnsh commented on #136
@littletower Yes, it v3 works fine. But the previous versions have this issue. 😲

[2017-01-18 15:31] DCKT opened #144 "[Question] change app-id on JS side"
Hello,

In my app, I have the possibility to switch between environments so I have to switch `app-id`.
Is there a way to do that ?

Thanks for your help.

[2017-01-18 17:27] avishayil commented on #144
I think we can implement something like this, by using build variants on iOS and Android.
Like CodePush does:
https://github.com/Microsoft/react-native-code-push#multi-deployment-testing
@jkasten2 what's your opinion on this?

[2017-01-18 17:43] DCKT opened #145 "library not found for -lPods"
Hi,

I followed the iOS tutorial to setup the plugin but I have this error `ld: library not found for -lPods-test`.
Another strange things is, I have `libPods-test.a` in red in the **Frameworks** folder. I don't really know pods, I changed the `Framework Search Paths` to use `$(inherited)` for warning reason.

Also the `Header Search Path` is correctly set to : `$(SRCROOT)/../node_modules/react-na

[2017-01-18 18:33] GeoffreyPlitt commented on #141
Update: My notification is "queued" in the onesignal dashboard, so that seems to be the culprit, closing. Thanks for the help anyway!

[2017-01-18 18:33] #141 closed, assigned to nobody

[2017-01-18 18:49] MEDLJosh commented on #142
@avishayil That would be awesome! Thanks!

[2017-01-18 20:14] GeoffreyPlitt commented on #139
@MEDLJosh What file did you find these imports in?

[2017-01-18 20:28] GeoffreyPlitt commented on #139
Also, can we get a concensus about which version of this library to use? I've seen conflicting suggestions, some people say "everyone should use 3.0.0" and here you say to use 2.0.0. Doesn't it depend on which version of RN we're using?

[2017-01-18 20:33] avishayil commented on #139
Everything is in the docs. RN 40 and up should use v3, RN up to 0.39 should use v2.

[2017-01-18 20:34] avishayil commented on #133
Of course, if you're using RN up to 0.39, please use v2.

[2017-01-18 20:38] GeoffreyPlitt commented on #133
@gplopes Did you ever get it working? I'm having the same problem, with RN=0.39, v2.0.0 of this lib, and I've followed all suggestions about "Linked Frameworks and Libraries" and search paths.

[2017-01-18 21:01] avishayil commented on #133
Can you please provide a repo I can test?

[2017-01-18 21:02] hecontreraso opened #146 "[Question] REMOTE or project number?"
According to the latest documentation, we need to include this lines in build.gradle

[code]

To be totally clear. Do we put "REMOTE" or the google project number?

thanks

[2017-01-18 21:03] avishayil commented on #146
@jkasten2 can you elaborate here?
In any case, I'm personally using Google project number in my apps and it works well.

[2017-01-18 21:05] avishayil commented on #145
Can you please provide a repo with this issue we can take a look at?

[2017-01-18 23:55] jkasten2 commented on #144
@DCKT @avishayil Yes, I recommend setting these values in gradle. See the below issue for an example.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/9

[2017-01-18 23:57] jkasten2 commented on #146
@hecontreraso @avishayil The `onesignal_google_project_number` field is ignored as is pull from the OneSignal dashboard now starting with version 3.4.0 of the Android OneSignal native SDK used by this SDK.

[2017-01-19 00:24] jkasten2 commented on #138
@Kowaio @avishayil Just added details for this in a new section on the bottom of the page.
https://documentation.onesignal.com/docs/customize-notification-icons#section-small-icon-color

[2017-01-19 01:30] GeoffreyPlitt commented on #139
I am still having these errors with RN=0.39 and v2.0.0 of this lib.
[code]

I created a branch of a minimal RN project here, where you can run ```react-native run-ios``` to see these errors: https://github.com/GeoffreyPlitt/react_native_minimal/tree/onesignal

[2017-01-19 01:39] GeoffreyPlitt commented on #133
I tried to reproduce this in a minimal repo and ran into another error (#139). Maybe you can create a fork of https://github.com/GeoffreyPlitt/react_native_minimal and show us a version that works? If not, I'll reproduce this once I get past the other error.

[2017-01-19 01:45] jkasten2 commented on #126
@pabloppp @avishayil

#### Persistent notifications
1. I am not sure I fully understand the behavior your looking for here. Right now with OneSignal tapping on a summary notification will remove it from the shade and the summary with all the sub notifications will be passed to the open even where your app can read them.

2. This is an `ongoing` notification however these are used for currently run

[2017-01-19 01:46] GeoffreyPlitt commented on #127
@mnmeyers Did you ever get it working? I'm having same probs as you, tried everything here, no dice.

[2017-01-19 01:46] GeoffreyPlitt commented on #133
Note: No cocoapods.

[2017-01-19 01:54] adrianha commented on #129
hi, i got this error when installing on fresh react-native app.
![Err](https://cloud.githubusercontent.com/assets/5382429/22090487/95b80d5a-de24-11e6-994e-ed267d2de2de.png)
I'm using:
+ react-native v0.40.0
+ react-native-onesignal v3.0.0
cc: @avishayil , @jkasten2

[2017-01-19 02:06] mnmeyers commented on #127
@GeoffreyPlitt I'm getting a bunch of different errors now, pasted below. still debugging. I may try just starting on a new branch, and starting over again. will report back. are you still getting the same error or different ones?

![image](https://cloud.githubusercontent.com/assets/10369508/22090755/c16cc2c8-dda8-11e6-959b-a67895aecefe.png)

[2017-01-19 02:27] GeoffreyPlitt commented on #127
Thanks so much for the help! I don't get these errors, no. By the way I'm on XCode 8.2.1, not sure if that makes a difference.

Yes feel free to fork the master branch of https://github.com/GeoffreyPlitt/react_native_minimal to try yourself.

[2017-01-19 03:06] eriksape commented on #133
As i said before, with no cocoapods with v1.2.3 works fine.
I dont know why it needs cocoapods

I will use v3 after dependencies in my project can use react-native 0.40

[2017-01-19 03:37] GeoffreyPlitt commented on #133
I cut a new branch of that minimal project and switched to 1.2.3 of this library: https://github.com/GeoffreyPlitt/react_native_minimal/tree/onesignal_123

I still get the following error, do you get the same error or does it run fine for you?
[code]

[2017-01-19 03:38] GeoffreyPlitt commented on #127
By the way, I have another branch you can fork, which uses v1.2.3 of this lib, and still has those same errors:

https://github.com/GeoffreyPlitt/react_native_minimal/tree/onesignal_123

[code]

[2017-01-19 04:07] hecontreraso commented on #146
Thanks. I'm closing the issue then (:

[2017-01-19 04:07] #146 closed, assigned to nobody

[2017-01-19 04:20] hecontreraso opened #147 "Enable sound/vibration only in certain hours"
Hi guys! Second week building with onesignal for my app, and I think is awesome (:

Now I come to you with a question

I want my app to sound but only in certain hours, which are send from a server. Not sure how to achieve this.
Here's an idea:

Configure onesignal with sound disabled:
[code]
Then when a notification arrives, use _onNotificationReceived_ callback to manually trigger the notificati

[2017-01-19 04:27] eriksape commented on #133
![screen shot 2017-01-18 at 22 25 45](https://cloud.githubusercontent.com/assets/1754290/22093652/1d98a5ac-ddcd-11e6-9efe-dcc922fafbc5.png)
![screen shot 2017-01-18 at 22 25 36](https://cloud.githubusercontent.com/assets/1754290/22093653/1efde9e8-ddcd-11e6-9d0b-081a60c56829.png)

Just fine with all the project, no errors, i will upload an example of it

[2017-01-19 04:27] mnmeyers commented on #127
@GeoffreyPlitt so I realized that those errors I was getting were all in the tests folder so I just deleted them  (right click > delete) from xcode (the remove references option, not true delete) and then the build succeeded. probably those tests are needed for something but.... that's for another day haha

[2017-01-19 04:38] bitcoinvsalts opened #148 "Losing timestamp type values from additionalData in android"
with android, any value of timestamp form additionalData when I receive a push notif on android.

any idea why?

I am using rn0.40 xcode8.2.1 and latest version

[2017-01-19 06:45] avishayil commented on #146
So I understand that Is it possible to remove this parameter from the docs?

On Thu, Jan 19, 2017, 06:07 Esteban Contreras <notifications@github.com>
wrote:

--

[image: --]

Avishay Bar
[image: https://]about.me/avishayb
<https://about.me/avishayb?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2017-01-19 08:00] pabloppp commented on #126
Exactly, I'd like the grouped notification to stay in the notification drawer until I explicitly want to remove it.

---

Regarding local notifications, would there be a way to forward notifications when they are received to choose wether to show it or not? For example:
[code]
or alternatively
[code]

[2017-01-19 08:34] avishayil commented on #133
@eriksape can you please make a PR for updating the docs to use the library without CocoaPods? I'll appreciate it.

[2017-01-19 08:39] avishayil commented on #147
I'm not sure you can achieve that without launching your app, but here's an idea: every time user gets to the app, check the hour and change the setting accordingly. It's not perfect, but if your users are accessing your app multiple times a day, you can somewhat gain more control over it.
Maybe Josh will have a better idea.
@jkasten2

[2017-01-19 08:42] avishayil commented on #148
Hi @jsappme,
Not sure that I completely understood your question?

[2017-01-19 08:51] DCKT commented on #145
Hi @avishayil

Thanks for your reactivity, I tried on clean project and it works properly !
There must be a configuration problem on the other project.

Note: I will update this issue when I found the solution.

Thanks !

[2017-01-19 09:05] derdawid commented on #140
I tried in multiple places

- index.ios.js
- Main component in componentDidMount
- Redux/Saga

The OneSignal.configure is fired but I never received a callback in onIdsAvailable which I need to send the token to my server.

[2017-01-19 09:20] congnguyen91 commented on #119
Thanks you very much @avishayil . I created a refresh project and it works now. Then I try to remove a line by line in my code.
I found the problems => OneSignal.sendTag("userId", userId); in componentDidMount.

[code]

[2017-01-19 09:36] DCKT commented on #145
A little update, I'm getting this error now :
<img width="439" alt="capture d ecran 2017-01-19 a 10 34 06" src="https://cloud.githubusercontent.com/assets/1548421/22101236/e4173d50-de32-11e6-9b40-0218a955acdd.png">

After some research, I found issue about the same things but all are correctly set in `Link Binary with Libraries` and `OneSignal.framework` is also imported in the **Frameworks** fold

[2017-01-19 10:08] jkasten2 commented on #146
@avishayil Unfortunately the `onesignal_google_project_number` key has to exist otherwise gradle will throw an error. This due to the key being in the `AndroidManifest.xml` embed in the .aar. Removing the requirement of the key is on my list of things to change in the next major 4.0 release of the Android native SDK.

[2017-01-19 10:22] jkasten2 commented on #126
@pabloppp That behavior seems a bit odd, to me. I feel the notification should be dismissed after tapping on it as an action is being performed on it. The full details of the summary notification should then be shown to the user. This is how Gmail behaves for example.

---

Had some of the same ideas in mind. However this first needs to be implemented in the native SDKs. Also fallback support for

[2017-01-19 10:26] jkasten2 commented on #147
@hecontreraso @avishayil

I recommend setting the sound name to `nil` on the notification when you want to disable it. It works for both iOS and Android. There isn't a per notification vibration setting at this time.

[2017-01-19 10:40] pabloppp commented on #126
I must disagree on it being the norm, as gmail do not group notifications from different threads, but even if it was the norm, one of the cool things about notifications is how much you can customize them. In Android you can even use an XML layout! So I don't see why I should be forced to close notifications on tap when native notifications do have the option to not do so `notification.flags |= No

[2017-01-19 12:54] pabloppp opened #149 "Unable to cancel notifications in android"
I try to clear a single notification by doing.
[code]
But it doesn't seem to work
On the other hand
[code]
Works, but I am unable to decide what notifications to cancel...

[2017-01-19 13:58] bitcoinvsalts commented on #148
Ok let me explain better. I have a notification coming to my android phone with the following additional data. I am getting this from OneSignal > Message Report.

{"clientId":"h6HY9dI7FmOp2GkLQIZe38DJ04g1","clientName":"Vincent ","createdAt":1484400225607,"image":"https://firebasestorage.googleapis.com/v0/b/fishii-36223.appspot.com/o/posts%2F-KaS8RE_RiOKu1Hoh1eS.jpg?alt=media&token=27e0a7c1-f274-4

[2017-01-19 14:26] eriksape commented on #133
@avishayil Ok i will send a PR today or tommorrow, which version of OneSignal for ios are you using? seems that OneSignal.framework has missing files, I tested with the 3.0.0 just now.

[2017-01-19 16:51] avishayil commented on #146
@jkasten2 Understood. Thanks Josh.

[2017-01-19 16:53] avishayil commented on #148
@jsappme Understood. I'll try to take a look on this next week.
Thanks for reporting!

[2017-01-19 16:55] avishayil commented on #145
@DCKT I can't really tell without looking on the repo closely. Can you provide a repo here or privately with the reproducible issue?

[2017-01-19 16:56] avishayil commented on #140
@ddereszewski Can you please provide a repo with the issue reproduced so I'll be able to take a closer look?

[2017-01-19 16:58] avishayil commented on #119
@congnguyen91 Glad you sorted it out!
Are you able to use `sendTag` outside `componentDidMount`?

[2017-01-19 17:11] bitcoinvsalts commented on #148
Cool thanks

[2017-01-19 17:12] DCKT commented on #145
@avishayil I'm sorry, I'm unable to share the repo. And when I create a new project, I don't have any problem so it's obvioulsy a bug in my project configuration with other plugins.

EDIT: I finally add the `libRCTOneSignal.a` who was missing . It compiles ! But my app shutdown with this error :
[code]

EDIT 2 : this runtime error was due to bad package version (1.2.1), I upgrade to 2.0.0 and it w

[2017-01-19 17:30] avishayil commented on #149
@pabloppp I'll take a look on this.
Thanks for reporting!

[2017-01-19 18:44] avishayil commented on #145
Do you mind if i'll TeamViewer your computer? I would really like to help you on this.

[2017-01-19 18:50] GeoffreyPlitt commented on #133
Yeah I noticed OneSignal.framework is missing header files, which may be the root cause of this issue

[2017-01-19 19:24] jkasten2 commented on #126
True, Gmail groups by account instead of a thread. For a chat app I would recommend setting a different `android_group` to each conversation.

We do have a `NotificationExtenderService` that can be used to fully customize Android notifications. It allows you to fully use anything on the Android `NotificationCompat.Builder` object. However this must be done with native Java code. See our [Backgroun

[2017-01-19 19:27] pabloppp commented on #126
@jkasten2 thanks, I was hoping for a complete react-native (js) solution, but that will do it for now! 🙇

[2017-01-19 19:40] derdawid commented on #140
I have sent you the invitation to the repo. It's in the bitbucket. Project  tennis-mobile-app. Thx a lot.

[2017-01-19 20:55] avishayil commented on #140
@ddereszewski you're on your plan limit on bitbucket and need to upgrade to add users, error message says.

[2017-01-19 21:37] derdawid commented on #140
Just removed other user. You should be able to access now.

[2017-01-19 22:34] avishayil commented on #140
can you grant me push access? I want to create a branch on your repo with the solution.

[2017-01-19 23:57] GeoffreyPlitt commented on #133
Update: @eriksape Was nice enough to fork, fix, and send me a PR, and this branch now works with 1.2.3:

https://github.com/GeoffreyPlitt/react_native_minimal/tree/onesignal_123

However, when I then started using this fix, I noticed that none of my notifications were going through, with the server reporting:

```Error: {"invalid_player_ids":["2ebaf054-acce-4ed6-b927-86fffd9d9c30"]}```

And that I

[2017-01-20 00:03] eriksape commented on #133
in your android/ios JS you need to create the configuration for the onesignal

something like that is in the docs of this repo

[2017-01-20 00:06] GeoffreyPlitt commented on #133
@eriksape I'm already doing Onesignal.configure() successfully, and it is sending me a userId that appears correct.

[2017-01-20 00:11] eriksape commented on #133
but in the https://github.com/GeoffreyPlitt/react_native_minimal/tree/onesignal_123 i can't see you doing the configure. Also as I know when the ID is invalid you need to generate new ID.

[2017-01-20 00:16] GeoffreyPlitt commented on #133
Oh yes, sorry to confuse you-- I was just using that repo to fix build issues, I have another (private) project where I'm really using this stuff.

When the ID is invalid, how do you generate a new ID? Please keep in mind, I didn't save this ID somewhere, I'm not using an old one. I'm using the one that was generated on the most recent app load, when I called configure().

[2017-01-20 00:16] GeoffreyPlitt commented on #133
If needed, I'll add the configure step to that repo to show you

[2017-01-20 02:02] congnguyen91 commented on #119
Yes, I am @avishayil . I don't know what happen But the first screen contains a map view which should finish loading before do something like routing to second screen. I guess that some function of OneSignal need prepare something. Maybe it lacks of condition for running these functions.

I appreciate that this module has used 'autoregister' before. I suggest that it should remove asking permissio

[2017-01-20 04:25] jakecraige commented on #139
I recently discovered the the header wasn't being properly added to the `ios/Pods/Headers/Public/OneSignal` path which is why I got this error. I had to remove `use_frameworks!` from my Podfile to get it working. Thankfully I didn't need that yet but not sure which approach I'd take if I did.

[2017-01-20 04:57] congnguyen91 commented on #119
I found a problems. if request permission isn't accepted => 'OneSignal.configure' doesn't return result of 'onIdsAvailable'.  So I think You should add a warning whether the configure failed or not.
Another option is we can return a promise after requestPermission then we can config
[code]

[2017-01-20 07:51] kelvinaliyanto opened #152 "Build Error Without Using CocoaPods"
When we opt to not use CocoaPods, does the current react-native-onesignal 3.0.0 working with react-native 0.40? I keep getting OneSignal/OneSignal.h file not found. The last time I use react-native-onesignal 1.2.3 with react-native 0.34, it is still working without using CocoaPods. Do we have to use CocoaPods when dealing with react-native-onesignal 3.0.0 and react-native 0.40?

[2017-01-20 07:55] avishayil commented on #119
Don't forget iOS will request permissions by default at the first run - but you can request the permissions later if you like.
If you want, you have `checkPermissions` function which returns a callback, to use before calling configure:
[code]

[2017-01-20 07:55] #119 closed, assigned to nobody

[2017-01-20 07:59] avishayil commented on #152
@kelvinaliyanto to be honest, I haven't tried not to use CocoaPods on the new version, but @eriksape have some experience with it and his PR #151 contains some examples i'm about to test and see if it has any problems.
Generally, you don't have to use CocoaPods, you can use Carthage or link the framework yourself, but I suspect that the library is built to be supported with CocoaPods, because of t

[2017-01-20 08:05] kelvinaliyanto commented on #152
@avishayil if we opt to not use either CocoaPods or Carthage, and we choose to link the framework ourself, can you tell me what is your OneSignal Framework version is? I downloaded the latest one at https://github.com/OneSignal/OneSignal-iOS-SDK (v2.3.5). But the framework actually includes OneSignal.h inside the Header folder.

[2017-01-20 08:10] avishayil commented on #152
I'll try to set up a project without CocoaPods and let you know.

[2017-01-20 09:48] gplopes commented on #133
hey @GeoffreyPlitt, I'm jumping back here but I see the conversation is already on the next level. Unfortunately I didn't have time to try again. I hope you guys could figure this out.

[2017-01-20 10:17] DCKT commented on #144
Hello @avishayil @jkasten2

In fact, I would like to have the ability of setting the `id` in the JavaScript (after method call).

[2017-01-20 10:34] #145 closed, assigned to nobody

[2017-01-20 10:37] gitsebs commented on #88
Still getting this error

@note89 May I ask where you placed the two lines?

[2017-01-20 10:41] note89 commented on #88
`android/app/build.gradle` -> `dependencies`
but now i have
[code]

[2017-01-20 10:59] gitsebs commented on #88
@note89 Thank you! All working now.

May I ask why this fixes the problem? Not very experienced with ReactNative/Android dev

[2017-01-20 12:57] derdawid commented on #140
You should have push access now.

On 19 January 2017 at 23:34, Avishay Bassa <notifications@github.com> wrote:

--
Dawid Dereszewski

[2017-01-20 14:50] Lepozepo commented on #152
I am getting the same issue :/

[2017-01-20 15:39] eriksape commented on #133
@GeoffreyPlitt you are right about 1.2.3 it don't register the the token push to one signal, it would be better try with 2.0.0 of this lib with the OneSingnal.framework of this version https://github.com/OneSignal/OneSignal-iOS-SDK/archive/2.3.5.zip

I hope it works

[2017-01-20 15:48] eriksape commented on #133
Yeah guys same steps with 2.0.0 version
<img width="973" alt="screen shot 2017-01-20 at 9 42 43 am" src="https://cloud.githubusercontent.com/assets/1754290/22155503/48daf782-def5-11e6-940c-4b5fe3e5b857.png">

Sorry I tested the 1.2.3 on a simulator when I realized what @GeoffreyPlitt mention that it only compiles OK, use 2.0.0 instead

[2017-01-20 16:09] avishayil commented on #152
I got it to work, going to upload more detailed instructions about this.
@kelvinaliyanto @Lepozepo

[2017-01-20 16:21] Lepozepo commented on #152
Thanks @avishayil :D

[2017-01-20 17:04] avishayil commented on #152
@kelvinaliyanto @Lepozepo

Ok, so the only way I figured so far:
1. Download the most recent `OneSignal.framework` from their website.
2. Drag it to the `Frameworks` folder on your project and mark the `Copy if needed` thing.
3. Drag it from the newly created `Frameworks` folder to `RCTOneSignal.xcodeproj` on your `Libraries` section, mark the `Copy if needed` thing again.
4. Clean and rebuild.

I

[2017-01-20 17:08] avishayil commented on #140
I fixed it in the PR, please let me know if anything goes wrong.
Thanks!

[2017-01-20 17:08] #140 closed, assigned to nobody

[2017-01-20 17:10] avishayil commented on #133
What's the issue here? or it's alot of issues together in the conversation? Anyway, here's my solution for the title of this issue:
https://github.com/geektimecoil/react-native-onesignal/issues/152#issuecomment-274124225

[2017-01-20 18:55] GeoffreyPlitt opened #153 "Build without Cocoapods"
I'm using RN=0.39 and I don't use Cocoapods. I'm able to build v1.2.3. But with v2.0.0 I get:

[code]

This happens even if every single header/framework search path setting is correctly set.

Probably just need to change that path or something; I'm not knowledgeable in XCode/Objective-C so I'm hoping somebody can help fix this.

[2017-01-20 18:58] GeoffreyPlitt commented on #133
I've created a new issue, #153, which captures the work left to fix this.

@avishayil thanks for that workaround, but I'm worried that this will make upgrading harder for me in the future, I'm hoping we can actually fix this properly so everything works out of the box.

[2017-01-20 19:16] eriksape commented on #133
@GeoffreyPlitt  where did you put the OneSignal.framework? notice that with the `$(SRCROOT)/../node_modules/react-native-onesignal` it needs to be inside the react-native-onesignal route

@avishayil the problem with the 2.0.0 is the same solved in the pull request with the 3.0.0

[2017-01-20 19:28] GeoffreyPlitt commented on #133
@eriksape I'm not sure what you're asking, I'm not putting the framework anywhere. I run "yarn install" and the framework shows up under node modules.

After installing v2.0.0, I go into node_modules/react-native-onesignal and look for myself:
[code]

There really is no place where "OneSignal/OneSignal.h" exists. The file "OneSignal.h" exists, but not under a folder called "OneSignal". If we can f

[2017-01-20 19:49] eriksape commented on #133
the OneSignal.framework is the same that is here?

https://github.com/OneSignal/OneSignal-iOS-SDK/archive/2.3.5.zip

[2017-01-20 20:00] GeoffreyPlitt commented on #133
@eriksape I don't know?

Here's a public, minimal repo that reproduces the build error: https://github.com/GeoffreyPlitt/react_native_minimal/tree/onesignal

[2017-01-20 20:01] GeoffreyPlitt commented on #153
Here's a public repo that reproduces this problem: https://github.com/GeoffreyPlitt/react_native_minimal/tree/onesignal

[2017-01-20 21:17] stefanoTron commented on #140
How was this solved? Thanks

[2017-01-20 22:34] derdawid commented on #140
Haven't tested the change yet but looks like @avishayil did following:

- Removed carthage, added cocoapods.
- onIdsAvailable from OneSignal working on index.ios.js.

If using **carthage** is an issue I suggest to highlight this somewhere in the README.md

[2017-01-20 22:42] avishayil commented on #140
I removed Carthage only because I'm more comfortable with CocoaPods and
never used Carthage, not any other reason.

On Sat, Jan 21, 2017, 00:34 Dawid Dereszewski <notifications@github.com>
wrote:

--

[image: --]

Avishay Bar
[image: https://]about.me/avishayb
<https://about.me/avishayb?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2017-01-21 22:25] avishayil commented on #153
Please look at this example:
https://github.com/geektimecoil/react-native-onesignal/tree/master/examples/ios/OneSignalWithoutCocoa

[2017-01-21 22:30] avishayil commented on #152
Please take a look on this example:
https://github.com/geektimecoil/react-native-onesignal/tree/master/examples/ios/OneSignalWithoutCocoa

[2017-01-21 22:30] #152 closed, assigned to avishayil

[2017-01-21 23:52] derdawid commented on #140
I resolve the problem and understood it.

I used in AppDelegate

`#import <OneSignal/OneSignal.h>`
instead of
`#import <RCTOneSignal.h>`
That allows OneSginal to work but not on the react side, therefor non of the function from configure where ever fired.

Switching to CocoaPods where causing another issue as app was crashing on this method

[code]

Resolution for this in your **Podfile** change
[

[2017-01-22 11:12] derdawid opened #154 "How to use callback functions with ES6 generators?"
I want to use redux inside the callback. But to have access to yield function I need to pass Generator function instead of traditional. That doesn't work of course. Any idea how can do it?

Sample code below, which doesn't work but shows the concept

[code]

[2017-01-22 13:43] avishayil commented on #140
@ddereszewski Happy that you managed to find the issue!

[2017-01-22 13:47] #126 closed, assigned to nobody

[2017-01-22 13:50] avishayil commented on #147
@hecontreraso You should do it on the server side:
https://documentation.onesignal.com/reference
Seach for `ios_sound`, and set the hours setting on the server side.
You can send a tag that contains the wanted hours per user and use it on your server side request.

[2017-01-22 13:50] #147 closed, assigned to nobody

[2017-01-22 13:50] avishayil commented on #138
@Kowaio did you have a chance to check @jkasten2 reference?

[2017-01-22 13:51] avishayil commented on #144
@DCKT unfortunately, you won't be able to do it on the JS side.

[2017-01-22 13:51] #144 closed, assigned to nobody

[2017-01-22 13:56] Kowaio commented on #138
Hi @avishayil,

Sorry for the delay. Yes, I tried the first section `To set a default color add the following line to your AndroidManifest.xml.` but didn't see a change after rebuilding the app. Since it can take a while to propagate, I'll retry that in the next few days to be sure it's okay. Thanks again to both of you for adding that feature so quickly though :)

[2017-01-22 17:08] GroupXTech opened #155 "Programmatically control - request IOS permissions - enhancement"
We're experiencing a large percentage of users opting out of push notifications. Ideally we would like to have the pushnotification permission request be delay by one day after the initial app download. From what I can tell all of this is controlled RCTOnesignal.m file.  Can this be reworked to have permissions controlled in the javascript to allow us to set an a flag in async storage to check aga

[2017-01-22 18:05] avishayil commented on #155
@jkasten2

[2017-01-22 18:29] GroupXTech commented on #155
I figured it out. You do have this method available. I missed it in your docs.
 - "Call when you want to prompt the user to accept push notifications. Only call once and only if you passed false to *initWithLaunchOptions autoRegister*:."

[2017-01-22 18:29] #155 closed, assigned to nobody

[2017-01-22 21:49] davidfekke commented on #127
I am DOA. I am having the same error.

[2017-01-22 21:56] mnmeyers commented on #127
@davidfekke which version of one signal and react-native-one-signal are you using and did you try adding the header search paths as suggested above, did that change anything?

[2017-01-23 12:36] avishayil commented on #127
@mnmeyers @davidfekke @GeoffreyPlitt Can you share repositories with the errors reproduceable?

[2017-01-23 13:44] vedovato commented on #122
Hey. Reopening this cause i'm facing this for a week. It works pretty well "standalone" or, in a brand new project without any other integration. After moving it exactly with same code, versions and stuff, this error occurs. Do you know if there's any conflict with wix react-native-navigation package?

[2017-01-23 18:22] GeoffreyPlitt commented on #127
Yes, my repo that reproduces header issues is at https://github.com/GeoffreyPlitt/react_native_minimal/tree/onesignal. Note: Part of my specific problem is that I'm trying to get it working WITHOUT cocoapods; and the error I'm getting is slightly different than the title of this issues, it's about "OneSignal/OneSignal.h" not being found.

Also: Just saw a suggestion on #153  I'm going to try.

[2017-01-23 19:36] GeoffreyPlitt commented on #153
@avishayil This example does not exist in the 2.x branch

[2017-01-23 20:47] bitcoinvsalts opened #157 "OneSignal.inFocusDisplaying(0) not working in iOs"
[code]

gives me on android, **displayType: 0**, and does not show the notification

But with iOS, it gives me, **displayType: 1**, it does show the notification when the app is **isAppInFocus**

[2017-01-23 20:54] bitcoinvsalts commented on #157
I just read the doc again I saw: We exposed the inFocusDisplaying API of OneSignal (Android only).

How can I not display the notification on iOS when the app is in Focus ?

[2017-01-23 22:47] TheIrvingBarajas commented on #152
Hey @avishayil ,

I followed your suggestion and it got rid of my 'OneSignal/OneSignal.h file not found'  error (^.^).
 But I am now getting 'RCTBridgeModule.h file not found' inside RCTOneSignal.h file. Any insight would be greatly appreciated

[2017-01-23 23:05] avishayil commented on #157
in your `AppDelegate.m` you can put the settings dictionary (optional) and change some default OneSignal settings:
[code]

Sorry for the undocumented part in the module, you can find it here, in the official SDK docs:
https://documentation.onesignal.com/docs/ios-native-sdk#section--kossettingskeyinfocusdisplayoption-

[2017-01-23 23:05] #157 closed, assigned to nobody

[2017-01-23 23:20] avishayil commented on #152
Can you provide access to a repo with the issue?

[2017-01-23 23:24] TheIrvingBarajas commented on #152
Unfortunately, I am unable to at this time.

[2017-01-24 02:32] adrianha opened #158 "Error installing react-native-onesignal on fresh RN project"
Hi @avishayil ,
Just wanna follow up issues that i've posted before. #129
Could you please check it out?
Thank you

[2017-01-24 05:15] avishayil commented on #129
Could you please post a repo for this?

[2017-01-24 05:16] avishayil commented on #158
Let's continue there.

[2017-01-24 05:16] #158 closed, assigned to nobody

[2017-01-24 05:37] avishayil commented on #152
What version of RN are you using, and what version of `react-native-onesignal`?

[2017-01-24 09:06] adrianha commented on #129
I'm sorry @avishayil. There's some mismatch configuration, its working now.
Thank you for your attention.

[2017-01-24 10:14] haxtrujillo commented on #133
Has any body been able to solve this problem? running into the same issue.  React 0.40.0  + OneSignal 3.0

[2017-01-24 11:08] junshengpierre opened #159 "Error setting launchOptions autoRegister to false in iOS"
Hi,

I get the following error on Xcode when passing `autoRegister:false` to `initWithLaunchOptions` to allow me to manually request notifications permission on iOS:

`No visible @interface for 'RCTOneSignal' declares the selector 'initWithLaunchOptions:appId:autoRegister'`

Without `autoRegister:false` everything works fine.

react-native: 0.39.2
react-native-onesignal: 2.0.0
Installed with cocoa

[2017-01-24 12:27] bitsal opened #160 "Apple Mach-O Linker Error in example app"
I can't run example app in XCode tool.
<img width="1191" alt="screen shot 2017-01-24 at 3 25 10 pm" src="https://cloud.githubusercontent.com/assets/5635839/22247163/65560cf6-e249-11e6-848f-633aeaedc1f5.png">

Steps:

1. clone the repo
2. switch to tag `v3.0.0`
3. Go to `examples/OneSignalRNExample`
4. `npm i`
5. `cd ios && pod install`
6. go to XCode and press Run

Could you help me to find where

[2017-01-24 13:32] logileifs commented on #103
Where can I find documentation on how to use the new ios rich notifications?

[2017-01-24 17:54] haxtrujillo commented on #133
Ok, I solved my problem, this is a temporary fix. There are a fews symlinks in [OneSignal.framework](/geektimecoil/react-native-onesignal/tree/master/ios/Frameworks/OneSignal.framework).
![onesignal](https://cloud.githubusercontent.com/assets/16823372/22259666/0c9ba194-e21b-11e6-8fd9-7588d18c5082.png)

 When we run `npm install` those directories are missing. **Downloading them from the project an

[2017-01-24 18:00] haxtrujillo opened #161 "OneSignal/OneSignal.h file not found"
There was and issue already opened and closed, but this is still and issue. See [issue 133](https://github.com/geektimecoil/react-native-onesignal/issues/133).

[My comment](https://github.com/geektimecoil/react-native-onesignal/issues/133#issuecomment-274882528) on the issue describes the problem.

React Native 0.40.0 OneSignal 3.0

[2017-01-24 18:58] avishayil commented on #160
Did you Run from the XCode project or workspace?
Make sure you entered the workspace.

[2017-01-24 19:03] avishayil commented on #159
That's our fault, the docs are not updated with the right parameter. `autoRegister` is not available anymore since version `2.0.0`. Instead, you have another settings parameters.
Please see my answer here:
https://github.com/geektimecoil/react-native-onesignal/issues/157#issuecomment-274646754

[2017-01-24 19:05] avishayil commented on #161
So basically it means that the framework is not updated on the module, if you choose not to use CocoaPods. Am I correct?

[2017-01-24 19:08] avishayil commented on #160
By the way, the full example is updated to RN 0.32, which is compatible with version `v1.2.3`. I definitely need to update it to RN 0.40.

[2017-01-24 19:12] GeoffreyPlitt commented on #133
Thanks. It doesn't really help us because our builds go through a CI system and we have scripts that do fresh check-outs. Excited to get this fixed!

[2017-01-24 22:13] haxtrujillo commented on #161
Yes, I think that is correct. I am not using CocoaPods.

[2017-01-24 23:08] avishayil commented on #161
I see. The current problem is that I can't find any way to make the library recognize the framework if it's **outside** the library, for example in the `Frameworks` group on the Xcode project. That makes the library dependent on a specific version of the framework, rather than adding it manually.

[2017-01-25 03:15] junshengpierre commented on #159
Hi @avishayil,

I managed to get it working with:
[code]

Thanks for the help!

[2017-01-25 03:15] #159 closed, assigned to nobody

[2017-01-25 06:39] adrianha opened #162 "onNotificationOpened not triggered on componentDidMount"
Hi,
onNotificationOpened wont be triggered when i configure OneSignal inside componentDidMount. Any idea how to solve this? because i need to access navigator inside the class to do a navigation

[2017-01-25 06:59] oun opened #163 "Undefined symbols for architecture x86_64"
Hi I got this error when building iOS with cocoa pods:

  "_OBJC_CLASS_$_RCTOneSignal", referenced from:
      objc-class-ref in AppDelegate.o
ld: symbol(s) not found for architecture x86_64

I use RN 0.40, one-singal pod v2.3.5 and react-native-onesignal v3.0.0 and follow the installation guide.

[2017-01-25 07:35] junshengpierre opened #164 "Unable to make android notifications appear as banner"
Hi,

I am trying to get android notifications to appear as a banner. I have tried inFocusDisplaying(2) but it only showed up in the notification drawer whether the app was in focus or not.

I was able to get iOS notifications to appear as a banner and show up in the notification drawer with `kOSSettingsKeyInFocusDisplayOption: OSNotificationDisplayTypeNotification` regardless of app focus.

Is the

[2017-01-25 16:02] parkdcom commented on #122
I got the same issue when I updated from 1.2.1 to 2.0.0. We didn't have this issue before.

W/ReactNativeJS( 6935): Possible Unhandled Promise Rejection (id: 7):
W/ReactNativeJS( 6935): false is not a function (evaluating '_this.onError(args)')

[2017-01-25 21:07] logileifs commented on #160
I'm also encountering the same bug in a project with react-native version 0.37. Installed using Cocoapods and followed all the installation instructions. The weird thing is that when I did the same in a clean project with same version it worked.

[2017-01-25 21:51] avishayil commented on #164
Hi @junshengpierre ,
By saying "as a banner", what exactly you mean?
What you are describing here is the normal behavior, I think.
Can you elaborate more on this / upload a screenshot with the expected behavior?
Thanks!

[2017-01-25 21:55] avishayil commented on #162
I'm not familiar with all navigator types, but you could solve it in a couple of ways, as this issue appeared in previous versions of this library:
1. Using RNRF - I never experienced any problem with it and `OneSignal`.
2. Initialize your navigator class and check if it exists before making an action based on the payload. If it is, do the action. If not, try again in 1 second (Maybe use `setInter

[2017-01-25 21:57] avishayil commented on #163
Could you please share your repo so we can test it closely and figure out what the issue is?
Similar issue:
https://github.com/geektimecoil/react-native-onesignal/issues/18

[2017-01-26 00:43] GeoffreyPlitt commented on #153
@avishayil Please re-open, this was a false fix

[2017-01-26 00:54] vedovato commented on #161
Hey, found a repo with hints for you. Made my code work again.
https://github.com/eriksape/react-native-onesignal#faq-repeating-issues

[2017-01-26 03:24] junshengpierre commented on #164
Hi @avishayil,

With `inFocusDisplaying(2)` on android, when a notification is received on android, it shows up as an icon on the extreme left corner of the status bar and in the notification shade.

<img width="200" alt="screen shot 2017-01-26 at 10 50 33 am" src="https://cloud.githubusercontent.com/assets/14052341/22319327/a54aa294-e3bc-11e6-9c13-f522b8b1deed.png">

I was trying to make the noti

[2017-01-26 03:24] oun commented on #163
Finally It's working now. I look into the example projects with cocoa pod and found that it has react native onesignal xcode project under libraries and add libRCTOneSignal.a under Link binary with Libraries.

This is my config. Hope this help others!.
![onesignal](https://cloud.githubusercontent.com/assets/286253/22318994/8017b954-e3b1-11e6-81b6-89bd6f3dcfc9.jpg)

Thanks

[2017-01-26 05:33] jkasten2 commented on #164
@junshengpierre ~To get a head-up notification like this you need to set the `priority` of the notification to `10`. This can be done with the OneSignal create notification REST API call noted below.
https://documentation.onesignal.com/reference#section-delivery~
**Update**
You must create a notification category / channel to change the display priority of the notification to show the notification

[2017-01-26 06:18] junshengpierre commented on #164
@jkasten2 Alright, I'll go ahead and do that. Thank you!

[2017-01-26 06:36] haxtrujillo commented on #161
@avishayil,

I not really familiar with objective-c, I really wish I could help solve the problem.
Could there be an update to the documentation to let people know about the issue?

In the mean time I copied the OneSignal.framework directory into my ios project with the right "Header" directory and "OneSignal" file and changed the "Framework Search Paths" to point to it.

I will have to keep and e

[2017-01-26 06:38] avishayil commented on #163
Great! Just for you to know, react-native link should do the trick for you.

[2017-01-26 06:38] #163 closed, assigned to nobody

[2017-01-26 06:55] dguillamot commented on #161
@haxtrujillo Also running into this issue when not using CocoaPods. Which Header file and OneSignal file did you change to make this work via direct import instead of the official README instructions? Thanks!

[2017-01-26 07:19] haxtrujillo commented on #161
@dguillamot  make sure to set the "Header Search Paths" and "Header Search Paths", copy the files from version "B" (Current) two levels up.

<img width="267" alt="screen shot 2017-01-25 at 11 13 26 pm" src="https://cloud.githubusercontent.com/assets/16823372/22323004/938b215e-e354-11e6-9499-aa75e705dcb1.png">

[2017-01-26 10:37] bitsal commented on #160
@avishayil When I run it from workspace it starts working. My fault.
BTW,
I would like to see an example with 0.40.0 react native.

[2017-01-26 11:07] #160 closed, assigned to avishayil

[2017-01-26 11:08] avishayil opened #165 "Update example app to RN 40"
Make examples for:
1. RN 0.40 with `CocoaPods`.
2. RN 0.40 without `CocoaPods` (framework).
3. RN 0.40 with `Carthage`.

[2017-01-26 11:12] avishayil commented on #162
Also, I might be thinking to make this a React `Component`, rather than regular `import`. I'm not sure if it'll be the right direction, because it can cause some troubles. For example, if you configure only after the component was mounted, you can miss the payload.

@jkasten2 What do you think? can we do something about it?

[2017-01-26 11:13] avishayil commented on #161
I'm still wondering how to solve it without this "ugly" way. @jkasten2 can you help here?

[2017-01-26 11:14] avishayil commented on #122
@vedovato @getconcar Can you please share a repo with the problem reproduced?

[2017-01-26 11:16] avishayil commented on #154
@ddereszewski Not that familiar with this syntax, but if someone can make a PR in order to make this component fully support `redux`, it would be great. Until then, i'm closing this issue.

[2017-01-26 11:16] #154 closed, assigned to nobody

[2017-01-26 11:33] bitsal commented on #161
I have the same issue, plus React/<...>.h not found.
<img width="1131" alt="screen shot 2017-01-26 at 2 31 54 pm" src="https://cloud.githubusercontent.com/assets/5635839/22329876/60e22bdc-e3d4-11e6-8dc0-823bb61429fc.png">

[2017-01-26 11:40] rustykey commented on #161
<img width="658" alt="screen shot 2017-01-26 at 7 37 18 pm" src="https://cloud.githubusercontent.com/assets/13249523/22330011/fb7dfb10-e3fe-11e6-8456-eb388c555609.png">

I also have same issue with React-Native 0.4.0,

After install some plugin(react-native-firestack), suddenly it happens.

[2017-01-26 11:51] dguillamot commented on #161
@rustykey @bitsal

I had to do 2 separate things to get it working:

0 - I created a subfolder in my main project folder (where the xcode workspace file is) called /ios/OneSignal

1 - Then, similar to what haxtrujillo said above, in the node_modules/react-native-onesignal/ios/Frameworks  folder, you can double-click / expand the OneSignal.framework file. Inside there is a Versions/B subfolder. Sel

[2017-01-26 12:08] logileifs commented on #160
Can this issue be re-opened? I'm still encountering this bug. I can provide more details if needed

[2017-01-26 14:37] logileifs commented on #160
For me it worked to add "${PODS_ROOT}/OneSignal/iOS_SDK/Framework" to `any architecture` in Framework search paths.

![screen shot 2017-01-26 at 14 34 36](https://cloud.githubusercontent.com/assets/2317815/22335040/f38bd640-e3d4-11e6-8d36-4b50f74f52e9.png)

[2017-01-26 18:52] bitsal commented on #160
I'm using pod this line was added automatically I guess. At least there is nothing in *.xcodeproj file.

[2017-01-26 19:32] bitsal commented on #161
Thank you @dguillamot !

I've done it in a bit different way but sense is the same I guess
**package.json**:
[code]

P.S.:
@avishayil
I noticed in RCTOneSignal project's **Header Search Paths** a line like this `"$(SRCROOT)/../../../ios/Pods/Headers/Public/OneSignal"`.
It seems library requires me to have `node_modules` and `ios` folders on the same level. In some cases (when project structure is

[2017-01-26 19:56] adrianha commented on #162
i think using setInterval is not reliable for checking the payload from push notification. Could you please give example using react-native-onesignal and RNRF @avishayil ?

[2017-01-27 00:30] jkasten2 commented on #161
There hasn't been a `Versions/B` folder since version `2.1.5` of the native iOS OneSignal SDK. Can you check to make sure your pulling in the latest OneSignal.framework? Currently `2.3.5 ` is that latest.

[2017-01-27 04:20] bitsal commented on #161
@jkasten2 right, `2.3.5` version now
I'm sure because I many times run
[code]

BTW,
[code]
**Podfile:**
[code]
but actually it installs `2.3.5`, I see it in the console output

[2017-01-27 05:08] haxtrujillo commented on #161
@jkasten2,
I am using React Native 0.40.0, OneSignal 3.0 and no CocoaPods.

[2017-01-27 06:56] bitsal commented on #161
@jkasten2
You are right. There is no `Versions/B` folder in `ios/Pods/OneSignal/iOS_SDK/Framework/OneSignal.framework/Versions/`:
[code]

but `Versions/B` is still here `node_modules/react-native-onesignal/ios/Frameworks/OneSignal.framework/Versions/`

**package.json**
`"react-native-onesignal": "3.0.0",`

[2017-01-27 17:26] logileifs opened #166 "Can you post a p2p notification with a later date/time ?"
I want to be able to register a remote notification to the current device from my app that will be fired at a later date. I can't see anything about it in the documentation, is that possible somehow? If not, is it something that could be implemented?

[2017-01-29 18:46] ghost opened #167 ""library not found for -lPods""
Hello friends, when I try to run the project I get the following error: "clang: error: linker command failed with exit code 1 (use -v to see invocation) "library not found for -lPods"
react native v: 0.39
react-native-onesignal ":" ^ 2.0.0 ".
pod v: 1.2.0,
OneSignal: (2.3.5)

[2017-01-29 22:36] avishayil commented on #167
Hi @kamish770 are you running the Xcode workspace? since from your error it seems that your'e running the project form the Xcode project file, which is wrong after using `CocoaPods`.

[2017-01-30 03:18] adrianha commented on #162
hi @avishayil , apparently it was not being called because i did some synchronous checking to API when app started/resumed. everything is good now. Thank you

[2017-01-30 06:00] #162 closed, assigned to nobody

[2017-01-30 06:03] #167 closed, assigned to nobody

[2017-01-30 10:40] almadsen opened #169 "Can build debug, but can´t build release."
I have no problem building and running debug, but getting 3 errors when trying to build a release.
I've like & installed pods and all that, since it's running and receiving notifications in debug mode I'll take it's setup some what in the right way.
But no release and thats kinda a problem, so any one that could help me figure out what's wrong here?

![skarmavbild 2017-01-30 kl 11 32 20](https://c

[2017-01-30 14:22] almadsen commented on #169
Sort of found solution to it, just deleted build scheme and then re-created.

[2017-01-30 14:22] #169 closed, assigned to nobody

[2017-01-30 14:40] almadsen opened #170 "Receiving Notifications when locked screen?"
Is it posible to somehow receive, and/or display notification in any way when the device's screen is locked (and inactive)?

I get notifications when app is opened, in background and even when closed on my iOS device but it doesn't seem to register anything when closed and screen is locked (and inactive).

Anyone any thoughts on this, couldn't really find anything in OneSignals docs on this.

[2017-01-30 15:29] THPubs opened #171 "How to delete a user?"
How to remove the user from OneSignal when the user logs out?

[2017-01-30 23:03] almadsen commented on #170
Nevermind, found a way to do it. Just haven't played around with the settings enough I guess.

[2017-01-30 23:03] #170 closed, assigned to nobody

[2017-01-31 11:14] gorgekara opened #172 "Not getting iOS push token"
I've followed your installation instructions and hit a wall with the CocoaPod installation.

After finding the solution here: https://github.com/geektimecoil/react-native-onesignal/issues/72 - i've reverted the OneSignal pod version to 1.13.2 and the build passed. However i can't get the push token generated when i request it in the app - and is not sent to OneSignal - i can't see it in the users

[2017-01-31 12:52] ghost opened #173 "disable alerts"
I want to cancel the alert when the application is open. Have only external alarms.

My code:

`OneSignal.configure({
  onIdsAvailable: function (device) {
    getUserId(device.userId);
  },
  onNotificationReceived: function (notification) {
    permissions = {
        alert: false,
        badge: true,
        sound: true
    };
    OneSignal.requestPermissions(permissions);
  },
  onNotificatio

[2017-01-31 23:36] jkasten2 commented on #161
The issue seems to be missing symlinks from the 3.0.0 release tag.

@avishayil I noticed that the `v3.0.0` tag is missing them but master has them.
https://github.com/geektimecoil/react-native-onesignal/tree/v3.0.0/ios/Frameworks/OneSignal.framework
https://github.com/geektimecoil/react-native-onesignal/tree/master/ios/Frameworks/OneSignal.framework

The native iOS SDK repo also has symlinks here.

[2017-02-01 10:03] davidrojo opened #175 "Error "Could not find support-annotations.jar" when building android"
Hello,

I am receiving this error when trying to run on android or to build the apk:

[code]

This is my packages.json

[code]

[2017-02-01 20:04] avishayil commented on #175
Hi @davidrojo ,
Can you please make sure that you had installed Android Support Library from the SDK Manager?

[2017-02-01 20:05] avishayil commented on #173
Hey @kamish770 , is this on iOS or Android?

[2017-02-01 20:07] ghost commented on #173
ios

[2017-02-01 20:09] avishayil commented on #172
Hi @gorgekara , did you allow push notifications when running the app when you get the alert?

[2017-02-01 20:10] avishayil commented on #171
Hi @THPubs , what do you mean by saying "remove the user".

[2017-02-01 20:20] avishayil commented on #173
Please see https://github.com/geektimecoil/react-native-onesignal/issues/157#issuecomment-274646754

[2017-02-01 21:36] avishayil commented on #166
Hi @logileifs , I don't think you can do it using the library, but you could always send it to another micro application that would be activated by a cron job, that will call the api on the right time.

[2017-02-01 23:16] avishayil commented on #161
@jkasten2 There you go, in this project at the `examples` branch:
https://github.com/geektimecoil/react-native-onesignal/tree/examples/examples/RNOneSignalFramework

Try to build this project, it says it's missing the header files.

[2017-02-01 23:24] avishayil commented on #165
1. Done.

[2017-02-02 00:17] logileifs commented on #166
thanks for your suggestion @avishayil. I actually found another simpler/better solution, I use your SDK to configure the client app but then I schedule my notifications by making HTTP calls to the opensignal web API since it has a parameter where you can specify the time/date of the notification

[2017-02-02 02:30] jkasten2 commented on #161
@avishayil I did a fresh clone and following the instructions below but didn't run into a missing `.h` issue.
https://github.com/geektimecoil/react-native-onesignal#running-example-project

Note: The instructions should be `cd OneSignalRN` instead of `cd OneSignalRNExample`.

Ran the project from both the terminal as the instructions noted and built from Xcode directly by opening the `RNOneSignal.

[2017-02-02 06:32] avishayil commented on #161
Hi @jkasten2, no problem when building a project with CocoaPods. Problem is when trying to build a project with the framework without CocoaPods.

[2017-02-02 06:33] #166 closed, assigned to nobody

[2017-02-02 06:34] avishayil commented on #166
Great!

[2017-02-02 08:25] davidrojo commented on #175
Hi @avishayil

These are my versions and libraries installed.

[code]

As you can see, the Android Support Repository is installed. (https://developer.android.com/topic/libraries/support-library/setup.html#add-library)

I've also created a fresh install in other machine and it works fine, but not  in my machine. Also the url at the error (https://jcenter.bintray.com/com/android/support/support-ann

[2017-02-02 08:29] avishayil commented on #175
Let me try to help. Can you upload a repo with the issue reproduced?

[2017-02-02 08:29] #173 closed, assigned to nobody

[2017-02-02 08:56] ranjithnori opened #176 "Unable to get the example working"
I cloned the repo and tried to run the examples like its mentioned in the docs but I couldn't. It seems like I'm missing something here. Can someone help me out ?

Here's the error message:

The build fails on xcode with the following error.

OneSignal pod version : 1.13.3

![screen shot 2017-02-02 at 4 14 34 pm](https://cloud.githubusercontent.com/assets/4106656/22546352/bccd015e-e962-11e6-90d1-d

[2017-02-02 09:41] yogiben opened #177 "Since upgrading to 0.30 (RN 0.40) cannot find header file OneSignal/OneSignal.h"
Since an upgrade to 0.30, getting missing header errors on both run and build.

![image](https://cloud.githubusercontent.com/assets/1703155/22544231/3262cbee-e934-11e6-8af5-45e26aecdd00.png)

[2017-02-02 09:51] davidrojo commented on #175
Hello @avishayil, it seems that I've found the error.

Updating gradle in build.gradle and gradle-wrapper.properties seems to work:

[code]

What I don't know is why in the other machine it was working, it's like it was using the installed gradle version instead of the defined in these files. I don't really know how gradle and the compiling process works.

[2017-02-02 10:52] kelset commented on #164
Hey @jkasten2 I tried going for your hint by posting to the OneSignal REST API (via RoR) with this params:

[code]

but it doesn't create a head-up notification, in my tests.
I've been using an Android 6.0 real device, RN 0.38 and `react-native-onesignal 1.2.3`.

Is it somewhat related to the config param `enableInAppAlertNotification`? Does it have to be set to `false`?

[2017-02-02 12:12] avishayil commented on #175
Well, you know what they say - if it's not broken, don't fix it. Happy you got the solution.

[2017-02-02 12:12] #175 closed, assigned to nobody

[2017-02-02 17:05] kelset commented on #133
Hey @haxtrujillo can I ask you to clarify a bit? I mean, where do you download those symlinks from? The first link you give to OneSignal.framework doesn't show them.
Second, you show a screenshot but I'm not sure, is that the `./node_modules/react-native-onesignal` folder?

[2017-02-02 17:23] abhitheawesomecoder opened #178 "libRCTOneSignal.a not found"
![screen shot 2017-02-02 at 10 51 39 pm](https://cloud.githubusercontent.com/assets/3944526/22560387/6609745a-e99a-11e6-864c-a31b0380f2f3.png)

[2017-02-02 17:44] avishayil commented on #176
Hi @ranjithnori , your pod version is too Old.
`cd ios && pod update` should solve the problem.

[2017-02-02 17:45] avishayil commented on #178
I think it's the same problem as #176

[2017-02-02 17:46] avishayil commented on #177
Can you share a repository with the reproduced error?

[2017-02-02 19:43] haxtrujillo commented on #133
@kelset,

[I opened a new issue](https://github.com/geektimecoil/react-native-onesignal/issues/161), It has more information and how temperately solve it.

The header files are in the versions directory, you have to test what version works for your project.

[2017-02-02 19:52] GeoffreyPlitt commented on #161
I mentioned this before, forgive me if this is a duplicate but: One of the problems is that the header file ```OneSignal.h``` IS in the repo, but they are not under a folder called "OneSignal" which is how they are referenced.

[2017-02-02 20:03] eriksape commented on #161
@avishayil is still the problem without cocoa?, sorry for didn't notice it, let me see guys and am going to let you know :)

[2017-02-02 21:16] jkasten2 commented on #164
@kelset You will need to use the latest 3.0.1 react-native-onesignal SDK. This is required since the feature was added in a recent Android Native SDK update.
https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.4.0

[2017-02-03 00:22] avishayil commented on #161
@eriksape yep

[2017-02-03 00:24] avishayil commented on #154
Hi @ddereszewski, check out this branch. It's WIP, but you'll find better support for redux here.
https://github.com/geektimecoil/react-native-onesignal/tree/dev

[2017-02-03 05:57] ranjithnori commented on #176
Thanks for the quick response, that fixed it! :)

[2017-02-03 05:57] #176 closed, assigned to nobody

[2017-02-03 06:38] avishayil commented on #162
@adrianha please check https://github.com/geektimecoil/react-native-onesignal/tree/dev branch, it now tests new module structure to allow using the listeners on React `Component` lifecycle events.

[code]
And removing listeners is necessary of course, on `ComponentWillUnmount`.
Check the example here:
https://github.com/geektimecoil/react-native-onesignal/blob/e8359ddc1e34ccf90aac4a049d50a60775737

[2017-02-03 09:39] avishayil commented on #138
@Kowaio did you manage to sort this out?

[2017-02-03 09:41] avishayil commented on #122
@vedovato @getconcar Did you sorted the issue?
Generally speaking, This error occurs when you have problems with internet connectivity.
This should be fixed on the https://github.com/geektimecoil/react-native-onesignal/tree/dev branch in the meanwhile.
Can you follow this instructions there?

[2017-02-03 09:42] avishayil commented on #171
@THPubs this should answer your question.
http://stackoverflow.com/questions/40367689/is-there-a-way-to-delete-a-user-via-api-for-onesignal

[2017-02-03 09:42] #171 closed, assigned to nobody

[2017-02-03 09:43] avishayil commented on #177
Hi @yogiben did you manage to sort this out?

[2017-02-03 09:44] avishayil commented on #178
Hi @abhitheawesomecoder did you manage to get around this issue? Would you like to share a repo with the issue reproduced?

[2017-02-03 09:44] avishayil commented on #172
@gorgekara Did you manage to work this issue out? I recommend following the latest instructions.

[2017-02-03 09:44] abhitheawesomecoder commented on #178
Yes, you we're right about the issue
On 03-Feb-2017 3:14 pm, "Avishay Bar" <notifications@github.com> wrote:

[2017-02-03 09:46] avishayil commented on #178
Great!

[2017-02-03 09:46] #178 closed, assigned to nobody

[2017-02-03 09:54] gorgekara commented on #172
Hi, i followed the latest instructions and it worked. Thanks!

[2017-02-03 09:54] #172 closed, assigned to nobody

[2017-02-03 10:11] Kowaio commented on #138
Hello @avishayil,
So sorry, I forgot to get back to you. So yeah it worked as expected. Thanks again to both of you. Closing this one now!

[2017-02-03 10:11] #138 closed, assigned to avishayil

[2017-02-03 10:58] avishayil commented on #138
Great!

[2017-02-03 10:58] avishayil commented on #172
Great!

[2017-02-03 14:39] Ouadie opened #179 "Update the documentation for initWithLaunchOptions autoRegister"
The `autoRegister` is not present in the last version of OneSignal it's replaced with `
settings:@{kOSSettingsKeyAutoPrompt: @false}`

[2017-02-03 14:48] eriksape commented on #161
@avishayil I don't know what happen, my method to insert is still Ok, as I see cocoa pods do the same thing but automatically and downloading a lot of packages with the last version of OneSignal-iOS-SDK as said by @jkasten2 is the 2.3.5, know you downgrade the version of the sdk now?

[2017-02-03 16:43] avishayil commented on #179
Could you set a PR? If not I'll do it tomorrow.

[2017-02-04 00:21] avishayil commented on #179
https://github.com/geektimecoil/react-native-onesignal/commit/cf883d889b83392215cc4d8fe6220c6b9e10b0c5 fixes this.

[2017-02-04 00:21] #179 closed, assigned to nobody

[2017-02-04 11:08] kelset commented on #164
So it won't work even in version 2.0?

[2017-02-04 14:15] avishayil commented on #177
Closing this for now, let me know if you have any issues. Thanks!

[2017-02-04 14:15] #177 closed, assigned to nobody

[2017-02-04 17:11] kelset commented on #161
Guys I have the header issue when using v2 and Cocoapods :/ Any hint on why? Should I create a dedicated issue?

[2017-02-04 17:40] avishayil commented on #161
I'll have a look on v2 this week.

[2017-02-04 18:09] egunsoma commented on #127
Hello guys,

@mnmeyers @davidfekke @GeoffreyPlitt

I had the same issue, and adding
```$(SRCROOT)/../node_modules/react-native-onesignal/ios/RCTOneSignal```
to ```Header Search Paths``` in ```Build Settings``` solved my problem.

Make sure you set them for ***recursive***!!! Did not worked until I changed that.

[2017-02-05 15:06] sriraman opened #180 "Is there a way to get the previously received notifications?"
I want to get all the list of notifications which are cleared by the user without clicking on it. I can view those notifications in the Onesignal.db. But, I couldn't find the way to get the notifications through `OneSignal` API.

[2017-02-05 17:30] #122 closed, assigned to nobody

[2017-02-05 18:03] avishayil commented on #180
https://documentation.onesignal.com/reference#view-notifications
I think that's all you can do, but they are not user-specfic.
I think the best you can do is to track them by yourself with `onNotificationReceived` and `onNotificationOpened`